.test[data-drag-id="test"] {
    height: auto;
    [data-drag-target] {
        height: 30rem;
    }
    [data-drag-object] {
        width: 5rem;
        height: 5rem;
        
    }
}

[data-drag-id="test4"] {
    [data-drag-area] {
        flex-direction: column;
    }
}