body[data-page="color"] {
    .color-box span{color:#fff; font-weight: 100; mix-blend-mode: difference;}
}

body[data-page="dropdown"] {
    .lb-radio{min-width: 6rem;}
}


body[data-page="tableScroll"] {
    .ui-tablescroll-wrap.ui-scrollbar .ui-scrollbar-barwrap.type-y{
		height: calc(100% - 34px);
		top:auto;
		bottom:0;
	}
}




/* MOBILE -- 4 columns: 0-599 */
@media all and (max-width:599px) {
    body[data-page="datePicker"] {
        .box-guide.fx-wrap{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .ui-datepicker{
                justify-content: center;
            }
        }
    }

    body[data-page="button"],
    body[data-page="typography"] {
        .type-noline,
        .type-discription {
            table {width: 100%;}
            thead {display: none;}
            table, tr, tbody, th, td{
                width: 100%;
                display: block;
                border: 0;
            }
            tr{border-bottom:1px solid $gray300;}
            tbody{border:0;}
            tbody+tbody{
                margin-top:5rem; 
                tr:first-child > * {border:0;}
            }
        }
        .type-noline {display: block;}
        .type-noline th{padding:2rem 0 1rem}
        .type-noline tr{overflow: hidden;}
        .type-noline td{
            float: left;
        }
    }

}

/* TABLET -- 8 columns: 600-839 */
@media all and (min-width:600px) and (max-width:839px) {

}

/* DESKTOP -- 12 columns  */
@media all and (min-width:840px) {


}