

.n1 {
    top: 1rem;
    left: 1rem
}

.n2 {
    top: 10rem;
    left: 1rem
}

.n3 {
    top: 20rem;
    left: 1rem
}

.n4 {
    top: 1rem;
    right: 1rem
}

.n5 {
    top: 10rem;
    right: 1rem
}

.n6 {
    top: 20rem;
    right: 1rem;
}