[data-line-id="test"] {
    height: 54rem;

    [data-line-col="1"] {
        left: 10rem;
    }

    [data-line-col="2"] {
        left: 42.5rem;
    }

    [data-line-col="3"] {
        left: 75rem;
    }

    [data-line-row="1"] {
        top: 20rem;
    }

    [data-line-row="2"] {
        top: 29rem;
    }
}

[data-line-id="test2"] {
    height: 54rem;

    [data-line-col="1"] {
        left: 20rem;
    }

    [data-line-col="2"] {
        left: 52.5rem;
    }

    [data-line-row="1"] {
        top: 7rem;
    }

    [data-line-row="2"] {
        top: 19rem;
    }

    [data-line-row="3"] {
        top: 31rem;
    }

}