<input type="hidden" id="uiJsName" value="pageAccordion">

<div class="tit-wrap">
	<h1 class="tit-l">Accordion</h1>
	<p>Accordion UI는 한정된 영역에서 컨텐츠의 일부 영역만 노출시키고 다른 영역은 감춘다. <br>
		Tab보다는 의미적으로 더 작은 컨텐츠에 주로 사용되며 목록, 메뉴로도 사용 된다. </p>
</div>
 
<article class="wrap-article">
	<h2 class="tit-m">Examples</h2>

	<div class="box-guide">
		<button type="button" class="btn-base mb-x2" onclick="netive.accordion.toggle({ id:'exeAcco1', current: 'all' })"><span>전체열고닫기 netive.accordion.toggle({ id:'exeAcco1', current: 'all' })</span></button>
		<button type="button" class="btn-base mb-x2" onclick="netive.accordion.toggle({ id:'exeAcco1', current: [0] })"><span>1번 netive.accordion.toggle({ id:'exeAcco1', current: [0] })</span></button>

		<div class="ui-acco" data-id="exeAcco1">
			<guide></guide>
			<!--base-->
			<div class="ui-acco-wrap">
				<div class="ui-acco-tit">
					<button type="button" class="ui-acco-btn">
						<span>기본형 아코디언</span> 
						<span class="hide"></span>
					</button>
				</div>
				<div class="ui-acco-pnl">
					<div class="ui-acco-pnl-wrap">
						<p>...</p>
						<a href="#">link</a>
					</div>
				</div>
			</div>

			<!--link-->
			<div class="ui-acco-wrap">
				<div class="ui-acco-tit">
					<a href="#" class="ui-acco-btn" target="_blank" title="새 창 열림">
						<span>링크(text)</span>
						<a href="#">link</a>
					</a>
				</div>
			</div>

			<!--inner-->
			<div class="ui-acco-wrap">
				<div class="ui-acco-tit">
					<button type="button" class="ui-acco-btn">
						<span>아코디언 안에 아코디언</span>
						<span class="hide"></span>
					</button>
				</div>
				<div class="ui-acco-pnl">
					<div class="ui-acco-pnl-wrap">
						
						<button type="button" class="btn-base mb-x2" onclick="netive.accordion.toggle({ id:'exeAcco2', current: 'all' })"><span>전체열고닫기 netive.accordion.toggle({ id:'exeAcco2', current: 'all' })</span></button>

						<div class="ui-acco" data-id="exeAcco2">
							<div class="ui-acco-wrap">
								<div class="ui-acco-tit">
									<button type="button" class="ui-acco-btn">
										<span>acco2-1</span> 
										<span class="hide"></span>
									</button>
								</div>
								<div class="ui-acco-pnl">
									<div class="ui-acco-pnl-wrap">
										<p>...</p>
										<a href="#">link</a>
									</div>
								</div>
							</div>
							<div class="ui-acco-wrap">
								<div class="ui-acco-tit">
									<button type="button" class="ui-acco-btn">
										<span>acco2-2</span>
										<span class="hide"></span>
									</button>
								</div>
								<div class="ui-acco-pnl">
									<div class="ui-acco-pnl-wrap">
										...
										<a href="#">link</a>
									</div>
								</div>
							</div>
							<div class="ui-acco-wrap">
								<div class="ui-acco-tit">
									<button type="button" class="ui-acco-btn">
										<span>acco2-3</span>
										<span class="hide"></span>
									</button>
								</div>
								<div class="ui-acco-pnl">
									<div class="ui-acco-pnl-wrap">
										...<br>
										...<br>
										...<br>
										...<br>
										...<br>
										...<br>
										...<br>
										...<br>
										...<br>
										...<br>
										<a href="#">link</a>
										...<br>
										...<br>
										...<br>

									</div>
								</div>
							</div>
						</div>
				
					</div>
				</div>
			</div>

			<!--title add-->
			<div class="ui-acco-wrap">
				<guide2></guide2>
				<div class="ui-acco-tit">
					<guide2></guide2>
					<div class="ui-acco-txt">
						<guide2></guide2>
						<input type="checkbox" id="c3_0">
						<label class="lb-checkbox" for="c3_0"><span>링크(text) + 아코디언</span></label>
					</div>
					<button type="button" class="ui-acco-btn">
						<guide2></guide2>
						<span class="a11y-hidden">acco4 자세히</span>
					</button>
				</div>
				<div class="ui-acco-pnl">
					<guide2></guide2>
					<div class="ui-acco-pnl-wrap">
						...<br>
						...<br>
						...<br>
						...<br>
						...<br>
						<a href="#">link</a>
						...<br>
						...<br>
						...<br>
						...<br>
						...<br>
						...<br>
						...<br>
						...<br>
					</div>
				</div>
			</div>
			
		</div>
		<div class="wrap-group mt-x3">
			<button type="button" class="btn-base" id="uiAccoAdd"><span>추가</span></button>
		</div>

	</div>
</article>

<article class="wrap-article">
	<h2 class="tit-m">Source Code</h2>
	<section class="wrap-section">
	<h3 class="tit-s">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-acco" data-id="idName"&gt;
	&lt;div class="ui-acco-wrap"&gt;
		&lt;div class="ui-acco-tit"&gt;
			&lt;div class="ui-acco-txt"&gt;
				...
			&lt;/div&gt;
			&lt;button type="button" class="ui-acco-btn"&gt;
				&lt;span&gt;acco1&lt;/span&gt; 
			&lt;/button&gt;
		&lt;/div&gt;
		&lt;div class="ui-acco-pnl"&gt;
			&lt;div class="ui-acco-pnl-wrap"&gt;
				...
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	...
&lt;/div&gt;

&lt;div class="ui-acco" data-id="idName"&gt;
	&lt;section class="ui-acco-wrap"&gt;
		&lt;h3 class="ui-acco-tit"&gt;
			&lt;div class="ui-acco-txt"&gt;
				...
			&lt;/div&gt;
			&lt;button type="button" class="ui-acco-btn"&gt;
				&lt;span&gt;acco1&lt;/span&gt; 
			&lt;/button&gt;
		&lt;/h3&gt;
		&lt;div class="ui-acco-pnl"&gt;
			&lt;div class="ui-acco-pnl-wrap"&gt;
				...
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	...
&lt;/div&gt;

&lt;dl class="ui-acco" data-id="idName"&gt;
	&lt;div class="ui-acco-wrap"&gt;
		&lt;dt class="ui-acco-tit"&gt;
			&lt;div class="ui-acco-txt"&gt;
				...
			&lt;/div&gt;
			&lt;button type="button" class="ui-acco-btn"&gt;
				&lt;span&gt;acco1&lt;/span&gt; 
			&lt;/button&gt;
		&lt;/dt&gt;
		&lt;dd class="ui-acco-pnl"&gt;
			&lt;div class="ui-acco-pnl-wrap"&gt;
				...
			&lt;/div&gt;
		&lt;/dd&gt;
	&lt;/div&gt;
	...
&lt;/dl&gt;
</code>
</pre>
	</section>

	<section class="wrap-section">
		<h3 class="tit-s">Javascript</h3>

		<h4 class="tit-xs">netive.accordion.init</h4>
<pre class="box-code"><code class="javascript">
netive.accordion.init({ 
	id:'exeAcco1', 
	current:[0,2], 
	callback:function(v){
		console.log(v);
	} 
});
</code></pre>

		<div class="tbl-base type-option mt-x2">
			<table>
				<caption>
					<strong>netive.accordion 옵션 정보 표입니다.</strong>
				</caption>
				<colgroup>
					<col class="col-xs">
					<col class="col-xs">
					<col class="col-xs">
					<col class="col-auto">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Options</th>
						<th scope="col">Type</th>
						<th scope="col">Default</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr class="nec">
						<th scope="row">id:</th>
						<td>[string]</td>
						<td>'name'</td>
						<td>(필수) ui-acco의 data-id 값 기입</td>
					</tr>
					<tr>
						<th scope="row">current:</th>
						<td>[null][array][string]</td>
						<td>null</td>
						<td>처음 열린패널 선택
							<ul class="bul-dot">
							<li>null : 모두 닫힘</li>
							<li>'all' : 모두 열림</li>
							<li>[0,1] : 배열으로 열릴패널 선택</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="row">autoclose:</th>
						<td>[boolean]</td>
						<td>false</td>
						<td>주변 패널 상태변화
							<ul class="bul-dot">
							<li>true : 선택외의 다른 패널은 닫힘</li>
							<li>false : 변화없음</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="row">callback:</th>
						<td>[function]</td>
						<td>function</td>
						<td>콜백값으로 아이디와 현재선택 index값</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h4 class="tit-xs mt-x4">netive.accordion.toggle</h4>
<pre class="box-code"><code class="javascript">
netive.accordion.toggle({ 
	id:'exeAcco1', 
	current:[0,2], 
	callback:function(v){
		console.log(v);
	} 
});
</code></pre>
		
		<div class="tbl-base type-option">
			<table>
				<caption>
					<strong>netive.accordion.toggle 옵션 정보 표입니다.</strong>
					<span class="ui-caption"></span>
				</caption>
				<colgroup>
					<col class="col-xs">
					<col class="col-xs">
					<col class="col-xs">
					<col class="col-auto">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Options</th>
						<th scope="col">Type</th>
						<th scope="col">Default</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr class="nec">
						<td colspan="4">
							netive.accordion.init 옵션과 동일
						</td>
					</tr>
					<tr>
						<th scope="row">state:</th>
						<td>[string]</td>
						<td>'toggle'</td>
						<td>상태 설정
							<ul class="bul-dot">
							<li>'toggle' : 토글방식</li>
							<li>'open' : 무조건 열림</li>
							<li>'close' : 무조건 닫힘</li>
							</ul>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</section>

	<section class="wrap-section">
		<h3 class="tit-s">parameter 값으로 아코디언탭 선택방법</h3>
<pre class="box-code"><code class="javascript">
단일 선택
/netiveUI/html/components/accordion.html<span class="s">?acco=1</span> 

복수 선택
/netiveUI/html/components/accordion.html<span class="s">?acco=exeAcco1*1+exeAcco2*0+exeAcco3*2</span> 
탭아이디*선택+탭아이디*선택....
<span class="s">주의 : accordion의 아이디를 '*'이 들어가는 이름으로 설정하면 안된다.</span>
</code>
</pre>
	</section>
</article>
