<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/resources/img/common/ico_favicon.ico"> 

	<title>CODE GHOST</title>

	<link rel="stylesheet" href="/resources/css/ui.base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/resources/js/ui.base.js"></script>
</head>

<body class="page-listcard">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
		<div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
			<main class="base-main" id="baseMain" role="main">
	
				<div class="tit-wrap">
					<h1 class="h1" id="uiPageTit">벽돌 리스트</h1>
				</div>

				<h2 class="h2">Brick Type List</h2>
				<p>벽돌처럼 차곡차곡 정렬되는 느낌의 리스트형태</p>
				<div class="ui-bricklist mgt-m" role="list" id="uiBrickList1">
					<ul class="ui-bricklist-wrap">
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu1.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu2.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu3.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu4.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu5.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu6.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu7.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu8.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						
						<li class="ui-bricklist-item" role="listitem">
							<div><img src="/resources/img/dummy/@iu9.jpg" alt=""></div>
							<strong>title</strong>
						</li>
						

					</ul>
					
					<button type="button" class="btn-base ui-add">추가</button>
				</div>

			</main>
		</div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>

	<!-- only page script -->
	<script>
		;(function($, win, doc, undefined) {
			console.log('page ready before');
			$plugins.common.pageid = 'G_03_02_00_00';
			
			$(doc).ready(function(){
				console.log('page ready after')
				$plugins.page.brickList();

			});
		})(jQuery, window, document);
	</script>

</body>
</html>
