<input type="hidden" id="uiJsName" value="pageDatePicker">

<div class="tit-wrap">
	<h1 class="typo-headline-l">Date Picker</h1>
</div>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Examples</h2>
	<h3 class="typo-title-m">Base Date Picker</h3>
	<form>
		<div class="box-guide">
			<div class="form-wrap">
				<div class="fx-wrap" data-align="justify">
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_1">single date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn" onclick="netive.datepicker.open('uiDate_1');">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_1" 
									class="inp-base" 
									value="2021-11-05" 
									min="2020-12-05" 
									max="2022-05-20" 
									title="시작일"
									readonly 
									required>
							</div>
						</div>
					</div>
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_4">single date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn" onclick="netive.datepicker.open('uiDate_4');">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_4" 
									class="inp-base" 
									value="" 
									min="2020-12-05" 
									max="2022-05-20" 
									title="시작일"
									readonly 
									required>
							</div>
						</div>
					</div>
				</div>

				<div class="fx-wrap" data-align="justify">
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_2">Period date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn" onclick="netive.datepicker.open('uiDate_2');">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_2" 
									class="inp-base" 
									value="" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="시작일"
									data-period="start"
									readonly 
									required>
								<div class="form-sc">~</div>
								<input 
									type="date" 
									id="uiDate_3" 
									class="inp-base" 
									value="" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="종료일"
									data-period="end"
									readonly 
									required>
							</div>
						</div>
					</div>
				</div>

				<div class="fx-wrap" data-align="justify">
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_2a">Period date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn" onclick="netive.datepicker.open('uiDate_2a');">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_2a" 
									class="inp-base" 
									value="2021-07-23" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="시작일"
									data-period="start"
									readonly 
									required>
								<div class="form-sc">~</div>
								<input 
									type="date" 
									id="uiDate_3a" 
									class="inp-base" 
									value="" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="종료일"
									data-period="end"
									readonly 
									required>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Source Code</h2>
	<h3 class="typo-title-m">HTML</h3>

<pre class="box-code"><code class="html">
&lt;div class="ui-datepicker"&gt;
	&lt;button type="button" class="ui-datepicker-btn"&gt;
		&lt;span class="a11y-hidden"&gt;년월일 선택&lt;/span&gt;
	&lt;/button&gt;
	&lt;input 
		type="text" 
		id="uiDate_1" 
		class="inp-base" 
		value="2021-11-05" 
		min="2020-12-05" 
		max="2022-05-20" 
		title="시작일" 
		readonly 
		required
	&gt;
&lt;/div&gt;

&lt;div class="ui-datepicker"&gt;
	&lt;button type="button" class="ui-datepicker-btn"&gt;
		&lt;span class="a11y-hidden"&gt;년월일 선택&lt;/span&gt;
	&lt;/button&gt;
	&lt;input 
		type="text" 
		id="uiDate_2" 
		class="inp-base" 
		value="" 
		min="2017-12-05" 
		max="2022-12-30" 
		title="시작일"
		data-period="start"
		readonly 
		required
	&gt;
	&lt;div class="form-sc""&gt;~&lt;/div&gt;
	&lt;input 
		type="text" 
		id="uiDate_3" 
		class="inp-base" 
		value="" 
		min="2017-12-05" 
		max="2022-12-30" 
		title="종료일"
		data-period="end"
		readonly 
		required
	&gt;
&lt;/div&gt;
</code></pre>

<h3 class="typo-title-m">Javascript</h3>
<pre class="box-code"><code class="javascript">
//생성
netive.datepicker.init({
	id: 'input id name',
	date: 'YYYY-MM-DD',
	min: 'YYYY-MM-DD',
	max: 'YYYY-MM-DD',
	title: 'title name',
	period: 'start' or 'end',
	callback: function(){
		console.log('callback init');
	}
});

//확인
netive.datepicker.confirm({
	id: 'input id name',
	callback: function(){
		console.log('callback confirm');
	}
});

//삭제
netive.datepicker.destoroy({
	id: 'input id name',
	callback: function(){
		console.log('callback destoroy');
	}
});
</code></pre>

</section>
