<input type="hidden" id="uiJsName" value="pageDatePicker">

<div class="tit-wrap">
	<h1 class="h-1">Date Picker</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<h3 class="h-3">Base Date Picker</h3>
	<form>
		<div class="box-guide">
			<div class="form-wrap">
				<div class="fx-wrap" data-align="justify">
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_1">single date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_1" 
									class="inp-base" 
									value="2021-11-05" 
									min="2020-12-05" 
									max="2022-05-20" 
									title="시작일"
									readonly 
									required>
							</div>
						</div>
					</div>
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_4">single date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_4" 
									class="inp-base" 
									value="" 
									min="2020-12-05" 
									max="2022-05-20" 
									title="시작일"
									readonly 
									required>
							</div>
						</div>
					</div>
				</div>

				<div class="fx-wrap" data-align="justify">
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_2">Period date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_2" 
									class="inp-base" 
									value="" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="시작일"
									data-period="start"
									readonly 
									required>
								<div class="form-sc">~</div>
								<input 
									type="date" 
									id="uiDate_3" 
									class="inp-base" 
									value="" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="종료일"
									data-period="end"
									readonly 
									required>
							</div>
						</div>
					</div>
				</div>

				<div class="fx-wrap" data-align="justify">
					<div class="fx-item ui-form" data-flex="1-1-1">
						<div class="form-label">
							<label class="form-item-label" for="uiDate_2a">Period date</label>
						</div>

						<div class="form-item">
							<div class="ui-datepicker">
								<button type="button" class="ui-datepicker-btn">
									<span class="a11y-hidden">년월일 선택</span>
								</button>
								<input 
									type="date" 
									id="uiDate_2a" 
									class="inp-base" 
									value="2021-07-23" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="시작일"
									data-period="start"
									readonly 
									required>
								<div class="form-sc">~</div>
								<input 
									type="date" 
									id="uiDate_3a" 
									class="inp-base" 
									value="" 
									min="2017-12-05" 
									max="2022-12-30" 
									title="종료일"
									data-period="end"
									readonly 
									required>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>

<pre class="box-code"><code class="html">
&lt;div class="ui-datepicker"&gt;
	&lt;button type="button" class="ui-datepicker-btn"&gt;
		&lt;span class="a11y-hidden"&gt;년월일 선택&lt;/span&gt;
	&lt;/button&gt;
	&lt;input 
		type="text" 
		id="uiDate_1" 
		class="inp-base" 
		value="2021-11-05" 
		min="2020-12-05" 
		max="2022-05-20" 
		title="시작일" 
		readonly 
		required
	&gt;
&lt;/div&gt;

&lt;div class="ui-datepicker"&gt;
	&lt;button type="button" class="ui-datepicker-btn"&gt;
		&lt;span class="a11y-hidden"&gt;년월일 선택&lt;/span&gt;
	&lt;/button&gt;
	&lt;input 
		type="text" 
		id="uiDate_2" 
		class="inp-base" 
		value="" 
		min="2017-12-05" 
		max="2022-12-30" 
		title="시작일"
		data-period="start"
		readonly 
		required
	&gt;
	&lt;div class="form-sc""&gt;~&lt;/div&gt;
	&lt;input 
		type="text" 
		id="uiDate_3" 
		class="inp-base" 
		value="" 
		min="2017-12-05" 
		max="2022-12-30" 
		title="종료일"
		data-period="end"
		readonly 
		required
	&gt;
&lt;/div&gt;
</code></pre>

<div class="tbl-base type-option">
	<table>
		<caption>옵션 설명</caption>
		<colgroup>
			<col class="n1">
			<col class="n2">
			<col class="n3">
			<col class="n4">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">태그</th>
				<th scope="col">속성</th>
				<th scope="col">값</th>
				<th scope="col">Explanation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" rowspan="4">type="date"</th>
				<th scope="row">min</th>
				<td>YYYY-MM-DD</td>
				<td>최소선택 년월일</td>
			</tr>
			<tr>
				<th scope="row">max</th>
				<td>YYYY-MM-DD</td>
				<td>최대선택 년월일</td>
			</tr>
			<tr>
				<th scope="row">data-period</th>
				<td>'start' or 'end'</td>
				<td>기간선택일 경우 시작일과 종료일 설정</td>
			</tr>
			<tr>
				<th scope="row">id (multi 일 경우)</th>
				<td>유니크한 아이디이름 A + '_end'</td>
				<td>시작일 아이디에 _end 를 붙인 이름 규칙으로 아이디 사용</td>
			</tr>
		</tbody>
	</table>

</div>


<h3 class="h-3">CSS</h3>


<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
$plugins.datepicker.init({
	id: 'input id name',
	date: 'YYYY-MM-DD',
	min: 'YYYY-MM-DD',
	max: 'YYYY-MM-DD',
	title: 'title name',
	period: 'start' or 'end'
});

$plugins.datepicker.confirm({
	id: 'input id name',
	callback: function(){
		console.log('callback confirm');
	}
});

$plugins.datepicker.destoroy({
	id: 'input id name',
	callback: function(){
		console.log('callback destoroy');
	}
});
</code>
</pre>

<div class="tbl-base type-option">
	<table>
		<caption>옵션 설명</caption>
		<colgroup>
			<col class="n1">
			<col class="n2">
			<col class="n3">
			<col class="n4">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">Options</th>
				<th scope="col">Type</th>
				<th scope="col">Default</th>
				<th scope="col">Explanation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">period :</th>
				<td>[string]</td>
				<td>start</td>
				<td>'start', 'end'</td>
			</tr>
			<tr>
				<th scope="row">title :</th>
				<td>[string]</td>
				<td>input title</td>
				<td>달력의 제목 설정</td>
			</tr>
			
			<tr>
				<th scope="row">callback:</th>
				<td>[function]</td>
				<td>false</td>
				<td>날짜를 선택했을 때 콜백값으로 {id: "uiDatePicker1Inp", value: "2020-06-16", name: undefined}</td>
			</tr>

		</tbody>
	</table>
</div>
</section>
