<input type="hidden" id="uiJsName" value="pageDropdown">
<div class="tit-catagory">Components Layout</div>

<div class="tit-wrap">
	<h1 class="h-1">Dropdown</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>

	<div class="box-guide ta-c">
		<div class="ui-select">
			<select class="drop-ps-change" title="정렬선택" id="testPs1">
				<option>Test 위치 선택</option>
				<option value="TL">상단 좌측정렬</option>
				<option value="TC">상단 중앙정렬</option>
				<option value="TR">상단 우측정렬</option>
				<option value="BL">하단 좌측정렬</option>
				<option value="BC">하단 중앙정렬</option>
				<option value="BR">하단 우측정렬</option>
				<option value="RT">우측 상단정렬</option>
				<option value="RM">우측 중앙정렬</option>
				<option value="RB">우측 하단정렬</option>
				<option value="LT">좌측 상단정렬</option>
				<option value="LM">좌측 중앙정렬</option>
				<option value="LB">좌측 하단정렬</option>
			</select>
		</div>
		<button type="button" class="btn-base ui-drop mgt-s" id="uiDrop1"><span>dropdown</span></button>
	</div>

</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
&lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"ui-drop"</span> <span class="na">id=</span><span class="s">"uiDrop1"</span>&gt;&lt;span&gt;드롭다운&lt;/span&gt;&lt;/button&gt;

&lt;section <span class="na">class=</span><span class="s">"ui-drop-pnl"</span> <span class="na">data-id=</span><span class="s">"uiDrop1"</span>&gt;
	&lt;div <span class="na">class=</span><span class="s">"ui-drop-box"</span>&gt;
		....
	&lt;/div&gt;
	&lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"ui-drop-close"</span>&gt;
		&lt;span class="hide"&gt;닫기&lt;/span&gt;
	&lt;/button&gt;
&lt;/section&gt;
</code>
</pre>

	<h3 class="h-3">CSS</h3>
<pre class="box-code"><code class="css">

</code>
</pre>
			
	<h3 class="h-3">Javascript</h3>
	<h4 class="h-4">netive.dropdown.init</h4>
<pre class="box-code"><code class="javascript">
netive.dropdown.init({ 
	id:'uiDrop1', 
	ps:'BL',
	dropSrc:'/netiveUI/html/components/dropdown_ajax.html',
	dropExpanded: true,
	openback: function(){
		...
	}
});
</code>
</pre>

	<div class="tbl-base type-option">
		<table>
			<caption>
				<strong>dropdown 기본 옵션</strong>
				<span class="ui-caption"></span>
			</caption>
			<colgroup>
				<col class="col-xs">
				<col class="col-xs">
				<col class="col-xs">
				<col class="col-auto">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Options</th>
					<th scope="col">Type</th>
					<th scope="col">Default</th>
					<th scope="col">Explanation</th>
				</tr>
			</thead>
			<tbody>
				<tr class="nec">
					<th scope="row">id:</th>
					<td>[string]</td>
					<td></td>
					<td>(필수) ui-drop의 아이디명 기입</td>
				</tr>
				<tr>
					<th scope="row">ps:</th>
					<td>[string]</td>
					<td>'BL'</td>
					<td>총 12가지 위치 설정
						<ul>
						<li>TL : 상단 좌측정렬</li>
						<li>TC : 상단 중앙정렬</li>
						<li>TR : 상단 우측정렬</li>
						<li>BL : 하단 좌측정렬</li>
						<li>BC : 하단 중앙정렬</li>
						<li>BR : 하단 우측정렬</li>
						<li>RT : 우측 상단정렬</li>
						<li>RM : 우측 중앙정렬</li>
						<li>RB : 우측 하단정렬</li>
						<li>LT : 좌측 상단정렬</li>
						<li>LM : 좌측 중앙정렬</li>
						<li>LB : 좌측 하단정렬</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">hold:</th>
					<td>[boolean]</td>
					<td>true</td>
					<td>포커스 홀드 여부
						<ul>
							<li>true : 'hold' 포커스 홀드</li>
							<li>false : 'sense' 포커스 벗어날 때 자동으로 닫힘</li>
						</ul>
					</td>
				</tr>

				<tr>
					<th scope="row">dropSpace:</th>
					<td>[string][object]</td>
					<td>$('body')</td>
					<td>Ajax로 파일을 불러올 위치<br>
						'id' or $('#id')</td>
				</tr>
				<tr>
					<th scope="row">dropSrc:</th>
					<td>[string]</td>
					<td></td>
					<td>Ajax로 파일을 불러올 url경로</td>
				</tr>
				<tr>
					<th scope="row">dropOffset:</th>
					<td>[boolean]</td>
					<td>false</td>
					<td>드롭다운 콘텐츠의 위치에 따라 설정
						<ul>
							<li>true : 위치값 절대값(offset)</li>
							<li>false : 위치값 상대값(position)</li>
						</ul>
					</td>
				</tr>

				<tr>
					<th scope="row">openback:</th>
					<td>[function]</td>
					<td>false</td>
					<td>오픈 시 콜백</td>
				</tr>
				<tr>
					<th scope="row">closeback:</th>
					<td>[function]</td>
					<td>false</td>
					<td>닫을 시 콜백</td>
				</tr>
				
				
			</tbody>
		</table>
	</div>

	<h4 class="h-4">netive.dropdown.toggle</h4>
<pre class="box-code">,<code class="javascript">
netive.dropdown.toggle({ 
	id:'uiDrop1',
	state: 'open' 
});
</code>
</pre>
	<div class="tbl-base type-option">
		<table>
			<caption>
				<strong>dropdown 기본 옵션</strong>
				<span class="ui-caption"></span>
			</caption>
			<colgroup>
				<col class="col-xs">
				<col class="col-xs">
				<col class="col-xs">
				<col class="col-auto">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Options</th>
					<th scope="col">Type</th>
					<th scope="col">Default</th>
					<th scope="col">Explanation</th>
				</tr>
			</thead>
			<tbody>
				<tr class="nec">
					<th scope="row">id:</th>
					<td>[string]</td>
					<td></td>
					<td>(필수) ui-drop의 아이디명 기입</td>
				</tr>
				
				<tr>
					<th scope="row">state:</th>
					<td>[string]</td>
					<td></td>
					<td>
						<ul>
							<li>'open' : 열림</li>
							<li>'close' : 닫힘</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<script>
	$('.drop-ps-change').on('change', function(){
		$(this).closest('.box-guide').find('.ui-drop').attr('data-ps', $(this).val());
	});

	netive.dropdown.init({ 
		id:'uiDrop1', 
		ps:'BL',
		dropSrc:'/netiveUI/html/components/dropdown_ajax.html',
		dropExpanded: true,
		openback: function(){
			netive.uiTab({ 
				id: 'exeTab1', 
				current:0 
			});
			netive.dropdown.init({ 
				id:'uiDrop5', 
				ps:'RB',
				dropSrc:'/netiveUI/html/components/dropdown_ajax2.html',
			});
		}
	});


</script>

