<section class="ui-drop-pnl" data-id="uiDrop1">
	<div class="ui-drop-box">
		<h1>Title</h1>
		<p>...</p>

		<!-- dropdown in dropdown -->
		<button type="button" class="btn-mix-outlined ui-drop" id="uiDrop5"><span>dropdown</span></button>
		<!-- //dropdown in dropdown -->

		<p>...</p>

		<div class="ui-tab tab_page item3" data-id="exeTab1">
			<div class="ui-tab-btns">
				<button type="button" class="ui-tab-btn"><span>tab1</span></button>
				<button type="button" class="ui-tab-btn"><span>tab2</span></button>
				<button type="button" class="ui-tab-btn"><span>tab3</span></button>
			</div>
			<div class="ui-tab-pnls">
				<section class="ui-tab-pnl">
					<h3>tab1</h3>
					<p>...</p>
					<a href="#">...</a>
				</section>
				<section class="ui-tab-pnl">
					<h3>tab2</h3>
					<p>...</p>
					<a href="#">...</a>
				</section>
				<section class="ui-tab-pnl">
					<h3>tab3</h3>
					<p>...</p>
					<a href="#">...</a>
				</section>
			</div>
		</div>
	</div>
	<button type="button" class="ui-drop-close icon-close"><span class="hide">닫기</span></button>
</section>
