<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUI/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUI/resources/img/common/ico_favicon.ico"> 

	<title>CODE GHOST</title>

	<link rel="stylesheet" href="/netiveUI/resources/css/ui.base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/netiveUI/resources/js/ui.base.js"></script>
</head>

<body>
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
		<div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
			<main class="base-main" id="baseMain" role="main">
				
				<div class="tit-wrap">
					<h1 class="h1" id="uiPageTit">file upload</h1>
				</div>

				<h2 class="h2">Button Type</h1>
				<p>button으로 스타일을 적용할수 있게 자동으로 input type="file"을 생성</p>
				<div class="btn-wrap txt-l">
					<form>
						<div class="ui-file btn-base" id="addfileWrap">
							<span>파일선택</span>
							<input type="file" class="ui-file-inp" id="addfileInp" multiple>
						</div>

						<div class="ui-file-list" aria-labelledby="addfileInp">

						</div>

						<div class="ui-file btn-base" id="addfileWrap">
							<span>파일선택</span>
							<input type="file" class="ui-file-inp" id="addfileInp2" multiple>
						</div>

						<div class="ui-file-list" aria-labelledby="addfileInp2">

						</div>
					</form>
				</div>
<div class="box-code">
<pre>
<code>
&lt;div class="ui-file btn-base" id="addfileWrap"&gt;
	&lt;span&gt;파일선택&lt;/span&gt;
	&lt;input type="file" class="ui-file-inp" id="addfileInp" multiple&gt;
&lt;/div&gt;

&lt;div class="ui-file-list" aria-labelledby="addfileInp"&gt;

&lt;/div&gt;
</code>
</pre>
</div>
				
				<h2 class="h2">$plugins.uiFileUpload</h2>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiFileUpload</span>();
</code>
</pre>
</div>

			</main>
		</div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>
	
	<!-- only page script -->
	<script>
		;(function($, win, doc, undefined) {
			console.log('page ready before')
			$plugins.common.pageid = 'G_03_07_00_00';

			$(doc).ready(function(){
				
				console.log('page ready after')
				$plugins.page.fileupload();

			});
		})(jQuery, window, document);
	</script>

</body>
</netiveUI/html>
