<input type="hidden" id="uiJsName" value="pageFileUpload">

<div class="tit-wrap">
	<h1 class="tit-l">File Upload</h1>
</div>

<article class="wrap-article">
	<h2 class="tit-m">Examples</h2>
	<div class="box-guide">
		<form>
			<div class="form-wrap " data-type="row">
				<div class="form-item-rowgroup">
					<div class="form-item">
						<div class="form-head">
							<div class="form-title">
								<label class="form-item-label" for="test_a0_1">파일등록</label>
							</div>
						</div>
						<div class="form-body">
							<div class="form-info">
								<div class="bul-info">
									<div>등록할 파일을 선택해주세요.</div>
								</div>
							</div>

							<div class="form-group">
								<div class="form-input">
									<div class="ui-file">
										<input type="file" class="ui-file-inp " id="test_a0_1" multiple title="file upload">
										<div class="btn-base">file upload</div>
									</div>
									<div class="ui-file-list" data-id="test_a0_1" aria-labelledby="test_a0_1"></div>
								</div>
							</div>
							

							<div class="form-info">
								<div class="bul-error">
									<div>등록할 파일을 선택해주세요.</div>
								</div>
							</div>
						
						</div>
					</div>
					
					<div class="form-item">
						<div class="form-head">
							<div class="form-title">
								<label class="form-item-label" for="test_a0_2">파일등록</label>
							</div>
						</div>
						<div class="form-body">
							<div class="form-info">
								<div class="bul-info">
									<div>등록할 파일을 선택해주세요.</div>
								</div>
							</div>

							<div class="form-group">
								<div class="form-input">
									<div class="ui-file">
										<input type="file" class="ui-file-inp " id="test_a0_2" multiple title="file upload">
										<div class="btn-base">file upload</div>
									</div>
									<div class="ui-file-list" data-id="test_a0_2" aria-labelledby="test_a0_2"></div>
								</div>
							</div>
							

							<div class="form-info">
								<div class="bul-error">
									<div>등록할 파일을 선택해주세요.</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</article>

<article class="wrap-article">
	<h2 class="tit-m">Source Code</h2>

	<section class="wrap-section">
		<h3 class="tit-s">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-file"&gt;
	&lt;input type="file" class="ui-file-inp" id="test_a0_1" name="avatar" multiple&gt;
	&lt;div class="btn-mix-outlined"&gt;file upload&lt;/div&gt;
&lt;/div&gt;
&lt;div class="ui-file-list" data-id="test_a0_1" aria-labelledby="test_a0_1"&gt;&lt;/div&gt;
</code></pre>
	</section>

	<section class="wrap-section">
		<h3 class="tit-s">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.form.fileUpload();
</code></pre>
	</section>
</article>
