

<input type="hidden" id="uiJsName" value="pageFloatingRange">

<div class="tit-wrap">
	<h1 class="tit-l">Floating Range</h1>
	<p class="txts-m">특정 범위안에서만 스크롤 이동에 따라 이동하는 오브젝트</p>
</div>

<article class="wrap-article">
	<h2 class="tit-m">Examples</h2>
	<div class="box-guide fx-wrap" >
		<div class="ui-floating-range fx-item">
			<div class="ui-floating-range-item">
				<div class="tst-obj">0</div>
			</div>
		</div>
	</div>
</article>

<article class="wrap-article">		
	<h2 class="tit-m">Source Code</h2>

	<section class="wrap-section">
		<h3 class="tit-s">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-floating-range fx-item" id="uiflRange01"&gt;
	&lt;div class="ui-floating-range-item"&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
	</section>

	<section class="wrap-section">
		<h3 class="tit-s">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.floating.range();
</code></pre>
	</section>
</article>	
