

<input type="hidden" id="uiJsName" value="pageFloatingRange">

<div class="tit-wrap">
	<h1 class="h-1">Floating Range</h1>
	<p class="txts-m">특정 범위안에서만 스크롤 이동에 따라 이동하는 오브젝트</p>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<div class="box-guide fx-wrap" >
		<div class="ui-floating-range fx-item">
			<div class="ui-floating-range-item">
				<div class="tst-obj">0</div>
			</div>
		</div>
		<div class="ui-floating-range fx-item" data-mg="100">
			<!-- <div  style="width:100%; height:150px; background:#e4e4e4"></div> -->
			<div class="ui-floating-range-item">
				<div class="tst-obj">100</div>
			</div>
		</div>
	</div>
</section>

<section class="sec-wrap">		
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-floating-range fx-item" id="uiflRange01" data-mg="100"&gt;
	&lt;div class="ui-floating-range-item"&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

	<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.floating.range();
</code></pre>

</section>	
