<input type="hidden" id="uiJsName" value="pageFloating">

<div class="tit-wrap">
	<h1 class="h-1">Floating</h1>
	<p>특정위치에서 고정되거나 고정되었던 오브젝트가 원위치로 돌아가는 설정</p>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<h3 class="h-3">상단고정 → 원위치</h3>
	<p>상단에 fixed로 고정에서 원위치로 들어가는 방식</p>
	<div class="box-guide">
		<div class="ui-floating" data-fix="true" data-ps="top" data-mg="100">
			<div class="ui-floating-wrap">
				<div class="tst-obj">상단고정 → 원위치1</div>
			</div>
		</div>
		<br>
		<div class="ui-floating" data-fix="true" data-ps="top" data-mg="50">
			<div class="ui-floating-wrap">
				<div class="tst-obj">상단고정 → 원위치2</div>
			</div>
		</div>
		<br>	
		<div class="ui-floating" data-fix="true" data-ps="top">
			<div class="ui-floating-wrap">
				<div class="tst-obj">상단고정 → 원위치3</div>
			</div>
		</div>
	</div>
	<h3 class="h-3">원위치 → 상단고정</h3>
	<p>특정위치에 도달하면 원위치에서 벗어나 상단에 fixed로 고정되는 방식</p>
	<div class="box-guide">
		<div class="ui-floating" data-fix="false" data-ps="top">
			<div class="ui-floating-wrap">
				<div class="tst-obj">원위치 → 상단고정1</div>
			</div>
		</div>
		<br>
		<div class="ui-floating" data-fix="false" data-ps="top" data-mg="50">
			<div class="ui-floating-wrap">
				<div class="tst-obj">원위치 → 상단고정2</div>
			</div>
		</div>
		<br>
		<div class="ui-floating" data-fix="false" data-ps="top" data-mg="100">
			<div class="ui-floating-wrap">
				<div class="tst-obj">원위치 → 상단고정3</div>
			</div>
		</div>
	</div>
	<h3 class="h-3">하단고정 → 원위치</h3>
	<p>하단에 fixed로 고정에서 원위치로 들어가는 방식</p>
	<div class="box-guide">
		<div class="ui-floating" data-fix="true" data-ps="bottom" data-mg="100">
			<div class="ui-floating-wrap">
				<div class="tst-obj">하단고정 → 원위치1</div>
			</div>
		</div>
		<br>
		<div class="ui-floating" data-fix="true" data-ps="bottom" data-mg="50">
			<div class="ui-floating-wrap">
				<div class="tst-obj">하단고정 → 원위치2</div>
			</div>
		</div>
		<br>
		<div class="ui-floating" data-fix="true" data-ps="bottom">
			<div class="ui-floating-wrap">
				<div class="tst-obj">하단고정 → 원위치3</div>
			</div>
		</div>
	</div>

	<h3 class="h-3">원위치 → 하단고정</h3>
	<p>특정위치에 도달하면 원위치에서 벗어나 하단에 fixed로 고정되는 방식</p>
	<div class="box-guide">
		<div class="ui-floating"  data-fix="false" data-ps="bottom">
			<div class="ui-floating-wrap">
				<div class="tst-obj">원위치 → 하단고정1</div>
			</div>
		</div>
		<br>
		<div class="ui-floating"  data-fix="false" data-ps="bottom" data-mg="50">
			<div class="ui-floating-wrap">
				<div class="tst-obj">원위치 → 하단고정2</div>
			</div>
		</div>
		<br>
		<div class="ui-floating"  data-fix="false" data-ps="bottom" data-mg="100">
			<div class="ui-floating-wrap">
				<div class="tst-obj">원위치 → 하단고정3</div>
			</div>
		</div>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-floating" data-fix="true" data-ps="top" data-mg="100"&gt;
	&lt;div class="ui-floating-wrap"&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
<div class="tbl-base type-option mgt-s" style="margin-bottom:100px">
	<table>
	<caption>옵션 설명</caption>
	<colgroup>
		<col class="n1">
		<col class="n2">
		<col class="n4">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Options</th>
			<th scope="col">Type</th>
			<th scope="col">Explanation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">data-ps</th>
			<td>'top' / 'bottom'</td>
			<td>고정될 위치 설정
				<ul>
				<li>'top' : 상단</li>
				<li>'bottom' : 하단</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">data-fix</th>
			<td>'true' / 'false'</td>
			<td>고정되어 시작할지 여부
				<ul>
				<li>true : 고정에서 기본</li>
				<li>false : 기본에서 고정</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">data-mg</th>
			<td>[number]</td>
			<td>고정될 위치 margin값</td>
		</tr>
		
	</tbody>
	</table>
</div>

	<h3 class="h-3">CSS</h3>
<pre class="box-code"><code class="css">
.ui-floating-wrap {position:relative;}
.ui-fixed-bottom .ui-floating-wrap {position:fixed; bottom:0; left:0; z-index:999;}
.ui-fixed-top .ui-floating-wrap {position:fixed; top:0; left:0; z-index:999;}

.ui-floating {border:1px dashed rgb(230, 230, 230);}
.ui-floating-wrap {width:100%;}
</code>
</pre>

	<h3 class="h-3">Javascript</h3>
	
<pre class="box-code"><code class="javascript">
netive.floating.init();
</code>
</pre>
</section>
