<input type="hidden" id="uiJsName" value="pageInnerLabel">

<div class="tit-wrap">
	<h1 class="typo-headline-l">Form Layout</h1>
</div>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Examples</h2>
	<p>입력란 안에 label이 들어가는 스타일로 좁은 공간이나 모바일 환경에서 많이 사용한다.</p>
	<h3 class="typo-title-m">Base type</h3>
	<div class="box-guide">
		<div class="form-wrap">
			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_1">Label Text</label>
						<div class="form-label-util">
							<div class="bul-star">
								<div>필수입력</div>
							</div>
						</div>
					</div>

					<div class="form-item">
						<input type="text" id="test_a0_1" class="inp-base" value="hello" placeholder="placeholder text">
					</div>

					<div class="from-info">
						<div class="bul-error" aria-live="polite">
							<div>Error Text</div>
						</div>
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>

				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_2">Label Text</label>
						<div class="form-label-util">
							<a href="#" class="btn-mix-outlined-s">
								<span>링크</span>
							</a>
						</div>
					</div>

					<div class="form-item">
						<input type="text" id="test_a0_2" class="inp-base" value="" placeholder="placeholder text">
					</div>

					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_3">Label Text</label>
						<div class="form-label-util">
							<div class="bul-star">
								<div>필수입력</div>
							</div>
						</div>
					</div>

					<div class="form-item">
						<input type="text" id="test_a0_3" class="inp-base" value="hello" placeholder="placeholder text" data-unit="원">
					</div>

					<div class="from-info">
						<div class="bul-error" aria-live="polite">
							<div>Error Text</div>
						</div>
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_4">Card Select</label>
					</div>

					<div class="form-item">
						<div class="ui-select">
							<select class="inp-base" title="카드번호 선택" id="test_a0_4">
								<option disabled selected>선택하세요</option>
								<option value="1">신한카드 908*****2*5**</option>
								<option value="2">시티카드 908*****2*5**</option>
								<option value="3">현대카드 908*****2*5**</option>
							</select>
						</div>
					</div>

					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>

				<div class="fx-item ui-form" data-flex="2-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_5">Card Select</label>
						<div class="form-label-util">
							<a href="#" class="btn-mix-outlined-s">
								<span>링크</span>
							</a>
						</div>
					</div>

					<div class="form-item">
						<div class="ui-select">
							<select class="inp-base" title="카드번호 선택" id="test_a0_5">
								<option disabled >선택하세요</option>
								<option value="1" selected>신한카드 908*****2*5**</option>
								<option value="2">시티카드 908*****2*5**</option>
								<option value="3">현대카드 908*****2*5**</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h3 class="typo-title-m">Inner type</h3>
	<div class="box-guide ">
		<div class="form-wrap">
			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a0">Label Text</label>
					</div>
					<div class="form-item">
						<input type="text" id="test_a0" class="inp-base" value="" placeholder="placeholder text">
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a1">Label Text</label>
					</div>
					<div class="form-item">
						<input type="text" id="test_a1" class="inp-base ta-r" value="" placeholder="placeholder text" data-unit="만원" data-prefix="$">
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a1_2">Label Title</label>
					</div>
					<div class="form-item">
						<input type="text" id="test_a1_2" class="inp-base" value="" placeholder="placeholder text" data-prefix="카드번호:">
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a2">Label Title</label>
					</div>
					<div class="form-item">
						<input type="text" id="test_a2" class="inp-base" value="" placeholder="placeholder text">
					</div>
					<div class="from-info">
						<div class="bul-error" aria-live="polite">
							<div>Error Text</div>
						</div>
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>

				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a3">Label Title</label>
					</div>
					<div class="form-item">
						<input type="text" id="test_a3" class="inp-base" value="23" placeholder="placeholder text">
					</div>
					<div class="from-info">
						<div class="bul-error" aria-live="polite">
							<div>Error Text</div>
						</div>
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a3_s">Card Select</label>
					</div>
					<div class="form-item">
						<div class="ui-select">
							<select class="inp-base" title="카드번호 선택" id="test_a3_s" data-inner="true">
								<option disabled selected>선택하세요</option>
								<option value="1">신한카드 908*****2*5**</option>
								<option value="2">시티카드 908*****2*5**</option>
								<option value="3">현대카드 908*****2*5**</option>
							</select>
						</div>
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>

				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a4_s">Card Select</label>
					</div>
					<div class="form-item">
						<div class="ui-select">
							<select class="inp-base" itle="카드번호 선택" id="test_a4_s">
								<option disabled >선택하세요</option>
								<option value="1" selected>신한카드 908*****2*5**</option>
								<option value="2">시티카드 908*****2*5**</option>
								<option value="3">현대카드 908*****2*5**</option>
							</select>
						</div>
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a5_s2">Label Title</label>
					</div>
					<div class="form-item">
						<div class="ui-datepicker">
							<button type="button" class="ui-datepicker-btn">
								<span class="a11y-hidden">년월일 선택</span>
							</button>
							<input 
								type="date" 
								id="uiDate_1" 
								class="inp-base" 
								value="2021-11-05" 
								min="2020-12-05" 
								max="2022-05-20" 
								title="시작일"
								readonly 
								required>
						</div>
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap">
				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a7">Label Title</label>
					</div>
					<div class="form-item">
						<textarea name="form_address" class="inp-base" placeholder="100글자 이내로 입력하세요." id="test_a7"></textarea>
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>

				<div class="fx-item ui-form-inner">
					<div class="form-label">
						<label class="form-item-label" for="test_a8">Label Title</label>
					</div>
					<div class="form-item">
						<textarea name="form_address" class="inp-base" placeholder="100글자 이내로 입력하세요." id="test_a8">....</textarea>
					</div>
					<div class="from-info">
						<div class="bul-info">
							<div>Helper Text</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Source Code</h2>
	<h3 class="typo-title-m">HTML</h3>
<pre class="box-code"><code class="html">
//base type
&lt;div class="form-wrap"&gt;
	&lt;div class="fx-wrap" data-align="justify"&gt;
		&lt;div class="fx-item ui-form" data-flex="1-1-1"&gt;
			&lt;div class="form-label"&gt;
				&lt;label class="form-item-label" for="test_a0_1"&gt;Label Text&lt;/label&gt;
				&lt;div class="form-label-util"&gt;
					&lt;div class="bul-star"&gt;
						&lt;div&gt;...&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class="form-item"&gt;
				&lt;input type="text" id="test_a0_1" class="inp-base" value="hello" placeholder="placeholder text"&gt;
			&lt;/div&gt;

			&lt;div class="from-info"&gt;
				&lt;div class="bul-error" aria-live="polite"&gt;
					&lt;div&gt;Error Text&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class="bul-info"&gt;
					&lt;div&gt;Helper Text&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="form-sc"&gt;~&lt;/div&gt;
		...
	&lt;/div&gt;
	...
&lt;/div&gt;

//inner type
&lt;div class="form-wrap"&gt;
	&lt;div class="fx-wrap" data-align="justify"&gt;
		&lt;div class="fx-item ui-form-inner" data-flex="1-1-1"&gt;
			&lt;div class="form-label"&gt;
				&lt;label class="form-item-label" for="test_a0_1"&gt;Label Text&lt;/label&gt;
				&lt;div class="form-label-util"&gt;
					&lt;div class="bul-star"&gt;
						&lt;div&gt;...&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class="form-item"&gt;
				&lt;input type="text" id="test_a0_1" class="inp-base" value="hello" placeholder="placeholder text"&gt;
			&lt;/div&gt;

			&lt;div class="from-info"&gt;
				&lt;div class="bul-error" aria-live="polite"&gt;
					&lt;div&gt;Error Text&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class="bul-info"&gt;
					&lt;div&gt;Helper Text&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		...
	&lt;/div&gt;
	...
&lt;/div&gt;

</code></pre>

	<h3 class="typo-title-m">Javascript</h3>
<pre class="box-code"><code class="Javascript">
netive.form.init();
</code></pre>
</section>
