<input type="hidden" id="uiJsName" value="pageInputClear">

<div class="tit-wrap">
	<h1 class="typo-headline-l">Input Clear</h1>
</div>

<p class="txts-m">IE에서 input 태그의 text 속성을 가지는 입력폼을 사용하는 경우 자동으로 생성되는 X버튼 기능구현</p>

<section class="sec-wrap">
    <h2 class="typo-headline-m">Examples</h2>
    <div class="box-guide">
		<div class="form-wrap">
			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_1">Label Text</label>
					</div>

					<div class="form-item">
						<input type="text" id="test_a0_1" class="inp-base" value="hello" placeholder="placeholder text">
					</div>
				</div>
            </div>
        </div>
    </div>
                

</section>

<section class="sec-wrap">
<h2 class="typo-headline-m">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
<span class="c">//value 값이 없는 경우</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel"&gt;

<span class="c">//value 값 입력 시 생성</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel" value="test"&gt;
&lt;button type="button" class="ui-inpcancel-btn" data-id="a7"&gt;&lt;span&gt;clear&lt;/span&gt;&lt;/button&gt;
</code>
</pre>
</div>

<h2 class="typo-headline-m">CSS Style</h2>
<h3 class="typo-title-m">base style</h3>
<div class="box-code">
<pre>
<code>
.ui-inpcancel-btn {display:inline-block; position:absolute; margin-left:-40px; width:40px; height:40px; }
.ui-inpcancel-btn span {position:relative; font-family:'Material Icons'; display:block; left:10px; width:20px; height:20px; background:transparent; overflow:hidden; font-weight:600; font-size:20px; color:#000;}
</code>
</pre>
</div>

<h2 class="typo-headline-m">Javascript</h2>
<h3 class="typo-title-m">netive.form.init</h3>
<div class="box-code">
<pre>
<code>
netive.form.init();
</code>
</pre>
</div>
</section>