<input type="hidden" id="uiJsName" value="pageInputPlaceholder">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h1">Input Placeholder</h1>
</div>

<p class="txt-s2">스크린리더기에서 읽히지 않은 문제를 보완하기 위해 구현</p>


<h2 class="h2">Examples</h2>
<div class="in-wrap">
    <div class="in-item">
        <label class="lb-base" for="mem_이름">이름</label>
        <input type="text" id="mem_이름" vchecktype="kr" class="inp-base" value="" placeholder="한글로만 1자 이상 입력하세요." required >
    </div>
</div>


<h2 class="h2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
<span class="c">//value 값이 없는 경우</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel"&gt;

<span class="c">//value 값 입력 시 생성</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel" value="test"&gt;
&lt;button type="button" class="ui-inpcancel-btn" data-id="a7"&gt;&lt;span&gt;cancel&lt;/span&gt;&lt;/button&gt;
</code>
</pre>
</div>

<h2 class="h2">CSS Style</h2>
<h3 class="h3">base style</h3>
<div class="box-code">
<pre>
<code>
.ui-inpcancel-btn {display:inline-block; position:absolute; margin-left:-40px; width:40px; height:40px; }
.ui-inpcancel-btn span {position:relative; display:block; left:14px; width:16px; height:16px; background:transparent; color:transparent; overflow:hidden; font-size:xx-small}
.ui-inpcancel-btn span:after {content:""; position:absolute; top:50%; left:0; margin-top:-1px; display:block; width:100%; height:2px; background:#000; border-radius:1px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
.ui-inpcancel-btn span:before {content:""; position:absolute; top:0; left:50%; margin-left:-1px; display:block; width:2px; height:100%; background:#000; border-radius:1px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
</code>
</pre>
</div>

<h2 class="h2">Javascript</h2>
<h3 class="h3">$plugins.uiInputClear</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiInputClear();
</code>
</pre>
</div>
