<input type="hidden" id="uiJsName" value="pageInput">

<div class="tit-wrap">
	<h1 class="tit-l">Input</h1>
</div>

<article class="wrap-article">
    <h2 class="tit-m">Examples</h2>
    <div class="box-guide">
		<div class="form-wrap" data-type="row">
			<div class="form-item-rowgroup">
				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_2">기본</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="text" id="test_a0_2" class="inp-base" value="hello" placeholder="placeholder text" title="라벨2" required="required">
							</div>
						</div>
					</div>
				</div>

				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_122">clear button 유지(keep)</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="hidden" name="schKeyword" value>
								<input type="input" id="test_a0_122" class="inp-base" value="hello" placeholder="placeholder text" data-clear="true" data-keep="true" title="라벨" required="required">
							</div>
						</div>
					</div>
				</div>

				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_123">clear button 유지(search)</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="search" id="test_a0_123" class="inp-base" value="hello" placeholder="placeholder text" title="라벨" required="required">
							</div>
						</div>
					</div>
				</div>


				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_1">clear button</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="text" id="test_a0_1" class="inp-base" value="hello" placeholder="placeholder text" data-clear="true" title="라벨" required="required">
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_3">prefix(접두사)</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="text" id="test_a0_3" class="inp-base" value="hello" placeholder="" data-clear="true" title="라벨2" required="required" data-prefix="$">
							</div>
						</div>
					</div>
				</div>
				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_4">suffix(접미사)</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="text" id="test_a0_4" class="inp-base ta-r" value="56,566,880" placeholder="" data-clear="true" title="라벨2" required="required" data-suffix="원">
							</div>
						</div>
					</div>
				</div>
				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="test_a0_5">suffix(접미사)</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input" style="width: 30rem;">
								<input type="text" id="test_a0_5" class="inp-base ta-r" value="1,000,000" placeholder="" data-clear="true" title="만원단위" required="required" data-suffix="만원">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    </div>
                

</article>

<article class="wrap-article">
	<h2 class="tit-m">HTML Structure</h2>
	<div class="box-code">
<pre>
<code>
&lt;div class="form-input" style="width: 300px;"&gt;
	&lt;input
	type="text" 
	id="test_a0_4" 
	value="56,566,880" 
	required="required" 

	class="inp-base" 
	data-clear="true" 	//true일 경우에만 clear button 생성
	data-prefix="$" 	//접두어 앞에 생성
	data-suffix="원"	//접미어 뒤에 생성
	
	placeholder="placeholder text" 
	title="라벨2" &gt;
&lt;/div&gt;

</code>
</pre>
	</div>
</article>

<article class="wrap-article">
	<h2 class="tit-m">Javascript</h2>
	<section class="wrap-section">
		<h3 class="tit-s">netive.form.init</h3>
		<div class="box-code">
<pre>
<code>
netive.form.init();
</code>
</pre>
		</div>
	</section>
</article>