<input type="hidden" id="uiJsName" value="pageJsonCodingList">

<div class="tit-wrap">
	<h1 class="tit-l">Coding Schedule List</h1>
</div>

<article class="wrap-article">
	<div class="ui-codinglist" id="projectList"></div>
	
	<section class="wrap-section">
		<h3 class="tit-s">EXCEL</h3>
		<p>IA엑셀 문서에서 필요한 정보를 셀을 복사하여 구성한다. excel파일에 IA문서 버전을 기록하면 버전관리에 도움이 된다.</p>
		<div class="mt-x1 mb-x2">
			<img src="../resources/img/sample_excel.png" alt="샘플 엑셀 화면">
		</div>
		<div class="wrap-group txta-l">
			
			
			<a href="/netiveUI/resources/data/codinglist.xlsx" class="btn-mix-outlined"><span>샘플 코딩리스트 excel 파일 다운로드</span></a>
		</div>
	</section>
</article>

<article class="wrap-article">
	<h2 class="tit-m">Source Code</h2>

	<section class="wrap-section">
		<h3 class="tit-s">HTML</h3>

<pre class="box-code"><code class="html">
&lt;div class="ui-codinglist" id="projectlist"&gt;&lt;/div&gt;
</code>
</pre>
	</section>
	<section class="wrap-section">
		<h3 class="tit-s">Json</h3>
		<p>코딩 리스트 excel파일의 data를 드래그 카피하여 지정된 json파일에 복사한다.</p>
<pre class="box-code"><code class="javascript">
{"list":[
	{"state":"상태","date":"일정","enddate":"종료일","pub":"퍼블","id":"화면ID","d1":"D1","d2":"D2","d3":"D3","d4":"D4","d5":"D5","d6":"D6","d7":"D7","d8":"D8","r1":"경로","r2":"","r3":"","r4":"","page":"","memo":"메모"},
	{"state":"완료","date":"180131","enddate":"171217","pub":"조현민","id":"form","d1":"UI","d2":"form","d3":"radio&checkbox","d4":"","d5":"","d6":"","d7":"","d8":"","r1":"ui","r2":"","r3":"","r4":"","page":"","memo":""}
]}
</code>
</pre>
	</section>
	<section class="wrap-section">
		<h3 class="tit-s">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.project.list({ 
	id:'project.list', 
	url:'/netiveUI/resources/data/codinglist.json', 
	type:'json'
});
</code>
</pre>
	</section>
</article>




