<input type="hidden" id="uiJsName" value="pageJsonCodingList">

<div class="tit-wrap">
	<h1 class="h-1">Json Coding List</h1>
	<p>IA엑셀 문서 기준으로 만들어진 json파일형식의 엑셀에서 변환한 json파일로 자동 생성 관리<br>
		일정관리를 엑셀문서로 진행하여 공유</p>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<div class="box-guide">
		<div class="ui-codinglist" id="projectList"></div>
	</div>
</section>

<section class="sec-wrap">
	<h3 class="h-3">EXCEL</h3>
	<p>IA엑셀 문서에서 필요한 정보를 셀을 복사하여 구성한다. excel파일에 IA문서 버전을 기록하면 버전관리에 도움이 된다.</p>
	<div class="btn-wrap txta-l">
		<a href="/netiveUI/resources/data/codinglist.xlsx" class="btn-base"><span>샘플 코딩리스트 excel 파일 다운로드</span></a>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>

<pre class="box-code"><code class="html">
&lt;div class="ui-codinglist" id="projectlist"&gt;&lt;/div&gt;
</code>
</pre>

	<h3 class="h-3">Json</h3>
	<p>코딩 리스트 excel파일의 data를 드래그 카피하여 지정된 json파일에 복사한다.</p>
<pre class="box-code"><code class="javascript">
{"list":[
	{"state":"상태","date":"일정","enddate":"종료일","pub":"퍼블","id":"화면ID","d1":"D1","d2":"D2","d3":"D3","d4":"D4","d5":"D5","d6":"D6","d7":"D7","d8":"D8","r1":"경로","r2":"","r3":"","r4":"","page":"","memo":"메모"},
	{"state":"완료","date":"180131","enddate":"171217","pub":"조현민","id":"form","d1":"UI","d2":"form","d3":"radio&checkbox","d4":"","d5":"","d6":"","d7":"","d8":"","r1":"ui","r2":"","r3":"","r4":"","page":"","memo":""}
]}
</code>
</pre>

	<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.project.list({ 
	id:'project.list', 
	url:'/netiveUI/resources/data/codinglist.json', 
	type:'json'
});
</code>
</pre>

</section>

