
					
				<div class="tit-wrap">
					<h1 class="h1">loading</h1>
				</div>

				<h2 class="h2">Examples</h2>
				<button type="button" class="btn-base" onclick="$plugins.uiLoading({ visible:true });"><span>loading...</span></button>

				<h2 class="h2">Javascript</h2>
				<h3 class="h3">$plugins.uiLoading</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiLoading</span>({ <span class="s">visible:true</span> });
$plugins<span class="na">.uiLoading</span>({ <span class="s">visible:false</span> });
</code>
</pre>
</div>

