
<input type="hidden" id="uiJsName" value="pageModal">

<div class="tit-wrap">
	<h1 class="tit-l">Modal</h1>
</div>

<article class="wrap-article">
	<h2 class="tit-m">Base Modal</h2>

	<div class="box-guide">
		<div class="wrap-group test-modal" >
			<button type="button" class="btn-base" 
			modal-id="modal_sample1" 
			modal-src="./components/contents/modalSample1.html" 
			modal-full="true">
			<span>full:true</span></button>

			<button type="button" class="btn-base" 
			modal-id="modal_sample1" 
			modal-src="./components/contents/modalSample1.html" 
			modal-full="true">
			<span>full2:true</span></button>

			<button type="button" class="btn-base" 
			modal-id="modal_sample1" 
			modal-src="./components/contents/modalSample1.html" 
			modal-full="mobile"  >
			<span>full:mobile</span></button>

			<button type="button" class="btn-base" 
			modal-id="modal_sample2" 
			modal-src="./components/contents/modalSample2.html" 
			modal-ps="top">
			<span>ps:top</span></button>

			<button type="button" class="btn-base" 
			modal-id="modal_sample2" 
			modal-src="./components/contents/modalSample2.html" 
			modal-ps="bottom">
			<span>ps:bottom</span></button>
			
			<button type="button" class="btn-base" 
			modal-id="modal_sample1" 
			modal-src="./components/contents/modalSample1.html" 
			modal-height="500">
			<span>height:500</span></button>

			<button type="button" class="btn-base" 
			modal-id="modal_sample1" 
			modal-src="./components/contents/modalSample1.html" 
			modal-width="800">
			<span>width:800</span></button>

			<button type="button" class="btn-base" 
			modal-id="modal_sample1" 
			modal-src="./components/contents/modalSample1.html" 
			modal-scroll="outer">
			<span>scroll:outer</span></button>
		</div>
	</div>

	
</article>

 
