<input type="hidden" id="uiJsName" value="pageParallax">

<div class="tit-wrap">
	<h1 class="h-1">Parallax Scroll</h1>
</div>

<div class="ui-parallax">
	<section class="sec-wrap ui-parallax-item parallax-test" start="100" end="20">
		<h2 class="h-2">Examples</h2>
		<div class="parallax-cont">
			<b>A</b>
			<a href="#">aaaaa</a>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-item parallax-test" start="70" end="20">
		<div class="parallax-cont">
			<b>B</b>
			<a href="#">aaaaa</a>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-item parallax-test" start="50" end="20">
		<div class="parallax-cont">
			<b>C</b>
			<a href="#">aaaaa</a>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-item parallax-test" start="50" end="20">
		<div class="parallax-cont">
			<b>D</b>
			<a href="#">aaaaa</a>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-item" start="50" end="20">
		<div class="parallax-cont">
			<h2 class="h-2">HTML Structure</h2>
			<a href="#">aaaaa</a>
<div class="box-code">
<pre>
<code>
&lt;div class="ui-parallax&gt;
	&lt;section class="ui-parallax-item" start="0" end="0"&gt;
		...
	&lt;/section&gt;
	&lt;section class="ui-parallax-item" start="0" end="0"&gt;
		...
	&lt;/section&gt;
	...
&lt;/div&gt;
</code>
</pre>
</div>
		</div>
	</section>

	<section class="ui-parallax-item" start="70" end="20">
		<div class="parallax-cont">
			<h2 class="h-2">CSS Style</h2>
			<a href="#">aaaaa</a>
<div class="box-code">
<pre>
<code>
.ui-parallax-item {position:relative;}
</code>
</pre>
</div>
		</div>
	</section>

	<section class="ui-parallax-item" start="73" end="20">
		<div class="parallax-cont">
			<h2 class="h-2">Javascript</h2>
			<a href="#">aaaaa</a>
<h3 class="h-3">netive.scroll.parallax</h3>
<div class="box-code">
<pre>
<code>
netive.scroll.parallax({
	callback:function(v) {
		console.log(v);
	}
});
</code>
</pre>
</div>
		</div>
	</section>
</div>

				


