<input type="hidden" id="uiJsName" value="pageParallax">

<div class="tit-wrap">
	<h1 class="h-1">Parallax Scroll</h1>
</div>

<div class="ui-parallax">
	<section class="sec-wrap ui-parallax-wrap parallax-test" data-start="100" data-end="20">
		<h2 class="h-2">Examples</h2>
		<div class="parallax-cont">
			<b>A</b>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-wrap parallax-test" data-start="70" data-end="20">
		<div class="parallax-cont" style="overflow: hidden;">
			<b class="ui-parallax-item" 
			data-css="opacity:{n};transform:scale({n});transform:translate({-nnn}%,0);">B</b>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-wrap parallax-test" data-start="50" data-end="20">
		<div class="parallax-cont">
			<b class="ui-parallax-item" 
			data-css="opacity:{-n};transform:scale({-n});">C</b>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-wrap parallax-test" data-start="50" data-end="20">
		<div class="parallax-cont">
			<b>D</b>
		</div>
	</section>

	<section class="sec-wrap ui-parallax-wrap parallax-test" data-start="100" data-end="20">
		<div class="ui-parallax-item" data-css="opacity:{n};">
			<h2 class="h-2">Source Code</h2>
			<h3 class="h-3">HTML</h3>

<pre class="box-code"><code class="html">
&lt;div class="ui-parallax&gt;
	&lt;section class="ui-parallax-wrap" data-start="100" data-end="20"&gt;
		...
	&lt;/section&gt;
	&lt;section class="ui-parallax-wrap" data-start="70" data-end="20"&gt;
		//한자리수 0~1{n}, 
		//두자리수 0~10{nn}
		//세자리수 0~100{nnn}
		//{n}양수, {-n}음수
		&lt;div class="ui-parallax-item" data-css="opacity:{n};transform:scale({n});"&gt;
			...
		&lt;/div&gt;
	&lt;/section&gt;
	...
&lt;/div&gt;
</code></pre>
		</div>
 	</section>


	<section class="ui-parallax-wrap parallax-test" data-start="118" data-end="20">
		<div class="ui-parallax-item" data-css="opacity:{n};">
			<h3 class="h-3">Javascript</h3>

<pre class="box-code"><code class="javascript">
netive.scroll.parallax({
	callback:function(v) {
		console.log(v);
	}
});
</code>
</pre>
		</div>
	</section>
</div>



