<input type="hidden" id="uiJsName" value="pagePerspective">

<div class="tit-catagory">Components Layout</div>
<div class="tit-wrap">
	<h1 class="h-1">Perspective Slide</h1>
</div>

<h2 class="h-2">Examples</h2>
<p>only desktop</p>

<div class="ui-perspective">
	<div class="ui-perspective-scene-a">
		<div class="ui-perspective-item n1">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n2">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title2</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n3">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title3</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n4">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title4</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
	</div>
	<div class="ui-perspective-scene-b">
		<div class="ui-perspective-item n1">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n2">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title2</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n3">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title3</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n4">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title4</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
	</div>
	<div class="ui-perspective-scene-c">
		<div class="ui-perspective-item n1">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n2">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title2</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n3">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title3</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
		<div class="ui-perspective-item n4">
			<a href="#" class="project-sajawho">
				<div>
					<h3>Title4</h3>
					<p>this is ...</p>
				</div>
			</a>
		</div>
	</div>
</div>
