<input type="hidden" id="uiJsName" value="pageRange">

<div class="tit-wrap">
	<h1 class="tit-l">Range</h1>
</div>

<article class="wrap-article">
	<h2 class="tit-m">Examples</h2>

	<section class="wrap-section">
		<h3 class="tit-s">Range slider</h3>
		<div class="box-guide">
			<input data-range="from" type="range" min="0" max="100" value="0" style="width: 100%;" list="tickmarks"/>
			<datalist id="tickmarks">
				<option value="0" label="0"></option>
				<option value="25" label="25"></option>
				<option value="50" label="50"></option>
				<option value="75" label="75"></option>
				<option value="100" label="100"></option>
			</datalist>
		</div>

		<div class="box-guide">
			<div class="ui-range" data-id="range2" data-type="single">
				<input class="ui-range-inp" data-range="from" type="range" step="1" min="1" max="4" value="1" id="range2" list="range2_tickmarks" />
			
			</div>

			<div class="ui-range mt-x6" data-id="range22" data-type="single">
				<input class="ui-range-inp" data-range="from" type="range" step="10" min="0" max="100" value="50" aria-label="금액" />
				
			</div>
	
			<div class="ui-range mt-x6" data-id="range1">
				<input class="ui-range-inp" data-range="from" type="range" step="1" min="1000" max="5000" value="1000" aria-label="1000원"/>
				<input class="ui-range-inp" data-range="to" type="range" step="1" min="1000" max="5000" value="3000" aria-label="3000원" />
				
			</div>
		</div>

		<div class="box-guide" style="height:14rem; display: flex; justify-content: center;">
			<div class="ui-range" data-id="range3" data-type="single" data-orient="vertical" style="width:10rem">
				<input class="ui-range-inp" data-range="from" type="range" step="100" min="100" max="10000" value="0" />
		
			</div>
		</div>

		<div class="box-guide" style="height:14rem; display: flex; justify-content: center;">
			<div class="ui-range" data-id="range4" data-orient="vertical" style="width:10rem">
				<input class="ui-range-inp" data-range="from" type="range" min="100" max="10000" value="0" step="100" />
				<input class="ui-range-inp" data-range="to" type="range" min="100" max="10000" value="6000" step="100"/>
				
			</div>
		</div>
	</section>
</article>

<article class="wrap-article">
	<h2 class="tit-m">Source Code</h2>
	<h3 class="tit-s">HTML</h3>
<pre class="box-code"><code class="html">
//single
&lt;div class="ui-range" data-id="range2" data-type="single"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" step="1" min="0" max="100" value="0" /&gt;
	<tag-comment>
	//스크립트 자동생성
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-point"&gt;
			&lt;em class="n" data-from="range2"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	</tag-comment>
&lt;/div&gt;

//dual
&lt;div class="ui-range" data-id="range1"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" step="1" min="0" max="100" value="0" /&gt;
	&lt;input class="ui-range-inp" data-range="to" type="range" step="1" min="0" max="100" value="50" /&gt;
	<tag-comment>
	//스크립트 자동생성
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-point"&gt;
			&lt;em class="ui-range-txt" data-from="range1"&gt;&lt;/em&gt;
		&lt;/div&gt;
		&lt;div class="right ui-range-point"&gt;
			&lt;em class="ui-range-txt" data-to="range1"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	</tag-comment>
&lt;/div&gt;

//vertical : data-orient="vertical"
&lt;div class="ui-range" data-id="range2" data-orient="vertical" data-type="single"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" step="1" min="0" max="100" value="0" /&gt;
&lt;/div&gt;
</code>
</pre>


<h3 class="tit-s">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.rangeSlider.init({
	id: 'range1',
	step: 500,
	min:1000,
	max:5000,
	text: ['매우높음', '매우높음2', '높음', '높음2', '보통', '보통2','낮음', '낮음2', '매우낮음'],
	tickmark: ['1000', '2000', '3000', '4000', '5000'],
});

//single type 필수
netive.rangeSlider.rangeFrom({ 
	id: 'range1', 
	value: 90,
	type: 'single'
});

//dual type 생략
netive.rangeSlider.rangeFrom({ 
	id: 'range1', 
	value: 90
});
netive.rangeSlider.rangeTo({ 
	id: 'range1', 
	value: 90 
});
</code></pre>

</article>
