<input type="hidden" id="uiJsName" value="pageRange">

<div class="tit-wrap">
	<h1 class="h-1">Range</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<h3 class="h-3">Range slider</h3>
	<div class="box-guide">
		<div class="ui-range" data-id="range2" data-type="single">
			<input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" />
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n" data-range2="from"></em>
				</div>
			</div>
		</div>
	</div>

	<div class="box-guide">
		<div class="ui-range" data-id="range1">
			<input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" />
			<input class="ui-range-inp" data-range="to" type="range" min="0" max="100" value="50" />
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n" data-range1="from"></em>
				</div>
				<div class="right ui-range-btn">
					<em class="n" data-range1="to"></em>
				</div>
			</div>
		</div>
	</div>

	<div class="box-guide" style="height:14rem; display: flex; justify-content: center;">
		<div class="ui-range" data-id="range3" data-type="single" data-orient="vertical" style="width:10rem">
			<input class="ui-range-inp" data-range="from" type="range" min="100" max="10000" value="0" step="100" />
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n"  data-range3="from"></em>
				</div>
			</div>
		</div>
	</div>

	<div class="box-guide" style="height:14rem; display: flex; justify-content: center;">
		<div class="ui-range" data-id="range4" data-orient="vertical" style="width:10rem">
			<input class="ui-range-inp" data-range="from" type="range" min="100" max="10000" value="0" step="100" />
			<input class="ui-range-inp" data-range="to" type="range" min="100" max="10000" value="6000" step="100"/>
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n"  data-range4="from"></em>
				</div>
				<div class="right ui-range-btn">
					<em class="n" data-range4="to"></em>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
//single
&lt;div class="ui-range" data-id="range2" data-type="single"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" /&gt;
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-btn"&gt;
			&lt;em class="n" data-range2="from"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

//dual
&lt;div class="ui-range" data-id="range1"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" /&gt;
	&lt;input class="ui-range-inp" data-range="to" type="range" min="0" max="100" value="50" /&gt;
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-btn"&gt;
			&lt;em class="n" data-range1="from"&gt;&lt;/em&gt;
		&lt;/div&gt;
		&lt;div class="right ui-range-btn"&gt;
			&lt;em class="n" data-range1="to"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

//vertical : data-orient="vertical"
&lt;div class="ui-range" data-id="range2" data-orient="vertical" data-type="single"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" /&gt;
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-btn"&gt;
			&lt;em class="n" data-range2="from"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>


<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.rangeSlider.init({
	id : 'range1'
});

//single type 필수
netive.rangeSlider.rangeFrom({ 
	id: 'range1', 
	value: 90,
	type: 'single'
});

//dual type 생략
netive.rangeSlider.rangeFrom({ 
	id: 'range1', 
	value: 90
});
netive.rangeSlider.rangeTo({ 
	id: 'range1', 
	value: 90 
});
</code></pre>

</section>
