<input type="hidden" id="uiJsName" value="pageScrollMove">

<div class="tit-wrap">
	<h1 class="tit-l">Scroll Move</h1>
	<p>특정 위치로 스크롤 이동이 필요할때 사용한다.</p>
</div>

<article class="wrap-article">
	<h2 class="tit-m">Examples</h2>
	<div class="box-guide">
		<div class="ui-scrollbar ui-scrollmove test-scrollmove-hor" data-area="test1">
			<div class="test-scrollmove-hor-wrap" style="width: 400vw;">
				<div class="test ui-scrollmove-item" data-name="0"><span>1</span></div>
				<div class="test ui-scrollmove-item" data-name="1"><span>2</span></div>
				<div class="test ui-scrollmove-item" data-name="2"><span>3</span></div>
				<div class="test ui-scrollmove-item" data-name="3"><span>4</span></div>
				<div class="test ui-scrollmove-item" data-name="4"><span>5</span></div>
				<div class="test ui-scrollmove-item" data-name="5"><span>6</span></div>
				<div class="test ui-scrollmove-item" data-name="6"><span>7</span></div>
				<div class="test ui-scrollmove-item" data-name="7"><span>8</span></div>
			</div>
		</div>
		<div class="wrap-group type-many">
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="0" data-area="test1"><span>01</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="1" data-area="test1"><span>02</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="2" data-area="test1"><span>03</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="3" data-area="test1"><span>04</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="4" data-area="test1"><span>05</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="5" data-area="test1"><span>06</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="6" data-area="test1"><span>07</span></button>
			<button type="button" class="btn-mix-outlined ui-scrollmove-btn" data-align="center" data-name="7" data-area="test1"><span>08</span></button>
		</div>

		<div class="ui-scrollbar ui-scrollmove test-scrollmove-ver" data-area="test2">
			<div class=" fx-wrap">
				<div class="fx-item" style="min-width:100%">
					<div class="test ui-scrollmove-item" data-name="top"><span>A</span></div>
					<div class="test ui-scrollmove-item" data-name="1"><span>B</span></div>
					<div class="test ui-scrollmove-item" data-name="bottom"><span>C</span></div>
				</div>
				<div class="fx-item" style="min-width:100%">
					<div class="test ui-scrollmove-item" data-name="top2"><span>A2</span></div>
					<div class="test ui-scrollmove-item" data-name="2"><span>B2</span></div>
					<div class="test ui-scrollmove-item" data-name="bottom2"><span>C2</span></div>
				</div>
			</div>
		</div>
		<div class="wrap-group">
			<button type="button" data-area="test2" class="ui-scrollmove-btn btn-mix-outlined" data-name="top"><span>a</span></button>
			<button type="button" data-area="test2" class="ui-scrollmove-btn btn-mix-outlined" data-align="center" data-callback="testscroll" data-name="1" ><span>b</span></button>
			<button type="button" data-area="test2" class="ui-scrollmove-btn btn-mix-outlined" data-name="bottom"><span>c</span></button>
			<button type="button" data-area="test2" class="ui-scrollmove-btn btn-mix-outlined" data-name="top2" ><span>a2</span></button>
			<button type="button" data-area="test2" class="ui-scrollmove-btn btn-mix-outlined" data-name="2" ><span>b2</span></button>
			<button type="button" data-area="test2" class="ui-scrollmove-btn btn-mix-outlined" data-name="bottom2"><span>c2</span></button>
		</div>
	</div>
</article>

<article class="wrap-article">
    <h2 class="tit-m">Source Code</h2>
	<section class="wrap-section">
		<h3 class="tit-s">HTML</h3>

<pre class="box-code"><code class="html">
&lt;div class="ui-scrollmove" data-area="name"&gt;
	&lt;div class="ui-scrollmove-item" data-name="name1"&gt;...&lt;/div&gt;
	...
&lt;/div&gt;

&lt;button type="button" class="ui-scrollmove-btn" data-area="name" data-name="name1" data-align="center" data-callback="testscroll"&gt;...&lt;/button&gt;

//callback
netive.callback.testscroll = function(){
	console.log('callback');
};
</code></pre>
	</section>
	<section class="wrap-section">
		<h3 class="tit-s">Javascript</h3>
<pre class="box-code"><code class="script">
netive.scroll.init();

netive.scroll.move({ 
	selector: document.querySelector('.ui-scrollmove[data-area="test1"]'),
	focus: document.querySelector('.ui-scrollmove-item[data-area="3"]'),
	top: 0,
	left: -300,
	add: 0,
	align: 'default',
	callback: function(){ console.log('test'); }
});
</code></pre>

		<div class="tbl-base type-option mt-x2">
			<table>
				<caption>옵션 설명</caption>
				<colgroup>
					<col class="n1">
					<col class="n2">
					<col class="n3">
					<col class="n4">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Options</th>
						<th scope="col">Type</th>
						<th scope="col">Default</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">selector:</th>
						<td>[object]</td>
						<td>document.querySelector('html, body')</td>
						<td>스크롤 영역 지정</td>
					</tr>
					<tr>
						<th scope="row">top:</th>
						<td>[number]</td>
						<td>0</td>
						<td>세로 이동할 위치값</td>
					</tr>
					<tr>
						<th scope="row">left:</th>
						<td>[number]</td>
						<td>0</td>
						<td>가로 이동할 위치값</td>
					</tr>
					<tr>
						<th scope="row">add:</th>
						<td>[number]</td>
						<td>0</td>
						<td>이동 시 이동값 추가</td>
					</tr>
					
					<tr>
						<th scope="row">align:</th>
						<td>[string]</td>
						<td>'default'</td>
						<td>스크롤 아이템 기준위치
							<ul>
							<li>'default' : top,left </li>
							<li>'center' : center,middle </li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="row">focus:</th>
						<td>[object]</td>
						<td>false</td>
						<td>스크롤 완료 후 포커스 갈 위치의 id or $(...)</td>
					</tr>
					<tr>
						<th scope="row">callback:</th>
						<td>[function/string]</td>
						<td></td>
						<td>
							<ul>
							<li>이동 시 : 스크롤 좌표값, complete = false </li>
							<li>완료 시 : 이동할 포커스 아이디명, complete = true </li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</article>			

			
