<input type="hidden" id="uiJsName" value="pageScrollBox">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h1">Scroll Box</h1>
</div>

				<h2 class="h2">Examples</h2>
				<div class="ui-scrollbox">
					<section class="ui-scrollbox-item">
						<div class="ui-scrollbox-cont" style="width:100%; height:500px; background:#999">

						</div>
					</section>
					<section class="ui-scrollbox-item">
						<div class="ui-scrollbox-cont" style="width:100%; height:900px; background:#888">

						</div>
					</section>
					<section class="ui-scrollbox-item">
						<div class="ui-scrollbox-cont" style="width:100%; height:400px; background:#777">

						</div>
					</section>
					<section class="ui-scrollbox-item">
						<div class="ui-scrollbox-cont" style="width:100%; height:300px; background:#666">

						</div>
					</section>
					<section class="ui-scrollbox-item">
						<div class="ui-scrollbox-cont" style="width:100%; height:500px; background:#555">

						</div>
					</section>
				</div>

				


