<input type="hidden" id="uiJsName" value="pageScrollBox">

<div class="tit-catagory">Components</div>
<div class="tit-wrap">
	<h1 class="h-1">Scroll Box</h1>
</div>


<div class="ui-scrollbox">
	<section class="ui-scrollbox-item">
		<div class="ui-scrollbox-cont">
			<h2 class="h-2">Examples</h2>
			<p>스크롤 이벤트로 컨텐츠를 보이고 안보이게 설정합니다.</p>

		</div>
	</section>

	<section class="ui-scrollbox-item scrollbox-test">
		<div class="ui-scrollbox-cont">
			<b>A</b>
		</div>
	</section>

	<section class="ui-scrollbox-item scrollbox-test">
		<div class="ui-scrollbox-cont">
			<b>B</b>
		</div>
	</section>

	<section class="ui-scrollbox-item scrollbox-test">
		<div class="ui-scrollbox-cont">
			<b>C</b>
		</div>
	</section>

	<section class="ui-scrollbox-item scrollbox-test">
		<div class="ui-scrollbox-cont">
			<b>D</b>
		</div>
	</section>



	<section class="ui-scrollbox-item">
		<div class="ui-scrollbox-cont">
			<h2 class="h-2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
&lt;div class="ui-scrollbox&gt;
	&lt;section class="ui-scrollbox-item"&gt;
		&lt;div class="ui-scrollbox-cont"&gt;
			....
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;section class="ui-scrollbox-item"&gt;
		&lt;div class="ui-scrollbox-cont"&gt;
			....
		&lt;/div&gt;
	&lt;/section&gt;
	....
&lt;/div&gt;
</code>
</pre>
</div>
		</div>
	</section>

	<section class="ui-scrollbox-item">
		<div class="ui-scrollbox-cont">
						<h2 class="h-2">CSS Style</h2>
<div class="box-code">
<pre>
<code>
.ui-scrollbox-item {position:relative;}
.ui-scrollbox-cont {position:relative; width:100%; top:50px; opacity:0; transition:top 0.3s ease-in, opacity 0.5s ease-in;}
.ui-scrollbox-item.visible .ui-scrollbox-cont {top:0; opacity:1;}
</code>
</pre>
</div>
		</div>
	</section>

	<section class="ui-scrollbox-item">
		<div class="ui-scrollbox-cont">
			<h2 class="h-2">Javascript</h2>
<h3 class="h-3">$plugins.uiScrollBox</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiScrollBox({
	callback:function(v) {
		console.log(v);
	}
});
</code>
</pre>
</div>
		</div>
	</section>
</div>

				


