<input type="hidden" id="uiJsName" value="pageScrollBar">

<div class="tit-wrap">
	<h1 class="h-1">Scroll Bar</h1>
	<p>커스텀된 스크롤바는 데스크탑 환경에서만 제공한다.</p>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<div class="box-guide">
		<div class="fx-wrap" >
			<div class="fx-item" data-flex="1-1-1">
				<div style="vertical-align:top; display:inline-block; height:300px; width:100%; border:1px dashed #ccc; overflow:auto">
					<div style="width:100%; font-size: 20rem; text-align: center;">
						0 1 2 3 4 5 6 7 8 9 
					</div>
				</div>
			</div>
			<div class="fx-item" data-flex="1-1-1" style="margin-left:.8rem">
				<div class="ui-scrollbar" style="vertical-align:top; display:inline-block; height:300px; width:100%; border:1px dashed #ccc; overflow:auto"> 
					<div style="width:100%; font-size: 20rem; text-align: center;">
						0 1 2 3 4 5 6 7 8 9 
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui-scrollbar mgt-xs" scroll-id="scrbar1" style="vertical-align:top; display:inline-block; height:300px; width:100%; border:1px dashed #ccc; overflow:auto"> 
			<div style="width:150vw; font-size: 20rem; text-align: left;">
				0 1 2 3 4 5 6 7 8 9 
			</div>
		</div>

		<div class="ui-scrollbar mgt-xs" style="vertical-align:top; display:inline-block; height:300px; width:100%; border:1px dashed #ccc; overflow:auto">
			<div style="width:100%; font-size: 20rem; text-align: center;">
				0 1 2 3
			</div>
			
			<div class="ui-scrollbar test7">
				<div style="width:100%; font-size: 10rem; text-align: center;">
					4 5
				</div>
				<div style="width:100%; font-size: 10rem; text-align: center;">
					6 7
				</div>
			</div>

			<div style="width:100%; font-size: 20rem; text-align: center;">
				8 9
			</div>

			<a href="/netiveUI/html/components/scrollBar.html" class="btn-base text">test</a>
			<button type="button" onclick="alert(1111)" class="btn-base">알림</button>
		</div>  
	</div>
</section>
<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>

<pre class="box-code"><code class="html">
//스크립트 적용 전
&lt;div class="ui-scrollbar"&gt;
	..........
&lt;/div&gt;

//스크립트 적용 후
&lt;div class="ui-scrollbar" scroll-id="uiScrollBar_0"&gt;
	&lt;div class="ui-scrollbar-barwrap type-y"&gt;
		&lt;button type="button" class="ui-scrollbar-bar" aria-hidden="true" tabindex="-1" data-scrollxy="y" style="..."&gt;
			&lt;span class="hide">scroll&lt;/span&gt;
		&lt;/button&gt;
	&lt;/div&gt;
	&lt;div class="ui-scrollbar-barwrap type-x"&gt;
		&lt;button type="button" class="ui-scrollbar-bar" aria-hidden="true" tabindex="-1" data-scrollxy="x" style="..."&gt;
			&lt;span class="hide">scroll&lt;/span&gt;
		&lt;/button&gt;
	&lt;/div&gt;
	&lt;div class="ui-scrollbar-item ready"&gt;
		&lt;div class="ui-scrollbar-wrap"&gt;</span>
			..........
		&lt;/div&gt;
	&lt;/div&gt;</span>
&lt;/div&gt;
</code>
</pre>

	<h3 class="h-3">CSS</h3>
<pre class="box-code"><code class="css">

</code>
</pre>
	<h3 class="h-3">Javascript</h3>

<pre class="box-code"><code class="javascript">
//전체 적용 
netive.scrollbar.init({
	callback: function(){
		console.log('end');
	}
});

//개별 적용
netive.scrollbar.init({
	id: '{name}',
	callback: function(){
		console.log('end');
	}
});
</code></pre>

<div class="tbl-base type-option" style="margin-bottom:100px">
	<table>
	<caption>옵션 설명</caption>
	<colgroup>
		<col class="n1">
		<col class="n2">
		<col class="n3">
		<col class="n4">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Options</th>
			<th scope="col">Type</th>
			<th scope="col">Default</th>
			<th scope="col">Explanation</th>
		</tr>
	</thead>
	<tbody>
		<tr class="nec">
			<th scope="row">id:</th>
			<td>[string]</td>
			<td></td>
			<td>scroll-id의 값</td>
		</tr>

		<tr>
			<th scope="row">callback:</th>
			<td>[function]</td>
			<td>function</td>
			<td>y축 스크롤이 젤하단에 도착했을 경우 콜백 실행</td>
		</tr>
	</tbody>
	</table>
</div>

				