<input type="hidden" id="uiJsName" value="pageScrollMove">

<div class="tit-wrap">
	<h1 class="h-1">Scroll Move</h1>
	<p>특정 위치로 스크롤 이동이 필요할때 사용한다.</p>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<div class="box-guide">
		<div class="ui-scrollbar test-scrollmove-hor">
			<div class="test-scrollmove-hor-wrap">
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>1</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>2</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>3</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>4</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>5</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>6</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>7</span></div>
				<div class="test test-scrollmove-hor-item" tabindex="0"><span>8</span></div>
			</div>
		</div>
		<div class="btn-wrap type-many">
			<button type="button" class="btn-base test-scrollmove-left" data-n="0"><span>01</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="1"><span>02</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="2"><span>03</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="3"><span>04</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="4"><span>05</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="5"><span>06</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="6"><span>07</span></button>
			<button type="button" class="btn-base test-scrollmove-left" data-n="7"><span>08</span></button>
		</div>
		<div class="test-scrollmove-ver">
			<div class="test" tabindex="0"><span>A</span></div>
			<div class="test" tabindex="0"><span>B</span></div>
			<div class="test" tabindex="0"><span>C</span></div>
		</div>
		<div class="btn-wrap">
			<button type="button" class="btn-base test-scrollmove-top"><span>top</span></button>
			<button type="button" class="btn-base test-scrollmove-bottom" ><span>bottom</span></button>
		</div>
	</div>

	<script>
		;(function($, win, doc, undefined) {

			'use strict';

			$(doc).ready(function() {
				$('.test-scrollmove-left').on('click', function(){
					var n = $(this).attr('data-n');

					console.log('-------------', $('.test-scrollmove-hor-wrap').scrollLeft());

					$plugins.scroll.move({ 
						value: $('.test-scrollmove-hor .test').eq(n).position().left + $('.test-scrollmove-hor').scrollLeft() + 10, 
						selector: document.querySelector('.test-scrollmove-hor'), 
						speed:  300, 
						ps:'center',
						add: $('.test-scrollmove-hor .test').eq(n).outerWidth() / 2,
						focus: $('.test-scrollmove-hor .test').eq(n), 
						callback: function(v) {
							console.log('callback-center', v);
						}
					});
					
				});

				$('.test-scrollmove-top').on('click', function(){
					$plugins.scroll.move({ 
						selector: document.querySelector('.test-scrollmove-ver'),
						value: 0, 
						speed: 300, 
						focus: $('.h-1'),
						callback: function(v) {
							console.log('callback-top', v);
						}
					});
				});
				
				$('.test-scrollmove-bottom').on('click', function(){
					$plugins.scroll.move({ 
						selector: $('.test-scrollmove-ver'),
						value: $('.test-scrollmove-ver').prop('scrollHeight'), 
						speed:300,
						callback: function(v) {
							console.log('callback-bottom', v);
						}
					});
				});

			
				document.querySelectorAll('.test-scrollmove-hor-item').forEach(function (v) {
					$plugins.io.observe(v);
				});
			});
		})(jQuery, window, document);
	</script>

</section>

<section class="sec-wrap">
	<h2 class="h-2">Javascript</h2>
	<h3 class="h-3">$plugins.scroll.move({ ... })</h3>

<pre class="box-code"><code class="script">
$plugins.scroll.move({ 
	selector: $('name'), 
	value: 0,
	speed: 0,
	callback: false,
	ps: 'top', //'top/center/left'
	add: 0,
	focus: false,
	
});
</code></pre>

	<div class="tbl-base type-option">
		<table>
			<caption>옵션 설명</caption>
			<colgroup>
				<col class="n1">
				<col class="n2">
				<col class="n3">
				<col class="n4">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">옵션명</th>
					<th scope="col">유형</th>
					<th scope="col">기본</th>
					<th scope="col">설명</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">selector:</th>
					<td>[object]</td>
					<td>$('html, body')</td>
					<td>스크롤 영역 지정</td>
				</tr>
				<tr>
					<th scope="row">value:</th>
					<td>[number]</td>
					<td>0</td>
					<td>이동할 위치값</td>
				</tr>
				<tr>
					<th scope="row">speed:</th>
					<td>[number]</td>
					<td>300</td>
					<td>이동속도</td>
				</tr>
				<tr>
					<th scope="row">addLeft:</th>
					<td>[number]</td>
					<td>0</td>
					<td>가로 이동 시 이동값 추가</td>
				</tr>
				
				<tr>
					<th scope="row">ps:</th>
					<td>[string]</td>
					<td>'top'</td>
					<td>스크롤 방향
						<ul>
						<li>'top' : 상하 이동 </li>
						<li>'left' : 좌우 이동 </li>
						<li>'center' : 좌우 중앙 이동 </li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">focus:</th>
					<td>[object]</td>
					<td>false</td>
					<td>스크롤 완료 후 포커스 갈 위치의 id or $(...)</td>
				</tr>
				<tr>
					<th scope="row">callback:</th>
					<td>[function]</td>
					<td></td>
					<td>
						<ul>
						<li>이동 시 : 스크롤 좌표값, complete = false </li>
						<li>완료 시 : 이동할 포커스 아이디명, complete = true </li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>			

			