<input type="hidden" id="uiJsName" value="pageSelection">

<div class="tit-wrap">
	<h1 class="typo-headline-l">Selection Buttons</h1>
</div>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Radio Buttons</h2>

	<div class="box-guide">
		<table class="type-noline">
			<caption class="ui-caption"></caption>
			<colgroup>
				<col class="col-th">
				<col class="col-auto" span="5">
			</colgroup>
			<thead>
				<tr class="typo-title-s">
					<th scope="col">Type</th>
					<th scope="col">Enabled</th>
					<th scope="col">Disabled</th>
					<th scope="col">Hover</th>
					<th scope="col">Focused</th>
					<th scope="col">Pressed</th>
				</tr>
			</thead>
			<tbody class="ta-c">
				<tr>
					<th scope="row">Unchecked</th>
					<td>
						<input type="radio" name="r1_1" id="r1_1">
						<label class="lb-radio" for="r1_1"><span>Radio</span></label>
					</td>
					<td>
						<input type="radio" name="r1_2" id="r1_2" disabled>
						<label class="lb-radio" for="r1_2"><span>Radio</span></label>
					</td>
					<td class="hover">
						<input type="radio" name="r1_3" id="r1_3">
						<label class="lb-radio" for="r1_3"><span>Radio</span></label>
					</td>
					<td class="focus">
						<input type="radio" name="r1_4r1" id="r1_4">
						<label class="lb-radio" for="r1_4"><span>Radio</span></label>
					</td>
					<td class="press">
						<input type="radio" name="r1_5" id="r1_5">
						<label class="lb-radio" for="r1_5"><span>Radio</span></label>
					</td>
				</tr>
				<tr>
					<th scope="row">Checked</th>
					<td>
						<input type="radio" name="r2_1" id="r2_1" checked>
						<label class="lb-radio" for="r2_1"><span>Radio</span></label>
					</td>
					<td>
						<input type="radio" name="r2_2" id="r2_2" checked disabled>
						<label class="lb-radio" for="r2_2"><span>Radio</span></label>
					</td>
					<td class="hover">
						<input type="radio" name="r2_3" id="r2_3" checked>
						<label class="lb-radio" for="r2_3"><span>Radio</span></label>
					</td>
					<td class="focus">
						<input type="radio" name="r2_4" id="r2_4" checked>
						<label class="lb-radio" for="r2_4"><span>Radio</span></label>
					</td>
					<td class="press">
						<input type="radio" name="r2_5" id="r2_5" checked>
						<label class="lb-radio" for="r2_5"><span>Radio</span></label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<pre class="box-code"><code class="html">
&lt;input type="radio" name="r1_1" id="r1_1"&gt;
&lt;label class="lb-radio" for="r1_1"&gt;&lt;span&gt;Radio&lt;/span&gt;&lt;/label&gt;
</code>
</pre>
</section>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Checkboxes</h2>

	<div class="box-guide">
		<table class="type-noline">
			<caption class="ui-caption"></caption>
			<colgroup>
				<col class="col-th">
				<col class="col-auto" span="5">
			</colgroup>
			<thead>
				<tr class="typo-title-s">
					<th scope="col">Type</th>
					<th scope="col">Enabled</th>
					<th scope="col">Disabled</th>
					<th scope="col">Hover</th>
					<th scope="col">Focused</th>
					<th scope="col">Pressed</th>
				</tr>
			</thead>
			<tbody class="ta-c">
				<tr>
					<th scope="row">Unchecked</th>
					<td>
						<input type="checkbox" id="c1_1">
						<label class="lb-checkbox" for="c1_1"><span>checkbox</span></label>
					</td>
					<td>
						<input type="checkbox" id="c1_2" disabled>
						<label class="lb-checkbox" for="c1_2"><span>checkbox</span></label>
					</td>
					<td class="hover">
						<input type="checkbox" id="c1_3">
						<label class="lb-checkbox" for="c1_3"><span>checkbox</span></label>
					</td>
					<td class="focus">
						<input type="checkbox"1" id="c1_4">
						<label class="lb-checkbox" for="c1_4"><span>checkbox</span></label>
					</td>
					<td class="press">
						<input type="checkbox" id="c1_5">
						<label class="lb-checkbox" for="c1_5"><span>checkbox</span></label>
					</td>
				</tr>
				<tr>
					<th scope="row">Checked</th>
					<td>
						<input type="checkbox" id="c2_1" checked>
						<label class="lb-checkbox" for="c2_1"><span>checkbox</span></label>
					</td>
					<td>
						<input type="checkbox" id="c2_2" checked disabled>
						<label class="lb-checkbox" for="c2_2"><span>checkbox</span></label>
					</td>
					<td class="hover">
						<input type="checkbox" id="c2_3" checked>
						<label class="lb-checkbox" for="c2_3"><span>checkbox</span></label>
					</td>
					<td class="focus">
						<input type="checkbox" id="c2_4" checked>
						<label class="lb-checkbox" for="c2_4"><span>checkbox</span></label>
					</td>
					<td class="press">
						<input type="checkbox" id="c2_5" checked>
						<label class="lb-checkbox" for="c2_5"><span>checkbox</span></label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<pre class="box-code"><code class="html">
&lt;input type="checkbox" id="r1_1"&gt;
&lt;label class="lb-checkbox" for="r1_1"&gt;&lt;span&gt;checkbox&lt;/span&gt;&lt;/label&gt;
</code>
</pre>
</section>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Switches</h2>

	<div class="box-guide">
		<table class="type-noline">
			<caption class="ui-caption"></caption>
			<colgroup>
				<col class="col-th">
				<col class="col-auto" span="5">
			</colgroup>
			<thead>
				<tr class="typo-title-s">
					<th scope="col">Type</th>
					<th scope="col">Enabled</th>
					<th scope="col">Disabled</th>
					<th scope="col">Hover</th>
					<th scope="col">Focused</th>
					<th scope="col">Pressed</th>
				</tr>
			</thead>
			<tbody class="ta-c">
				<tr>
					<th scope="row">Unchecked</th>
					<td>
						<input type="checkbox" id="s1_1">
						<label class="lb-switch" for="s1_1"><span>checkbox</span></label>
					</td>
					<td>
						<input type="checkbox" id="s1_2" disabled>
						<label class="lb-switch" for="s1_2"><span>checkbox</span></label>
					</td>
					<td class="hover">
						<input type="checkbox" id="s1_3">
						<label class="lb-switch" for="s1_3"><span>checkbox</span></label>
					</td>
					<td class="focus">
						<input type="checkbox" id="s1_4">
						<label class="lb-switch" for="s1_4"><span>checkbox</span></label>
					</td>
					<td class="press">
						<input type="checkbox" id="s1_5">
						<label class="lb-switch" for="s1_5"><span>checkbox</span></label>
					</td>
				</tr>
				<tr>
					<th scope="row">Checked</th>
					<td>
						<input type="checkbox" id="s2_1" checked>
						<label class="lb-switch" for="s2_1"><span>checkbox</span></label>
					</td>
					<td>
						<input type="checkbox" id="s2_2" checked disabled>
						<label class="lb-switch" for="s2_2"><span>checkbox</span></label>
					</td>
					<td class="hover">
						<input type="checkbox" id="s2_3" checked>
						<label class="lb-switch" for="s2_3"><span>checkbox</span></label>
					</td>
					<td class="focus">
						<input type="checkbox" id="s2_4" checked>
						<label class="lb-switch" for="s2_4"><span>checkbox</span></label>
					</td>
					<td class="press">
						<input type="checkbox" id="s2_5" checked>
						<label class="lb-switch" for="s2_5"><span>checkbox</span></label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<pre class="box-code"><code class="html">
&lt;input type="checkbox" id="r1_1"&gt;
&lt;label class="lb-switch" for="r1_1"&gt;&lt;span&gt;checkbox&lt;/span&gt;&lt;/label&gt;
</code>
</pre>
</section>