<input type="hidden" id="uiJsName" value="pageSelect">

<div class="tit-wrap">
	<h1 class="h-1">Select</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<h3 class="h-3">CSS Design</h3>
	<p>CSS로 스타일 표현하나 IE등 일부 브라우저에서는 지원을 안함.</p>
	<div class="box-guide">
		<div class="form-wrap">
			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="test_a0_1">Label Text</label>
					</div>

					<div class="form-item">
						<select title="년도 선택" id="test_a0_1">
							<option value="1" selected>2018</option>
							<option value="2">2017</option>
							<option value="3">2016</option>
							<option value="4">2015</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h3 class="h-3">Custom Select</h3>
	<p>모든 브라우저에서 동일한 UI와 디자인으로 접근 가능. option도 디자인 표현이 가능 </p>
	<div class="box-guide">
		<div class="form-wrap">

			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="uiSel1">Label Text</label>
					</div>

					<div class="form-item">
						<div class="ui-select">
							<select title="Palette 앨범" id="uiSel1" onchange="console.log(this.value);">
								<option value="1">이 지금</option>
								<option value="2">팔레트(Feat. G-DRAGON)</option>
								<option value="3">이런 엔딩</option>
								<option value="4">사랑이 잘(with 오혁)</option>
								<option value="5">잼잼</option>
								<option value="6">Black Out</option>
								<option value="7">마침표</option>
								<option value="8">밤편지(Through the Night)</option>
								<option value="9">그렇게 사랑은</option>
								<option value="10">이름에게</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="fx-wrap" data-align="justify">
				<div class="fx-item ui-form" data-flex="1-1-1">
					<div class="form-label">
						<label class="form-item-label" for="uiSel2">Label Text</label>
						<div class="form-label-util">
							<button type="button" class="btn-base-s" id="changeOption">동적 셀렉트 옵션 추가</button>
						</div>
					</div>

					<div class="form-item">
						<div class="ui-select">
							<select title="구 선택" id="uiSel2" onchange="alert(this.value)">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</div>
					</div>

					<div class="form-item">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-select"&gt;
	&lt;select title="Palette 앨범" id="uiSel1"&gt;
		&lt;option&gt;...&lt;/option&gt;
		...
	&lt;select&gt;
&lt;/div&gt;

//스크립트 적용 후
&lt;div class="ui-select"&gt;
	&lt;select title="Palette 앨범" id="uiSel1" class="off"&gt;
		&lt;option&gt;...&lt;/option&gt;
		...
	&lt;select&gt;
	&lt;button type="button" class="ui-select-btn " id="uiSel1_inp" role="combobox" aria-autocomplete="list" aria-owns="uiSel1_list" aria-haspopup="true" aria-expanded="true" aria-activedescendant="uiSel1_opt_0" data-n="0" data-id="uiSel1" tabindex="-1"&gt;
		&lt;span&gt;1&lt;/span&gt;
	&lt;/button&gt;
	&lt;div class="ui-select-wrap on bottom" style="min-width: 332px;" aria-hidden="false"&gt;
		&lt;strong class="ui-select-title"&gt;구 선택&lt;/strong&gt;
		&lt;div class="ui-select-opts" role="listbox" id="uiSel1_list" aria-hidden="false"&gt;
			&lt;button type="button" role="option" id="uiSel1_opt_0" class="ui-select-opt selected " value="1" tabindex="-1"&gt;
				&lt;span class="ui-select-txt"&gt;1&lt;/span&gt;
			&lt;/button&gt;
			...
		&lt;/div&gt;
		&lt;button type="button" class="ui-select-cancel"&gt;
			&lt;span&gt;취소&lt;/span&gt;
		&lt;/button&gt;
		&lt;button type="button" class="ui-select-confirm"&gt;
			&lt;span&gt;확인&lt;/span&gt;
		&lt;/button&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>

	<h3 class="h-3">CSS</h3>
<pre class="box-code"><code class="css">

</code></pre>

	<h3 class="h-3">Javascript</h3>

	<h4 class="h-4">netive.select.init()</h4>
	<p>현재 select box기준으로 디자인 select 생성. 첫적용이나 동적인 변경이 있을때 사용한다. 특히 동적인 변경일 경우는 id로 개별 실행해주는게 좋다.</p>
<pre class="box-code"><code class="javascript">
//전체 실행
netive.select.init();

//개별 실행
netive.select.init({ 
	id: false, 
	current: null,
	customscroll: true,
	callback: false
});
</code></pre>

	<h4 class="h-4">netive.select.act()</h4>
	<p>마우스, 키보드 이벤트가 아닌 option값 선택을 할 때 사용. netive.uiSelect()을 사용해도 되나 불필요한 재구성을 하지 않아 값변경 시에는 netive.select.act를
		사용한다. </p>
<pre class="box-code"><code class="javascript">
netive.select.act({ 
	id:'forSelLocal', 
	current:0,
	callback:function(v){console.log(v)}
});
</code>
</pre>

	<div class="tbl-base type-option">
		<table>
			<caption>
				<strong>selectg 기본 옵션</strong>
				<span class="ui-caption"></span>
			</caption>
			<colgroup>
				<col class="col-xs">
				<col class="col-xs">
				<col class="col-xs">
				<col class="col-auto">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Options</th>
					<th scope="col">Type</th>
					<th scope="col">Default</th>
					<th scope="col">Explanation</th>
				</tr>
			</thead>
			<tbody>
				<tr class="nec">
					<th scope="row">id:</th>
					<td>[string]</td>
					<td>false</td>
					<td>.ui-select에 포함된 select의 아이디명 기입</td>
				</tr>
				<tr>
					<th scope="row">current:</th>
					<td>[number]</td>
					<td>null</td>
					<td>select option 선택</td>
				</tr>
				<tr>
					<th scope="row">customscroll:</th>
					<td>[boolean]</td>
					<td>true</td>
					<td>custom scroll 적용</td>
				</tr>
				<tr>
					<th scope="row">callback:</th>
					<td>[function]</td>
					<td>false</td>
					<td>값 선택 시 콜백실행.</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>


<script>
	netive.select.init();

	netive.select.init({
		id: 'forSelLocal',
		current: 0,
		callback: function (v) {}
	});

	netive.select.init({
		id: 'uiSel1',
		current: 1,
		callback: function (v) {
			$('#baseWrap').css('display', 'block');
		}
	});

	var opttxt = 5;
	$('#changeOption').on('click', function () {
		$('#uiSel2').append('<option value="' + opttxt + '">' + opttxt + '</option>');
		opttxt = opttxt + 1;
	});
</script>