<input type="hidden" id="uiJsName" value="pageSlider">

<div class="tit-wrap">
	<h1 class="h-1">Range</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<h3 class="h-3">Range slider</h3>
	<div class="box-guide">
		<div class="ui-range" data-id="range2" data-type="single">
			<input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" />
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n" data-range2="from"></em>
				</div>
			</div>
		</div>
	</div>

	<div class="box-guide">
		<div class="ui-range" data-id="range1">
			<input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" />
			<input class="ui-range-inp" data-range="to" type="range" min="0" max="100" value="50" />
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n" data-range1="from"></em>
				</div>
				<div class="right ui-range-btn">
					<em class="n" data-range1="to"></em>
				</div>
			</div>
		</div>
	</div>

	<div class="box-guide" style="height:14rem; display: flex; justify-content: center;">
		<div class="ui-range" data-id="range3" data-type="single" data-orient="vertical" style="width:10rem">
			<input class="ui-range-inp" data-range="from" type="range" min="100" max="10000" value="0" step="100" />
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n"  data-range3="from"></em>
				</div>
			</div>
		</div>
	</div>

	<div class="box-guide" style="height:14rem; display: flex; justify-content: center;">
		<div class="ui-range" data-id="range4" data-orient="vertical" style="width:10rem">
			<input class="ui-range-inp" data-range="from" type="range" min="100" max="10000" value="0" step="100" />
			<input class="ui-range-inp" data-range="to" type="range" min="100" max="10000" value="6000" step="100"/>
			<div class="ui-range-track">
				<div class="ui-range-bar"></div>
				<div class="left ui-range-btn">
					<em class="n"  data-range4="from"></em>
				</div>
				<div class="right ui-range-btn">
					<em class="n" data-range4="to"></em>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
//single
&lt;div class="ui-range" data-id="range2" data-type="single"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" /&gt;
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-btn"&gt;
			&lt;em class="n" data-range2="from"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

//dual
&lt;div class="ui-range" data-id="range1"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" /&gt;
	&lt;input class="ui-range-inp" data-range="to" type="range" min="0" max="100" value="50" /&gt;
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-btn"&gt;
			&lt;em class="n" data-range1="from"&gt;&lt;/em&gt;
		&lt;/div&gt;
		&lt;div class="right ui-range-btn"&gt;
			&lt;em class="n" data-range1="to"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

//vertical : data-orient="vertical"
&lt;div class="ui-range" data-id="range2" data-orient="vertical" data-type="single"&gt;
	&lt;input class="ui-range-inp" data-range="from" type="range" min="0" max="100" value="0" /&gt;
	&lt;div class="ui-range-track"&gt;
		&lt;div class="ui-range-bar"&gt;&lt;/div&gt;
		&lt;div class="left ui-range-btn"&gt;
			&lt;em class="n" data-range2="from"&gt;&lt;/em&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<h3 class="h-3">CSS</h3>
<pre class="box-code"><code class="css">
/* range */
.ui-range[data-orient="vertical"]{
	transform-origin: 5rem 5rem;
		transform: rotate(-90deg);
	margin-left:6rem;
}
.ui-range[data-orient="vertical"] .ui-range-btn{
	justify-content: center;
}
.ui-range[data-orient="vertical"] .ui-range-btn .n{
	top:2.4rem;
	left:2rem;
	transform: rotate(90deg);
	transform-origin: 0 0;
}
.ui-range {
	width: 100%;
	height: 3rem;
	padding: 1.2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.ui-range-inp.on {
	z-index: 11;
}

.ui-range-inp {
	width: 100%;
	top: .5rem;
	left: 0;
	position: absolute;
	border: none;
	pointer-events: none;
	z-index: 10;
	appearance: none;
	opacity: 0;
	padding: 0;
	margin: 0;
	height: 2rem;
}

.ui-range-inp::-webkit-slider-thumb {
	pointer-events: all;
	/* appearance, background-color는 지워도 됨 */
	appearance: none;
	background-color: red;
	width: 2rem;
	height: 2rem;
	margin-top: 0rem;
}

.ui-range-track {
	position: relative;
	width: 100%;
	height: 0.6rem;
	background-color: #bdc3c7;
	border-radius: 0.3rem;
}
[data-type="single"] .ui-range-bar{
	right:auto;
}
.ui-range-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2c3e50;
	border-radius: 0.5rem;
}

.ui-range-btn.on {
	z-index: 1;
}

.ui-range-btn {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 2rem;
	height: 2rem;
	background-color: black;
	border-radius: 50%;
}

.ui-range-btn.left {
	left: 0;
	transform: translate(-1rem, -50%);
}

.ui-range-btn.right {
	right: 0;
	transform: translate(1rem, -50%);
}

.ui-range-btn.right::after {
	content: 'arrow_right';
	font-family: 'Material Icons';
	font-size: 1.2;
	color: #fff;
	line-height: 2rem;

}
[data-type="single"] .ui-range-btn.left::after{
	content:"code";
}
.ui-range-btn.left::after {
	content: 'arrow_left';
	font-family: 'Material Icons';
	font-size: 1.2rem;
	color: #fff;
	line-height: 2rem;

}

.ui-range-btn .n {
	position:absolute;
	top:-1.8rem;
	font-size:1.2rem;
	text-align: center;
}
</code>
</pre>
</div>

<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
$plugins.rangeSlider.init({
	id : 'range1'
});

//single type 필수
$plugins.rangeSlider.rangeFrom({ 
	id: 'range1', 
	value: 90,
	type: 'single'
});

//dual type 생략
$plugins.rangeSlider.rangeFrom({ 
	id: 'range1', 
	value: 90
});
$plugins.rangeSlider.rangeTo({ 
	id: 'range1', 
	value: 90 
});
</code></pre>

</section>

<script>

	$plugins.rangeSlider.init({
		id : 'range1'
	});

	$plugins.rangeSlider.init({
		id : 'range2'
	});

	$plugins.rangeSlider.init({
		id : 'range3'
	});

	$plugins.rangeSlider.init({
		id : 'range4'
	});
	//https://velog.io/@ordidxzero/bidirectional-html-input-range

	// const inputLeft = document.getElementById("input-left");
	// const inputRight = document.getElementById("input-right");

	// const thumbLeft = document.querySelector(".thumb.left");
	// const thumbRight = document.querySelector(".thumb.right");

	// const range = document.querySelector(".range");

	// const setLeftValue = e => {
	// 	const _this = e.target;
	// 	const {
	// 		value,
	// 		min,
	// 		max
	// 	} = _this;

	// 	const v = _this.value;

	// 	if (+inputRight.value - (+v - 1) < 0) {
	// 		v = +inputRight.value - 0;
	// 	}

	// 	console.log(inputRight.value, v, min, (+max - +min))

	// 	const percent = ((+v - +min) / (+max - +min)) * 100;

	// 	thumbRight.classList.remove('on');
	// 	thumbLeft.classList.add('on');
	// 	_this.classList.add('on');
	// 	inputRight.classList.remove('on');
	// 	thumbLeft.style.left = `${percent}%`;
	// 	range.style.left = `${percent}%`;
	// };

	// const setRightValue = e => {
	// 	const _this = e.target;
	// 	const {
	// 		value,
	// 		min,
	// 		max
	// 	} = _this;

	// 	if (+value - +inputLeft.value < 0) {
	// 		_this.value = +inputLeft.value + 0;
	// 	}

	// 	const percent = ((+_this.value - +min) / (+max - +min)) * 100;

	// 	console.log(percent);

	// 	thumbRight.classList.add('on');
	// 	thumbLeft.classList.remove('on');
	// 	_this.classList.add('on');
	// 	inputLeft.classList.remove('on');
	// 	thumbRight.style.right = `${100 - percent}%`;
	// 	range.style.right = `${100 - percent}%`;
	// };

	// if (inputLeft && inputRight) {
	// 	inputLeft.addEventListener("input", setLeftValue);
	// 	inputRight.addEventListener("input", setRightValue);
	// }
</script>
