<input type="hidden" id="uiJsName" value="pageTableCaption">

<div class="tit-wrap">
	<h1 class="h-1">Table Caption</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<div class="tbl-base type-discription">
		<table>
			<caption>
				<strong>테이블의 제목</strong>
				<span class="ui-caption"></span>
			</caption>
			<colgroup>
				<col class="col-th">
				<col class="col-th">
			</colgroup>
			<colgroup>
				<col class="col-auto">
				<col class="col-auto">
				<col class="col-auto">
			</colgroup>
			<thead>
				<tr>
					<th scope="col" rowspan="2">
						title A
					</th>
					<th scope="col">
						title B
					</th>
					<th scope="col" colspan="3">
						title C
					</th>
				</tr>
				<tr>
					<th scope="col">title B-1</th>
					<th scope="col">title C-1</th>
					<th scope="col">title C-2</th>
					<th scope="col">title C-3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="rowgroup" rowspan="2">
						가
					</th>
					<th scope="row">가-1</th>
					<td>content....</td>
					<td>content....</td>
					<td>content....</td>
				</tr>
				<tr>
					<th scope="row">가-2</th>
					<td>content....</td>
					<td>content....</td>
					<td>content....</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th scope="rowgroup" rowspan="2">나</th>
					<th scope="row">나 - 1</th>
					<td>content....</td>
					<td>content....</td>
					<td>content....</td>
				</tr>
				<tr>
					<th scope="row">나 - 2</th>
					<td>content....</td>
					<td>content....</td>
					<td>content....</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
&lt;caption&gt;
	&lt;strong&gt;테이블의 제목&lt;/strong&gt;
	&lt;span class="ui-caption"&gt;[자동으로 테이블의 th의 제목이 들어감]&lt;/span&gt;
&lt;/caption&gt;
</code></pre>

	<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.table.caption();
</code></pre>
</section>