<input type="hidden" id="uiJsName" value="pageTableCellFix">

<div class="tit-wrap">
	<h1 class="h-1">Table Cell Fix</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<p>특정 col 고정하여 col수가 많은 data 테이블일 경우 사용</p>
	<div class="box-guide">
		<div class="tbl-base">
			<table>
				<caption>
					<strong>기본 테이블</strong>
					<span class="ui-caption"></span>
				</caption>
				<colgroup>
				<col class="col-1">
				<col class="col-2">
				<col class="col-3">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">고정영역 1</th>
						<th scope="col">고정영역 2</th>
						<th scope="col">고정영역 3</th>
						<th scope="col">가변영역 1</th>
						<th scope="col">가변영역 2</th>
						<th scope="col">가변영역 3</th>
						<th scope="col">가변영역 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui-fixtd tbl-base mgt-s" data-fix="3">
			<table>
				<caption>
					<strong>기본 테이블</strong>
					<span class="ui-caption"></span>
				</caption>
				<colgroup>
				<col class="col-1">
				<col class="col-2">
				<col class="col-3">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">고정영역 1</th>
						<th scope="col">고정영역 2</th>
						<th scope="col">고정영역 3</th>
						<th scope="col">가변영역 1</th>
						<th scope="col">가변영역 2</th>
						<th scope="col">가변영역 3</th>
						<th scope="col">가변영역 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">
//fix 속성값으로 고정 값 설정
&lt;div class="ui-fixtd tbl-base" data-fix="3"&gt;
	&lt;table&gt;
		...
	&lt;/table&gt;
&lt;/div&gt;
</code></pre>


<h3 class="h-3">CSS</h3>
<pre class="box-code"><code class="css">
.ui-fixtd-btn {
	vertical-align: middle;
	display: inline-block;
}

.ui-fixtd-btn.prev:after {
	content: "keyboard_arrow_left";
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-size: 20px;
	margin-right: 5px
}

.ui-fixtd-btn.next:after {
	content: "keyboard_arrow_right";
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-size: 20px;
	margin-left: 5px
}

[class*="ui-fixtd-n"] {
	display: none
}

[data-current="1"] col.ui-fixtd-n1,
[data-current="2"] col.ui-fixtd-n2,
[data-current="3"] col.ui-fixtd-n3,
[data-current="4"] col.ui-fixtd-n4,
[data-current="5"] col.ui-fixtd-n5,
[data-current="6"] col.ui-fixtd-n6,
[data-current="7"] col.ui-fixtd-n7,
[data-current="8"] col.ui-fixtd-n8,
[data-current="9"] col.ui-fixtd-n9,
[data-current="10"] col.ui-fixtd-n10,
[data-current="11"] col.ui-fixtd-n11 {
	display: block
}

[data-current="1"] .ui-fixtd-n1,
[data-current="2"] .ui-fixtd-n2,
[data-current="3"] .ui-fixtd-n3,
[data-current="4"] .ui-fixtd-n4,
[data-current="5"] .ui-fixtd-n5,
[data-current="6"] .ui-fixtd-n6,
[data-current="7"] .ui-fixtd-n7,
[data-current="8"] .ui-fixtd-n8,
[data-current="9"] .ui-fixtd-n9,
[data-current="10"] .ui-fixtd-n10,
[data-current="11"] .ui-fixtd-n11 {
	display: table-cell
}
</code>
</pre>

	<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.table.fixTd();
</code></pre>
</section>	