<input type="hidden" id="uiJsName" value="pageTableCellFix">

<div class="tit-wrap">
	<h1 class="typo-headline-l">Table Cell Fix</h1>
</div>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Examples</h2>
	<p>특정 col 고정하여 col수가 많은 data 테이블일 경우 사용</p>
	<div class="box-guide">
		<div class="tbl-base">
			<table>
				<caption>
					<strong>기본 테이블</strong>
					<span class="ui-caption"></span>
				</caption>
				<colgroup>
				<col class="col-1">
				<col class="col-2">
				<col class="col-3">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">고정영역 1</th>
						<th scope="col">고정영역 2</th>
						<th scope="col">고정영역 3</th>
						<th scope="col">가변영역 1</th>
						<th scope="col">가변영역 2</th>
						<th scope="col">가변영역 3</th>
						<th scope="col">가변영역 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui-fixtd tbl-base mgt-x2" data-fix="3">
			<table>
				<caption>
					<strong>기본 테이블</strong>
					<span class="ui-caption"></span>
				</caption>
				<colgroup>
				<col class="col-1">
				<col class="col-2">
				<col class="col-3">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				<col class="col-4">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">고정영역 1</th>
						<th scope="col">고정영역 2</th>
						<th scope="col">고정영역 3</th>
						<th scope="col">가변영역 1</th>
						<th scope="col">가변영역 2</th>
						<th scope="col">가변영역 3</th>
						<th scope="col">가변영역 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">고정내용 1</th>
						<th scope="row">고정내용 2</th>
						<th scope="row">고정내용 3</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="typo-headline-m">Source Code</h2>
	<h3 class="typo-title-m">HTML</h3>
<pre class="box-code"><code class="html">
//fix 속성값으로 고정 값 설정
&lt;div class="ui-fixtd tbl-base" data-fix="3"&gt;
	&lt;table&gt;
		...
	&lt;/table&gt;
&lt;/div&gt;
</code></pre>

	<h3 class="typo-title-m">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.table.fixTd();
</code></pre>
</section>	
