<input type="hidden" id="uiJsName" value="pageTableScroll">

<div class="tit-wrap">
	<h1 class="tit-l">Table Scroll</h1>
</div>

<article class="wrap-article">
	<h2 class="tit-m">Examples</h2>
	<p>thead 고정, tbody 영역 스크롤 정보성 테이블</p>

	<div class="box-guide">
		<div class="ui-tablescroll tbl-base">
			<div class="ui-tablescroll-wrap ui-scrollbar" data-scroll-id="tblScrollTest1">
				<table>
					<caption>
						<strong>기본 테이블</strong>
						<span class="ui-caption"></span>
					</caption>
					<colgroup>
					<col class="n1">
					<col class="n2">
					<col class="n3">
					<col class="n4">
					<col class="n5">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">제목</th>
							<th scope="col">이름</th>
							<th scope="col">아이디</th>
							<th scope="col">날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>2</td>
							<td class="txta-l">제목이 길게 들어가는 공간입니다. 제목이 길게 들어가는 공간입니다. 제목이 길게 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>3</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>4</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>5</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>6</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>7</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="ui-tablescroll tbl-base mt-x2">
			<div class="ui-tablescroll-wrap">
				<table>
					<caption>
						<strong>기본 테이블</strong>
						<span class="ui-caption"></span>
					</caption>
					<colgroup>
					<col class="n1">
					<col class="n2">
					<col class="n3">
					<col class="n4">
					<col class="n5">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">제목</th>
							<th scope="col">이름</th>
							<th scope="col">아이디</th>
							<th scope="col">날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>2</td>
							<td class="txta-l">제목이 길게 들어가는 공간입니다. 제목이 길게 들어가는 공간입니다. 제목이 길게 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>3</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>4</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>5</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>6</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
						<tr>
							<td>7</td>
							<td class="txta-l">제목이 들어가는 공간입니다.</td>
							<td>이순신</td>
							<td>lss</td>
							<td>2018.03.20</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</article>

<article class="wrap-article">
	<h2 class="tit-m">Source Code</h2>
	<section class="wrap-section">
		<h3 class="tit-s">HTML</h3>
<pre class="box-code"><code class="html">
&lt;div class="ui-tablescroll tbl-base"&gt;
	&lt;div class="ui-tablescroll-wrap"&gt;
		&lt;table&gt;
			...
		&lt;/table&gt;
	&lt;/div&gt;
&lt;/div&gt;

</code>
</pre>
	</section>
	<section class="wrap-section">
	<h3 class="tit-s">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.table.scroll({
	callback: function(){
		...
	}
});
</code>
</pre>
	</section>
</article>
