<input type="hidden" id="uiJsName" value="pageTime">

<div class="tit-wrap">
	<h1 class="tit-l">Time</h1>
</div>

<article class="wrap-article">
    <h2 class="tit-m">Examples</h2>
    <div class="box-guide">
		<div class="form-wrap" data-type="row">
			<div class="form-item-rowgroup">
				<div class="form-item">
					<div class="form-head">
						<div class="form-title">
							<label class="form-label" for="time1">기본</label>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="form-input">
								<input class="ui-time inp-base" type="time" min="00:00" max="24:00" value="" id="time1" required="required" title="면담일시">
							</div>
						</div>
					</div>
				</div>

                
			</div>
            
		</div>
    </div>
</article>

