
<input type="hidden" id="uiJsName" value="pageToast">

<div class="tit-wrap">
	<h1 class="h-1">Toast</h1>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>
	<p>기본적인 콘텐츠 모달</p>
	<div class="box-guide">
		<div class="test-modal fx-wrap" data-wrap="wrap">
			<button type="button" class="btn-base" 
			onclick="netive.toast.show({
				delay: 'short',
				classname : '',
				conts: '안녕하세요.'
			})"
			>
				<span>Show(bottom)</span>
			</button>
			<button type="button" class="btn-base" 
			onclick="netive.toast.show({
				delay: 'short',
				classname : 'top',
				conts: '안녕하세요.'
			})"
			>
				<span>Show(top)</span>
			</button>

			<button type="button" class="btn-base" 
			onclick="netive.toast.hide()"
			>
				<span>Hide</span>
			</button>
			
		</div>
	</div>

	
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>
<pre class="box-code"><code class="html">

</code></pre>



	<h3 class="h-3">Javascript</h3>
	<h4 class="h-4">base show</h4>
<pre class="box-code"><code class="javascript">

</code></pre>



			
</section>

