<input type="hidden" id="uiJsName" value="pageTooltip">

<div class="tit-wrap">
	<h1 class="h-1">Tooltip</h1>
	<p>툴팁(말풍선)은 마우스오버나 포커스가 가는 즉시 동작하여 보충설명을 보여준다.<br>
		항상 상위에 보이기 위해(z-index, overflow:hidden) baseLayer 위치에 생성한다.<br>
		기본적으로 자동으로 툴팁 실행위치를 계산하여 더 많은 공간이 있는 위치를 선택하여 보여준다.</p>
</div>

<section class="sec-wrap">
	<h2 class="h-2">Examples</h2>				
	<h3 class="h-3">a태그일 경우 기본 스타일</h3>
	<div class="box-guide">
		<p>
			<a href="#tt" aria-describedby="tt3" class="ui-tooltip-btn" data-src="./components/tooltip_ajax.html">간략한</a> 설명을 위해 
			<a href="#tt" aria-describedby="tt" class="ui-tooltip-btn" data-src="./components/tooltip_ajax.html">툴팁</a>기능을 
			<a href="#tt" aria-describedby="tt2" class="ui-tooltip-btn" data-src="./components/tooltip_ajax2.html">사용</a>합니다.
		</p>
	</div> 

	<h3 class="h-3">button태그일 경우 기본 스타일</h3>
	<div class="box-guide">
		<p>간략한 설명을 위해 툴팁 <button type="button" aria-describedby="tt4" class="ui-tooltip-btn" data-src="./components/tooltip_ajax2.html">툴팁 설명</button> 기능을 사용합니다.</p>
	</div>
</section>

<section class="sec-wrap">
	<h2 class="h-2">Source Code</h2>
	<h3 class="h-3">HTML</h3>

<pre class="box-code"><code class="html">
&lt;a href="#tt" aria-describedby="tt" class="ui-tooltip-btn"&gt;툴팁&lt;/a&gt;
&lt;div class="ui-tooltip" id="tt" role="tooltip" aria-hidden="true"&gt;
	&lt;div class="ui-tooltip-arrow"&gt;&lt;/div&gt;
	...
&lt;/div&gt;

&lt;button type="button" aria-describedby="tt2" class="ui-tooltip-btn" data-src="./components/tooltip_ajax2.html"&gt;툴팁 설명&lt;/button&gt;
</code></pre>				

	<h3 class="h-3">Javascript</h3>
<pre class="box-code"><code class="javascript">
netive.tooltip.init();
</code></pre>
</section>
