@charset "utf-8";
button:focus *,
a:focus *,
button:focus,
a:focus {
	text-decoration: underline;
}

/* default */
html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--text-400);
	font-size: 1.6rem;
	line-height: 1.6;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	/* -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	word-break: keep-all;
}

body,
iframe,
div,
p,
span,
strong,
em,
b,
i,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
button,
a,
label,
table,
tbody,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

dl,
dt,
dd,
ul,
ol,
li {
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 0;
}

img,
fieldset,
iframe,
button {
	border: 0 none;
	outline: 0;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border-collapse: collapse;
}

hr {
	border: 0;
	border-top: 1px solid var(--line-color);
	margin: 4rem 0;
}

em,
u,
cite,
i,
abbr {
	font: inherit;
	text-decoration: none;
}

strong,
b {
	font: inherit;
}

a {
	font: inherit;
	color: blue;
	outline-offset: 1px;
	text-decoration: underline;
}

button {
	border: 0 none;
	font: inherit;
	cursor: pointer;
	background: transparent;
	color: inherit;
}

input,
textarea,
select {
	box-sizing: border-box;
	font: inherit, sans-serif;
	outline: 0;
}

label {
	cursor: pointer;
}

caption {
	position: relative !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: -1px 0 0;
}

.a11y-hidden,
legend,
.hidden,
.hide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: 0 !important;
	padding: 0 !important;
}

/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

caption * {
	display: inline-block !important
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance: none;
}

select {
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

select::-ms-expand {
	display: none;
}

/* z index */
.base-skip {
	position: fixed;
	z-index: 2;
}

.base-wrap {
	position: relative;
	z-index: 0;
}


/* gap */
.pdt-n {
	padding-top: 0 !important;
}

.pdb-n {
	padding-bottom: 0 !important;
}

.pdtb-n {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.mgb-n {
	margin-bottom: 0 !important;
}

.mgt-n {
	margin-top: 0 !important;
}

.mgt-xxs {
	margin-top: 0.4rem !important;
}

.mgt-xs {
	margin-top: 0.8rem !important;
}

.mgt-s {
	margin-top: 1.6rem !important;
}

.mgt-m {
	margin-top: 2.4rem !important;
}

.mgt-l {
	margin-top: 3.2rem !important;
}

.mgt-xl {
	margin-top: 4rem !important;
}

.mgt-xxl {
	margin-top: 4.8rem !important;
}

.mgt-xxxl {
	margin-top: 5.6rem !important;
}

/* align */
.ta-c {
	text-align: center !important;
}

.ta-l {
	text-align: left !important;
}

.ta-r {
	text-align: right !important;
}

/**/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-700);
}

.c-p1 {
	color: var(--secondary) !important;
}




/* hr */
.hr-sec {
	width: 100%;
	height: 1rem;
	background: var(--line);
	border: 0;
	margin: 0.5rem 0;
}


.hr-cont {
	width: 100%;
	height: 0.1rem;
	background: var(--line);
	border: 0;
	margin: 2rem 0;
}



/* [base] HEADING & Font ---------------------------------------------------------------------------*/
/* heading */

/* text ellipsis ... */
.ellp {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
}

/* google material icons */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 2.4rem;
	display: block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

/* [base] Space ---------------------------------------------------------------------------*/


/* [base] FORM ---------------------------------------------------------------------------*/
/* style init */
textarea,
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
	display: none;
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
}

input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
}

/* radio & checkbox */
input[type="radio"],
input[type="checkbox"] {
	opacity: 0;
	filter: alpha(opacity=0);
	display: inline-block;
	position: absolute;
	z-index: -1;
	vertical-align: top;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

.lb-radio,
.lb-check {
	position: relative;
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	min-height: 4rem;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
	cursor: pointer;
	line-height: 1;
}

.lb-radio:before,
.lb-check:before {
	content: "";
	display: block;
	flex: 0;
	min-width: 2rem;
	min-height: 2rem;
	margin-right: .5rem;
	box-sizing: border-box;
	border: 2px solid var(--primary);
	transition: box-shadow 0.5s, border 0.3s;
}

.lb-radio:before {
	border-radius: 50%;
}

.lb-check:before {
	border-radius: .3rem;
}

:checked+.lb-radio:before,
:checked+.lb-check:before,
.lb-radio.checked:before,
.lb-check.checked:before {
	border: .6rem solid var(--primary);
}

.lb-radio.activated:before,
.lb-check.activated:before,
.lb-radio:hover:before,
.lb-check:hover:before,
.lb-radio:focus:before,
.lb-check:focus:before {
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.7);
}

:checked+.lb-radio,
:checked+.lb-check,
.lb-radio.checked,
.lb-check.checked {
	color: var(--text-700);
}

:focus+.lb-radio,
:focus+.lb-check {
	text-decoration: underline;
}

:disabled+.lb-radio,
:disabled+.lb-check,
.lb-radio.disabled,
.lb-check.disabled {
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: not-allowed;
}

.lb-radio span,
.lb-check span {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	border-bottom: 1px solid transparent;
}

.lb-check.all {
	font-size: 1.6rem;
	color: var(--text-200);
}

.lb-check.all span {
	padding-top: 1px;
}

.lb-tit {
	display: inline-block;
	height: 4rem;
	margin-right: 1rem;
	padding-top: 1rem;
	vertical-align: top;
	cursor: pointer;
}

/* input text */
select,
.ui-select-btn,
.inp-base {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border: 1px solid var(--inp-line);
	background: var(--inp-bg);
	border-radius: 0;
	height: 4rem;
	padding: 0 1rem;
	outline: 0;
	margin: 0;
	font-size: 1.6rem;
}

select.inp-base {
	padding: 0 4rem 0 1rem;
}

.inp-base:focus {
	border-color: var(--inp-line-active);
}

.inp-base::-webkit-search-cancel-button {
	display: none;
}

textarea.inp-base {
	padding: 1rem;
	height: 10rem;
}

/* select */
select.off {
	position: absolute;
	z-index: -1;
}

select.off:focus+.ui-select-btn {
	border-color: #000;
}

select.off:focus+.ui-select-btn:after {
	content: "keyboard_arrow_up";
}

.ui-select {
	position: relative;
	display: inline-block;
	width: 100%;
}

.ui-select select {
	width: 100%;
}

.ui-select-btn {
	padding: 0 3.5rem 0 1rem;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: auto;
	min-height: 4rem;
	/* display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;
    height: 4rem;
   
    border-radius: 2px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    background-color: #fff; */
}

.ui-select-btn:after {
	content: "keyboard_arrow_down";
	font-family: 'Material Icons';
	display: block;
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -1rem;
	width: 1.8rem;
	height: 2rem;
	float: right;
	overflow: hidden;
	font-size: 2rem;
	line-height: 1;
	color: var(--text-400);
}

.ui-select-btn span {
	display: inline-block;
	width: 100%;
	text-align: left;
	word-break: nowrap;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	line-height: 1.2;
	margin: .8rem 0;
	/* margin-top: .3rem; */
}

.ui-select-btn[aria-expanded="true"],
.ui-select-btn:focus,
.ui-select-btn:active {
	border-color: var(--line-b);
}

.ui-select-btn[aria-expanded="true"]:after,
.ui-select-btn:focus:after,
.ui-select-btn:active:after {
	content: "keyboard_arrow_up";
}

.ui-select-wrap.on {
	display: block
}

.ui-select-wrap.top {
	bottom: 39px
}

.ui-select-wrap.bottom {
	top: 39px
}

.ui-select-wrap {
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	width: auto;
	border: 1px solid #000;
	background: #fff;
	overflow-y: auto;
	max-height: 16.2rem;
	-webkit-overflow-scrolling:touch;
}

.ui-select-wrap.ui-scrollbar {
	position: absolute;
	min-height: 162px
}

.ui-select-opts {
	overflow: hidden;
	width: 100%;
}

.ui-select-opt {
	display: block;
	float: left;
	width: 100%;
	padding: 5px 20px 5px 10px;
	font-size: 14px;
	height: 40px;
	text-align: left;
	background: #fff;
	white-space: nowrap
}

.ui-select-opt.selected {
	font-weight: 700;
	text-decoration: underline;
	background: #444;
	color: #fff;
}

.ui-select-opt.disabled {
	opacity: 0.5;
}

.ui-select-opts input:focus,
.device-desktop .ui-select-opt:focus,
.device-desktop .ui-select-opt:hover {
	background: #444;
	color: #fff;
}

.ui-select-title {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.ui-select.type-tel {
	width: 150px
}

.ui-select.type-bank {
	width: 200px
}

.ui-select.type-card {
	width: 200px
}

.ui-select-cancel,
.ui-select-confirm {
	display: none;
}

/* mobile */
.device-mobile .ui-select-wrap.on {
	display: block;
}

.device-mobile .ui-select-cancel,
.device-mobile .ui-select-confirm,
.device-mobile .ui-select-title,
.device-mobile .ui-select-wrap.top,
.device-mobile .ui-select-wrap.bottom {
	bottom: -300px;
	top: auto;
	animation-name: slideUpIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.device-mobile .ui-select-wrap {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	bottom: -300px;
	width: 100%;
	border: 0;
	border-top: 1px solid #000;
	background: #2b2b2b;
	overflow-y: auto;
	max-height: 240px;
}

.device-mobile .ui-select-title {
	position: fixed;
	margin-bottom: 200px;
	left: 0;
	top: auto;
	display: block;
	width: 100%;
	height: 40px;
	background: #222;
	color: #fff;
	padding: 9px 10px 4px;
	text-align: center;
	z-index: 10;
}

.device-mobile .ui-select-opts {
	padding: 120px 0 80px;
}

.device-mobile .ui-select-opts:after {
	content: "";
	display: block;
	position: fixed;
	bottom: 118px;
	border-top: 1px solid #555;
	width: 100%;
	height: 1px;
	z-index: 0;
}

.device-mobile .ui-select-opts:before {
	content: "";
	display: block;
	position: fixed;
	bottom: 78px;
	border-top: 1px solid #555;
	width: 100%;
	height: 1px;
	z-index: 0;
}

.device-mobile .ui-select-opt {
	text-align: center;
	z-index: 1;
	position: relative;
	background: transparent;
	color: rgba(255, 255, 255, 0.7)
}

.device-mobile .ui-select-opt.selected {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.1)
}

.device-mobile .ui-select-cancel,
.device-mobile .ui-select-confirm {
	position: fixed;
	margin-bottom: 200px;
	right: 0;
	display: block;
	width: 50px;
	height: 40px;
	color: #fff;
	padding: 7px 10px 6px;
	text-align: center;
	font-size: 14px;
	z-index: 11;
}
.device-mobile .ui-select-cancel {
	left:0;
	right:auto;
}


/* Form style */
.form-wrap .fx-item+.fx-item {
	margin-left: .8rem;
}

.form-item {
	width: 100%;
	position: relative;
	padding: 0;
	display: inline-flex;
	vertical-align: top;
}

.form-item>* {
	vertical-align: top;
}

.form-label .form-label-util [class*="bul-"] {
	margin-top: 0 !important;
}

.form-label {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: .4rem;
	min-height: 2.6rem;
}

.form-item-label {
	position: relative;
	top: 0;
	left: 0;
	transform: translate(0, 0);
	font-size: 1.3rem;
	color: var(--inp-label);
	cursor: text;
}

.ui-form-inner .form-label {
	min-height: 0;
}

.ui-form-inner .form-item-label {
	transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms;
	z-index: 1;
	padding: 0 .4rem;
	position: absolute;
	top: 0;
	left: 0.6rem;
	transform: translate(0, 1.2rem);
	font-size: 1.6rem;
}

.ui-form-inner.is-value .form-item-label {
	transform: translate(0, -0.6rem);
	font-size: 1.2rem;
	background-color: #fff;
	margin-left: 0 !important;
}

.ui-form-inner.is-value .ui-select .ui-select-btn {
	color: var(--inp-label);
}

.ui-form-inner .ui-select .ui-select-btn {
	color: transparent;
}

.form-item .unit {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.form-item .prefix {
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.form-item .inp-base::-webkit-input-placeholder {
	color: transparent;
}

.form-item .inp-base:-ms-input-placeholder {
	color: transparent;
}

.form-item .inp-base::placeholder {
	color: transparent;
	text-align: left;
}

.form-item .inp-base:focus::-webkit-input-placeholder {
	color: var(--inp-placeholder);
}

.form-item .inp-base:focus:-ms-input-placeholder {
	color: var(--inp-placeholder);
}

.form-item .inp-base:focus::placeholder {
	color: var(--inp-placeholder);
}

.form-item .info {
	font-size: 1.2rem;
}

.form-sc {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0 .8rem;
}

/* datepicker */
.ui-datepicker {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.datepicker {
	width: 100%;
	max-width: 23rem;
}

.ui-datepicker-btn {
	border: 0;
	padding: 0;
	text-align: right;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: transparent;
}

.ui-datepicker .inp-base:after {
	content: 'date_range';
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-size: 22px;
	word-break: keep-all;
	line-height: 1.6;
}

.ui-datepicker-btn:focus~.inp-base,
.ui-datepicker-btn:hover~.inp-base {
	border: 1px solid #1f1f1f;
	background: transparent;
}

.ui-datepicker-btn:disabled {
	opacity: 0.5
}

.ui-datepicker-btn:disabled:focus,
.ui-datepicker-btn:disabled:hover {
	border: 0;
	background: transparent;
	color: #666;
}

.datepicker .btn-wrap {
	margin: 0;
}

.datepicker-header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.datepicker-header>button {
	width: 3rem;
	height: 3rem;
	font-family: 'Material Icons';
	font-size: 2rem;
	position: relative;
}

.datepicker-title {
	width: 100%;
	font-size: 1.4rem;
	text-align: center;
}

.datepicker-body {
	margin: 1rem 0;
}

.datepicker-body th {
	font-size: 1.2rem;
}

.datepicker-date td {
	text-align: center
}

.datepicker :disabled {
	opacity: .5;
}

.datepicker-day {
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	font-size: 1.2rem;
	margin: 0.3rem 0;
	line-height: 1;
}

.datepicker-day.selected-end,
.datepicker-day.selected-start,
.datepicker-day.selected {
	background: var(--primary);
	color: #fff;
}

.datepicker-day.today.selected-end,
.datepicker-day.today.selected-start {
	background: var(--primary);
	color: #fff;
}

.during .datepicker-day {
	background: #ccc !important;
}

.datepicker-day.today {
	background: #fff;
	border: 1px solid var(--primary);
	color: var(--primary);
}

.ui-prev-y::before {
	content: "chevron_left";
}

.ui-next-y::before {
	content: "chevron_right";
}

.ui-prev-m::before {
	content: "chevron_left";
}

.ui-next-m::before {
	content: "chevron_right";
}

.datepicker-header .ui-today {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 1;
	position: absolute;
	top: 0;
	right: 0;
}

.ui-today::before {
	content: "today";
}

/* sheet */
.sheet-bottom.datepicker .datepicker-wrap {
	padding: 1rem;
	background: var(--bg);
	border: 1px solid var(--box-line);
	box-shadow: 0 0.3rem 0.3rem var(--shadow);
	position: relative;
	z-index: 1;
}

.sheet-bottom {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 301;
	transition: opacity .2s ease-in-out;
}

.sheet-bottom.on {
	opacity: 1;
}

.device-mobile .datepicker.sheet-bottom {
	max-width: 100%;
	top: auto !important;
	left: 0 !important;
	bottom: 0;
	position: fixed;
}

.device-mobile .datepicker-body {
	max-width: 23rem;
	margin: 1rem auto;
}

.device-mobile .datepicker.sheet-bottom {
	bottom: -50vh;
}

.device-mobile .datepicker.sheet-bottom.on {
	top: auto;
	animation-name: slideUpIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.device-mobile .datepicker.sheet-bottom.off {
	top: auto;
	animation-name: slideUpOut;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.sheet-dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.sheet-dim.on {
	opacity: 1;
	transition: opacity .2s ease-in-out;
}

/* ui file */
.ui-file {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui-file-inp {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	direction: ltr;
	cursor: pointer;
	font-size: xx-small;
}

.ui-file input:active+.btn-base,
.ui-file input:hover+.btn-base,
.ui-file input:focus+.btn-base {
	border: 1px solid var(--text-200);
	background: var(--bg-b);
}

.ui-file-list.on {
	display: block;
}

.ui-file-list {
	position: relative;
	padding: 1rem 3rem 1rem 1rem;
	border: 1px solid var(--box-line);
	min-height: 4rem;
	margin-top: 0.8rem;
	display: none;
}

.ui-file-list li {
	padding: .5rem 0;
	display: flex;
	justify-content: left;
	font-size: 1.2rem;
	align-items: center;
}

.ui-file-list li+li {
	border-top: 1px solid var(--line);
}

.ui-file-list img {
	height: 3rem;
	margin-right: .5rem;
}

.ui-file-list .ui-file-del {
	position: absolute;
	right: .5rem;
	top: 1rem;
	line-height: 1;
}

.ui-file-del:after {
	content: "clear";
	display: block;
	width: 2rem;
	height: 2rem;
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-weight: 600;
	font-size: 2rem;
	color: var(--primary);
}

/* range */
.ui-range[data-orient="vertical"]{
	transform-origin: 5rem 5rem;
  	transform: rotate(-90deg);
	margin-left:6rem;
}
.ui-range[data-orient="vertical"] .ui-range-btn{
	justify-content: center;
}
.ui-range[data-orient="vertical"] .ui-range-btn .n{
	top:2.4rem;
	left:2rem;
	transform: rotate(90deg);
	transform-origin: 0 0;
}
.ui-range {
	width: 100%;
	height: 3rem;
	padding: 1.2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.ui-range-inp.on {
	z-index: 11;
}

.ui-range-inp {
	width: 100%;
	top: .5rem;
	left: 0;
	position: absolute;
	border: none;
	pointer-events: none;
	z-index: 10;
	appearance: none;
	opacity: 0;
	padding: 0;
	margin: 0;
	height: 2rem;
}

.ui-range-inp::-webkit-slider-thumb {
	pointer-events: all;
	/* appearance, background-color는 지워도 됨 */
	appearance: none;
	background-color: red;
	width: 2rem;
	height: 2rem;
	margin-top: 0rem;
}

.ui-range-track {
	position: relative;
	width: 100%;
	height: 0.6rem;
	background-color: #bdc3c7;
	border-radius: 0.3rem;
}
[data-type="single"] .ui-range-bar{
	right:auto;
}
.ui-range-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2c3e50;
	border-radius: 0.5rem;
}

.ui-range-btn.on {
	z-index: 1;
}

.ui-range-btn {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 2rem;
	height: 2rem;
	background-color: black;
	border-radius: 50%;
}

.ui-range-btn.left {
	left: 0;
	transform: translate(-1rem, -50%);
}

.ui-range-btn.right {
	right: 0;
	transform: translate(1rem, -50%);
}

.ui-range-btn.right::after {
	content: 'arrow_right';
	font-family: 'Material Icons';
	font-size: 1.2;
	color: #fff;
	line-height: 2rem;

}
[data-type="single"] .ui-range-btn.left::after{
	content:"code";
}
.ui-range-btn.left::after {
	content: 'arrow_left';
	font-family: 'Material Icons';
	font-size: 1.2rem;
	color: #fff;
	line-height: 2rem;

}

.ui-range-btn .n {
	position:absolute;
	top:-1.8rem;
	font-size:1.2rem;
	text-align: center;
}

/* [base] BUTTON ---------------------------------------------------------------------------*/
/* button wrap */
.btn-wrap {
	position: relative;
	margin: 1rem 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn-wrap.type-many {
	width: calc(100% + 1rem);
	margin-left: -0.5rem;
	flex-wrap: wrap;

}

.btn-wrap.type-many [class*="btn-"] {
	margin: 0.5rem;
}

.btn-wrap.type-many [class*="btn-"]+[class*="btn-"] {
	margin-left: .5rem;
}

.btn-wrap [class*="btn-"] {
	flex: 1 auto;
}

.btn-wrap [class*="btn-"]+[class*="btn-"] {
	margin-left: 1rem;
}

.btn-wrap.stick [class*="btn-"]+[class*="btn-"] {
	margin-left: 0;
}

.btn-wrap.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	z-index: 100;
}

.btn-wrap.left {
	justify-content: flex-start;
}

.btn-wrap.center {
	justify-content: center;
}

.btn-wrap.right {
	justify-content: flex-end;
}

.btn-wrap.left [class*="btn-"],
.btn-wrap.center [class*="btn-"],
.btn-wrap.right [class*="btn-"] {
	flex: 0 0;
}

.test-bottom {
	position: relative;
	height: 15rem;
	background: var(--bg-b);
}

.test-bottom .btn-wrap.bottom {
	position: absolute;
}


.btn-wrap.txta-r [class*="btn-base"] {
	margin-right: 0;
	margin-left: 1rem;
}

/* button */
[class*="btn-base"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	min-height: 4rem;
	border: 1px solid var(--btn-line);
	font-size: 1.4rem;
	font-weight: 500;
	background: var(--btn-bg);
	color: var(--btn-text);
	text-decoration: none;
	line-height: 1;
	vertical-align: top;
	box-shadow: 0 0.2rem 0.3rem var(--shodow);
}

div[class*="btn-base"],
span[class*="btn-base"],
a[class*="btn-base"] {
	padding: 0 1rem;
}

[class*="btn-base"] span {
	flex: 0 auto;
	display: block;
	text-align: center;
	line-height: 1;
}

[class*="btn-base"]:hover,
[class*="btn-base"]:focus {
	border: 1px solid var(--text-200);
	background: var(--bg-b);
}

[class*="btn-base"].disabled,
[class*="btn-base"]:disabled {
	opacity: 0.7;
	border: 1px solid var(--line-b);
	box-shadow: none;
	cursor: default;
}

[class*="btn-base"].disabled:hover,
[class*="btn-base"].disabled:focus [class*="btn-base"]:disabled:hover,
[class*="btn-base"]:disabled:focus {
	border-color: var(--line-b);
	background: inherit;
}

/* base size */
.btn-base-s {
	min-height: 2.6rem;
	font-size: 1.2rem;
}

a.btn-base-s {
	padding: 0 .5rem;
}

.btn-base-m {
	min-height: 4rem;
}

a.btn-base-m {
	padding: 0 1rem;
}

.btn-base-l {
	min-height: 5rem;
	font-size: 1.6rem;
}

a.btn-base-l {
	padding: 0 1rem;
}

.btn-base-s.round {
	border-radius: 1.3rem;
}

.btn-base.round,
.btn-base-m.round {
	border-radius: 2rem;
}

.btn-base-l.round {
	border-radius: 2.5rem;
}

[class*="btn-base"].text {
	border: 0;
	font-weight: 500;
	box-shadow: none;
	color: var(--text-700);
	background: transparent;
}

[class*="btn-base"].primary {
	border: 0;
	background-color: var(--btn-bg-primary);
	color: var(--btn-text-primary);
}

[class*="btn-base"].text.primary {
	border: 0;
	background-color: transparent;
	color: var(--secondary);
}

/* button icon style */
[class*="btn-base"] .icon-material {
	flex: 0 0 auto;
	display: block;
	margin: 0 0.2rem;
}

.icon-material::before {
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	display: block;
	position: relative;
	top: .1rem;
}

.btn-base-s .icon-material::before {
	width: 1.3rem;
	font-size: 1.3rem;
}

.btn-base .icon-material::before,
.btn-base-m .icon-material::before {
	width: 1.6rem;
	font-size: 1.6rem;
}

.btn-base-l .icon-material::before {
	width: 2rem;
	font-size: 2rem;
}

.icon-material::before {
	content: attr(data-icon);
}

/* X close, del button, menu ... */
.btn-close {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--btn-bg-primary);
	font-size: 3rem;
	width: 3rem;
	height: 3rem;
	line-height: 1;
}

.btn-clear {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--btn-bg-primary);
	font-size: 3rem;
	width: 2rem;
	height: 3rem;
	line-height: 1;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.btn-clear::before {
	content: "clear";
	font-family: 'Material Icons';
	color: var(--text-700);
	font-size: 1.8rem;
	line-height: 1;
	display: block;
}

.btn-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bg);
	font-size: 2.5rem;
	line-height: 1;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: var(--text-700);

}

.btn-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bg);
	font-size: 2.6rem;
	line-height: 1;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: var(--text-700);
	;
}

.icon-material.btn-mode::before {
	top: 0;
}

.btn-grid {
	display: flex;
	width: 3rem;
	height: 3rem;
	z-index: 99999;
	border-radius: .4rem;
	background-color: #fff;
	font-size: 3rem;
	line-height: 3rem;
	color: #1f1f1f;
}

.btn-close::before,
.btn-grid::before,
.btn-menu::before {
	top: 0;
}


/* box */
.box-base {
	position: relative;
	width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
	background: #fff;
	border: 1px solid rgb(180, 180, 180);
}


/* table */
.tbl-base {
	margin: 0;
	width: 100%;
	position: relative;
	border-top: 1px solid var(--tbl-line-b);
	border-bottom: 1px solid var(--tbl-line-b);
	font-size: 1.1rem;
}

.tbl-base table {
	width: 100%;
}

.tbl-base table>thead th {
	background: var(--tbl-thead-th);
	border-bottom: 1px solid var(--tbl-line);
	border-left: 1px solid var(--tbl-line);
	padding: 0.5rem 0.5rem 0.7rem;
	font-weight: 500;
	color: var(--text-700);
}

.tbl-base table>tbody>tr>th,
.tbl-base table>tbody>tr>td {
	border-top: 1px solid var(--tbl-line);
	border-left: 1px solid var(--tbl-line);
	padding: 0.5rem 0.5rem 0.7rem;
	font-weight: 300;
	word-break: break-all;
	background: var(--tbl-td);
	text-align: center;
}

.tbl-base table>tbody>tr:first-child>th,
.tbl-base table>tbody>tr:first-child>td {
	border-top: 0;
}

.tbl-base table>thead>tr>th:first-child,
.tbl-base table>tbody>tr>th:first-child,
.tbl-base table>tbody>tr>td:first-child {
	border-left: 0;
}

.tbl-base table>thead>tr>*[rowspan],
.tbl-base table>tbody>tr>*[rowspan] {
	border-right: 1px solid var(--tbl-line);
}

.tbl-base table>tbody>tr>th {
	background: var(--tbl-tbody-th);
	font-weight: 500;
	color: var(--text-700);
}

.tbl-base tbody+tbody,
.tbl-base tbody.line-t {
	border-top: 1px solid var(--tbl-line-b);
}


.tbl-list {
	margin: 0.5rem 0 0;
	width: 100%;
	position: relative;
	border-top: 1px solid var(--tbl-line);
	border-bottom: 1px solid var(--tbl-line);
	font-size: 1.1rem;
}

.tbl-list>table {
	width: 100%;
}

.tbl-list>table>thead th {
	background: var(--tbl-thead-th);
	border-bottom: 1px solid var(--tbl-line);
	padding: 0.5rem 0.5rem 0.7rem;
	font-weight: 500;
	color: var(--text-700);
}

.tbl-list>table>tbody>tr>th,
.tbl-list>table>tbody>tr>td {
	border-top: 1px solid var(--tbl-line);
	padding: 0.5rem 0.5rem 0.7rem;
	font-weight: 300;
	word-break: break-all;
	background: var(--tbl-td);
	text-align: center;
}

.tbl-list>table>tbody>tr:first-child>th,
.tbl-list>table>tbody>tr:first-child>td {
	border-top: 0;
}

.tbl-list>table>thead>tr>th:first-child,
.tbl-list>table>tbody>tr>th:first-child,
.tbl-list>table>tbody>tr>td:first-child {
	border-left: 0;
}

.tbl-list>table>tbody>tr>th {
	background: var(--tbl-tbody-th);
	font-weight: 500;
	color: var(--text-700);
}

.tbl-list tbody+tbody,
.tbl-list tbody.line-t {
	border-top: 1px solid var(--tbl-line-b);
}

/* ui-tblscroll */
.ui-tablescroll {
	position: relative;
}

.ui-tablescroll-wrap {
	overflow-y: auto;
	height: 200px;
	width: 100%;
}

.ui-tablescroll-wrap.tbl-base {
	border: 0;
}

.tbl-base.not-space .ui-tablescroll-clone {
	width: 100%;
}

.tbl-base .ui-tablescroll-clone {
	position: absolute;
	width: calc(100% - 15px);
	top: 0;
	left: 0;
	z-index: 1;
}

.device-mobile .tbl-base .ui-tablescroll-clone {
	width: 100%;
}

/* ui-drop : base */
.ui-drop {
    position: relative;
    display: inline-block;
}

.ui-drop-pnl {
    display: none;
    position: absolute;
    z-index: 100;
}

.ui-drop-pnl.on {
    display: block;
}

.ui-drop-box {
    background: #fff;
}

/* ui-drop : netvie UI style */
.ui-drop-box {
    border: 1px solid #222;
    padding: 10px;
}

.ui-drop-pnl .btn-close {
    position: absolute;
    top: 6px;
    right: 6px;
}

.ui-drop-pnl .btn-close:before,
.ui-drop-pnl .btn-close:after {
    background: #222;
}

/* tab */
.ui-tab {
    position: relative;
    margin: 0
}

.ui-tab.type-scroll .ui-tab-btns {
    overflow: auto;
}

.ui-tab.type-scroll .ui-tab-btns .btn-wrap {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

.ui-tab.type-scroll .ui-tab-btns .btn-wrap .ui-tab-btn {
    flex: 1;
    min-width: 10rem
}
.ui-tab-btns .btn-wrap{
	margin:0;
}
.ui-tab-btns {
    position: relative;
    overflow: hidden;
    z-index: 1
}

.ui-tab-btns:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    clear: both;
    width: 100%;
    height: 1px;
    background: var(--box-line);
}

.ui-tab-btn {
    box-sizing: border-box;
    float: left;
    position: relative;
    z-index: 0;
	flex:1;
}

.ui-tab-btn.selected {
    z-index: 2;
}

.ui-tab-pnls {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.ui-tab-pnl {
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.ui-tab-pnl,
.ui-tab-pnl[aria-hidden='true'] {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    display: none
}

.ui-tab-pnl.selected,
.ui-tab-pnl[aria-hidden='false'] {
    visibility: visible;
    position: relative;
    opacity: 1;
    z-index: 1;
    display: block
}

/* ui-tab :base style */
.ui-tab-btn {
    padding: 0 1rem;
    min-height: 4rem;
    background: var(--bg-b);
    border: 1px solid var(--box-line);
    border-left: 0;
}

.ui-tab-btn:first-child {
    border-left: 1px solid var(--box-line);
}

.ui-tab-btn.selected {
    background: var(--bg);
    color: var(--text-700);
    border-bottom: 1px solid var(--bg);
}

.ui-tab-pnl {
    width: 100%;
    padding:1rem;
    background: var(--bg);
 }

/* ui-tab : eff */
.ui-tab.eff-fade>.ui-tab-pnls>.ui-tab-pnl {
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-tab.eff-fade>.ui-tab-pnls>.ui-tab-pnl[aria-hidden="false"] {
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}



/* ui-fixtd */
.ui-fixtd-btn {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	vertical-align: middle;
	display: inline-block;
	background: #fff;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 1;
	border: 1px solid var(--line-b);
}

.ui-fixtd-btn.prev {
	left: -1rem;
}

.ui-fixtd-btn.next {
	right: -1rem;
}

.ui-fixtd-btn.prev::after {
	content: "keyboard_arrow_left";
	font-family: 'Material Icons';
	font-size: 1.6rem;
}

.ui-fixtd-btn.next::after {
	content: "keyboard_arrow_right";
	font-family: 'Material Icons';
	font-size: 1.6rem;
}

[class*="ui-fixtd-n"] {
	display: none;
	position: relative;
}

[data-current="1"] col.ui-fixtd-n1,
[data-current="2"] col.ui-fixtd-n2,
[data-current="3"] col.ui-fixtd-n3,
[data-current="4"] col.ui-fixtd-n4,
[data-current="5"] col.ui-fixtd-n5,
[data-current="6"] col.ui-fixtd-n6,
[data-current="7"] col.ui-fixtd-n7,
[data-current="8"] col.ui-fixtd-n8,
[data-current="9"] col.ui-fixtd-n9,
[data-current="10"] col.ui-fixtd-n10,
[data-current="11"] col.ui-fixtd-n11 {
	display: block
}

[data-current="1"] .ui-fixtd-n1,
[data-current="2"] .ui-fixtd-n2,
[data-current="3"] .ui-fixtd-n3,
[data-current="4"] .ui-fixtd-n4,
[data-current="5"] .ui-fixtd-n5,
[data-current="6"] .ui-fixtd-n6,
[data-current="7"] .ui-fixtd-n7,
[data-current="8"] .ui-fixtd-n8,
[data-current="9"] .ui-fixtd-n9,
[data-current="10"] .ui-fixtd-n10,
[data-current="11"] .ui-fixtd-n11 {
	display: table-cell
}

/* bullet */
.div-wrap>[class*="bul-"]:first-child {
	margin-top: 0;
}

[class*="bul-"] {
	margin: 0;
}

[class*="bul-"]>li:first-child,
[class*="bul-"]>div:first-child>dd:first-child,
[class*="bul-"]>dd:first-child,
[class*="bul-"]:not(ul):not(ol):not(dl) {
	margin-top: 0;
}

[class*="bul-"]>li,
[class*="bul-"]>div>dd,
[class*="bul-"]>dd,
[class*="bul-"]:not(ul):not(ol):not(dl) {
	position: relative;
	margin-top: .5rem;
	padding-left: 0;
	display: flex;
	line-height: 1.6;
}

[class*="bul-"].primary {
	color: #008F84;
}

[class*="bul-"]:not(ul):not(ol):not(dl).primary,
[class*="bul-"].primary>li::before {
	background-color: #008F84;
}

.bul-num.list-base {
	padding: 1rem;
}

dl.bul-num dt {
	font-size: 1.6rem;
	font-weight: 700;
}

.bul-num {
	counter-reset: dep1 0 dep2 0;
}

dl.bul-num dd,
.bul-num>li {
	counter-increment: dep1 1;
	padding-left: 0;
	display: flex;
}

dl.bul-num dd::before,
.bul-num>li:before {
	content: counter(dep1) '.';
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.6;
	margin-right: .3rem;
}

.bul-etc[data-bullet] {
	padding-left: 0;
	display: flex;
	font-size: 1.3rem;
	color: var(--text-200);
}

.bul-etc::before {
	content: attr(data-bullet);
	margin-right: .3rem;
}

.bul-num.custom>li:before {
	content: attr(data-bullet);
}

.bul-num.custom.round>li:before {
	content: attr(data-bullet);
	text-indent: -1px;
	font-weight: 500;
}

.bul-num.upper-roman>li:before {
	content: counter(dep1, upper-roman) '.';
}

.bul-num.lower-roman>li:before {
	content: counter(dep1, lower-roman) '.';
}

.bul-num.decimal-zero>li:before {
	content: counter(dep1, decimal-leading-zero) '.';
}

.bul-num.lower-greek>li:before {
	content: counter(dep1, lower-greek) '.';
}

.bul-num.lower-alpha>li:before {
	content: counter(dep1, lower-alpha) '.';
}

.bul-num.upper-alpha>li:before {
	content: counter(dep1, upper-alpha) '.';
}

.bul-num.round>li:before {
	content: counter(dep1);
}

.bul-num.upper-roman.round>li:before {
	content: counter(dep1, upper-roman);
}

.bul-num.lower-roman.round>li:before {
	content: counter(dep1, lower-roman);
}

.bul-num.decimal-zero.round>li:before {
	content: counter(dep1, decimal-leading-zero);
}

.bul-num.lower-greek.round>li:before {
	content: counter(dep1, lower-greek);
}

.bul-num.lower-alpha.round>li:before {
	content: counter(dep1, lower-alpha);
}

.bul-num.upper-alpha.round>li:before {
	content: counter(dep1, upper-alpha);
}

dl.bul-num dd {
	padding: 1rem 0 .5rem;
}

dl.bul-num dd+dd {
	border-top: 1px solid var(--text-200);
}

.bul-num.round>li {
	padding-left: 0;
}

.bul-num.round>li::before {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	border: 1px solid var(--text-200);
	font-size: 0.9rem;
	min-width: 1.4rem;
	margin-top: 0.4rem;
	line-height: 1.3;
	text-align: center;
}

.bul-dot>li:before,
.bul-dot>div>dd:before,
.bul-dot>dd:before,
.bul-dot:not(ul):not(ol):not(dl):before {
	content: "";
	min-width: .2rem;
	min-height: .2rem;
	max-width: .2rem;
	max-height: .2rem;
	border-radius: 50%;
	background-color: var(--text-200);
	position: relative;
	left: 0.2rem;
	top: 1.2rem;
	margin-right: .6rem;
	font-weight: 900;
	line-height: 1.2;
}

.bul-hyphen>li:before,
.bul-hyphen>div>dd:before,
.bul-hyphen>dd:before,
.bul-hyphen:not(ul):not(ol):not(dl):before {
	content: "";
	min-width: .4rem;
	min-height: .1rem;
	max-width: .4rem;
	max-height: .1rem;
	border-radius: 50%;
	background-color: var(--text-200);
	position: relative;
	left: 0.1rem;
	top: 1.2rem;
	margin-right: .4rem;
	font-weight: 900;
	line-height: 1.2;
}

.bul-error,
.bul-help,
.bul-star,
.bul-care,
.bul-info {
	font-size: 1.3rem;
}

.bul-star::before {
	content: "*";
	position: relative;
	left: 0;
	top: .6rem;
	margin-right: 0.2rem;
	font-weight: 400;
	line-height: 1.2;
}

.bul-care::before {
	content: "※";
	position: relative;
	left: 0;
	top: .2rem;
	font-weight: 400;
	line-height: 1.2;
}

.bul-info {
	color: var(--text-200);
	opacity: 0.;
}

.bul-info::before {
	content: "info";
	font-family: 'Material Icons Outlined';
	position: relative;
	left: 0;
	top: 0.1rem;
	margin-right: 0.2rem;
	font-weight: 200;
	font-size: 1.6rem;
	line-height: 1.2;
}

.bul-help::before {
	content: "help_outline";
	font-family: 'Material Icons Outlined';
	position: relative;
	left: 0;
	top: 0.1rem;
	margin-right: 0.2rem;
	font-weight: 200;
	font-size: 1.6rem;
	line-height: 1.2;
}

.bul-error {
	color: var(--error);
}

.bul-error::before {
	content: "error_outline";
	font-family: 'Material Icons Outlined';
	position: relative;
	color: var(--error);
	left: 0;
	top: 0.1rem;
	margin-right: 0.2rem;
	font-weight: 200;
	font-size: 1.6rem;
	line-height: 1.2;
}

dl[class*="bul-"]>div {
	margin-top: 1.5rem
}

dl[class*="bul-"]>div:first-child {
	margin-top: 0;
}

dl[class*="bul-"]>div>dt,
dl[class*="bul-"]>dt {
	color: var(--text-700);
	font-weight: 500;
}




/* [base] Layout ---------------------------------------------------------------------------*/
/* layout inline-block */
.in-wrap {
	position: relative;
	font-size: 0;
}

.in-wrap+.in-wrap {
	margin-top: 1rem;
}

.in-wrap>*,
.in-item {
	font-size: 1.4rem;
	display: inline-block;
	vertical-align: top;
}

.in-item>* {
	vertical-align: top;
}

/* layout float */
.fl-wrap {
	position: relative;
}

.fl-wrap+.fl-wrap {
	margin-top: 1rem;
}

.fl-wrap:after {
	content: "";
	display: block;
	clear: both;
}

.fl-item-l {
	float: left;
	position: relative;
}

.fl-item-r {
	float: right;
	position: relative;
}

/* layout flex */
.form-wrap .fx-wrap+.fx-wrap {
	margin-top: 2.4rem;
}

.fx-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.fx-wrap+.fx-wrap {
	margin-top: 1.6rem;
}

.fx-wrap.fx-item+.fx-wrap.fx-item {
	margin-top: 0;
}

.fx-wrap.space .fx-item+.fx-item {
	margin-left: .8rem;
}

.fx-wrap[data-wrap="wrap"]{
	flex-wrap: wrap;
}
.fx-wrap[data-dir="row"] {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.fx-wrap[data-dir="rev"] {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.fx-wrap[data-dir="col"] {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}

.fx-wrap[data-dir="revcol"] {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.fx-line {
	-webkit-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fx-wrap[data-align="left"] {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.fx-wrap[data-align="right"] {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.fx-wrap[data-align="center"] {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fx-wrap[data-align="justify"] {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.fx-wrap[data-valign="top"] {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.fx-wrap[data-valign="bottom"] {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.fx-wrap[data-valign="middle"] {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fx-wrap[data-valign="stretch"] {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.fx-wrap[data-valign="baseline"] {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.fx-item[data-order="1"] {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	order: 1;
}

.fx-item[data-order="2"] {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	order: 2;
}

.fx-item[data-order="3"] {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	order: 3;
}

.fx-item[data-order="4"] {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	order: 4;
}

.fx-item[data-order="5"] {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 5;
	order: 5;
}

.fx-item[data-flex^="0-"] {
	flex: 0 0;
}

.fx-item,
.fx-item[data-flex^="1-"] {
	flex: 1 1;
}

.fx-item[data-flex^="2-"] {
	flex: 2 2;
}

.fx-item[data-flex^="3-"] {
	flex: 3 3;
}

.fx-item[data-flex^="4-"] {
	flex: 4 4;
}

.fx-item[data-flex^="5-"] {
	flex: 5 5;
}

.fx-item[data-flex^="6-"] {
	flex: 6 6;
}

.fx-item[data-flex^="7-"] {
	flex: 7 7;
}

.fx-item[data-flex^="8-"] {
	flex: 8 8;
}

.fx-item[data-flex^="9-"] {
	flex: 9 9;
}

.fx-item[data-flex^="10-"] {
	flex: 10 10;
}

.fx-item[data-flex^="11-"] {
	flex: 11 11;
}

.fx-item[data-flex^="12-"] {
	flex: 12 12;
}

/* gride guide */
.base-grid.on {
	display: flex;
}

.base-grid {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	padding: 0 2rem;
}

.base-grid div {
	flex: 1;
	height: 100%;
	background: rgba(247, 89, 181, 0.096);
}

.base-grid div+div {
	margin-left: 2.4rem;
}


/* 4colum */
@media all and (max-width:599px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div:nth-child(4)~div {
		display: none;
	}

	.base-grid div+div {
		margin-left: 1.6rem;
	}

	.box-guide .fx-item>b:nth-child(1) {
		color: var(--secondary);
	}
}

/* 8colum */
@media all and (min-width:600px) and (max-width:904px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div:nth-child(8)~div {
		display: none;
	}

	.base-grid div+div {
		margin-left: 1.6rem;
	}

	.box-guide .fx-item>b:nth-child(2) {
		color: var(--secondary);
	}

	.fx-item[data-flex*="-0-"] {
		flex: 0 0;
	}

	.fx-item[data-flex*="-1-"] {
		flex: 1 1;
	}

	.fx-item[data-flex*="-2-"] {
		flex: 2 2;
	}

	.fx-item[data-flex*="-3-"] {
		flex: 3 3;
	}

	.fx-item[data-flex*="-4-"] {
		flex: 4 4;
	}

	.fx-item[data-flex*="-5-"] {
		flex: 5 5;
	}

	.fx-item[data-flex*="-6-"] {
		flex: 6 6;
	}

	.fx-item[data-flex*="-7-"] {
		flex: 7 7;
	}

	.fx-item[data-flex*="-8-"] {
		flex: 8 8;
	}

	.fx-item[data-flex*="-9-"] {
		flex: 9 9;
	}

	.fx-item[data-flex*="-10-"] {
		flex: 10 10;
	}

	.fx-item[data-flex*="-11-"] {
		flex: 11 11;
	}

	.fx-item[data-flex*="-12-"] {
		flex: 12 12;
	}
}

/* 12colum */
@media all and (min-width:905px) and (max-width:1239px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div+div {
		margin-left: calc((100% - 84rem) / 12);
	}
}

@media all and (min-width:1240) and (max-width:1439px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div+div {
		margin-left: 2.4rem;
	}
}

@media all and (min-width:905px) {
	.box-guide .fx-item>b:nth-child(3) {
		color: orangered;
	}

	.base-grid {
		max-width: 1024px;
		left: 50%;
		transform: translate(-50%, 0);
	}


	.fx-item[data-flex$="-0"] {
		flex: 0 0;
	}

	.fx-item[data-flex$="-1"] {
		flex: 1 1;
	}

	.fx-item[data-flex$="-2"] {
		flex: 2 2;
	}

	.fx-item[data-flex$="-3"] {
		flex: 3 3;
	}

	.fx-item[data-flex$="-4"] {
		flex: 4 4;
	}

	.fx-item[data-flex$="-5"] {
		flex: 5 5;
	}

	.fx-item[data-flex$="-6"] {
		flex: 6 6;
	}

	.fx-item[data-flex$="-7"] {
		flex: 7 7;
	}

	.fx-item[data-flex$="-8"] {
		flex: 8 8;
	}

	.fx-item[data-flex$="-9"] {
		flex: 9 9;
	}

	.fx-item[data-flex$="-10"] {
		flex: 10 10;
	}

	.fx-item[data-flex$="-11"] {
		flex: 11 11;
	}

	.fx-item[data-flex$="-12"] {
		flex: 12 12;
	}

	.base-main {
		margin: 0 auto;
		max-width: 102.4rem;
	}

	/* .header-nav{
		width:32rem !important;
	}
	.base-body{
		left:0 !important;
	}

	.nav-open .header-wrap .logo{
		margin-left:0 !important;
	}
	@keyframes menuIn {
		0% {left:0;}
		100% {left:32rem !important}
	}
	@keyframes menuOut {
		0% {left:32rem !important}
		100% {left:0;}
	} */
}

/*
내부 스크롤에 관성 및 바운스 적용하기
overflow:auto;
-webkit-overflow-scrolling: touch;

*/


@media (prefers-color-scheme: light) {
	/* light mode */
}

@media (prefers-color-scheme: dark) {
	/* dark mode */
}


/* datk mode ----------------------------------------------------------- */
.base-wrap,
body {
	background: var(--bg-base);
}

.dark-mode .header-wrap .logo g {
	fill: #f1f1f1;
}

/* .dark-mode .btn-mode{
	background:#f1f1f1;
	color:#1f1f1f;
	font-weight: 700;
}
.dark-mode .btn-menu {
	background:var(--bg-base);
	color: var(--dark-primary-color);
	font-weight: 700;
} */
