@charset "utf-8";

/* COMMON */
.a11y-hidden,
legend,
.hidden,
.hide {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    color: transparent !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    margin: 0 !important;
    padding: 0 !important;
}

.ellp {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}

/* gap */
.pdt-n {
    padding-top: 0 !important;
}

.pdb-n {
    padding-bottom: 0 !important;
}

.pdtb-n {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mgb-n {
    margin-bottom: 0 !important;
}

.mgt-n {
    margin-top: 0 !important;
}

.mgt-xxs {
    margin-top: 0.4rem !important;
}

.mgt-xs {
    margin-top: 0.8rem !important;
}

.mgt-s {
    margin-top: 1.6rem !important;
}

.mgt-m {
    margin-top: 2.4rem !important;
}

.mgt-l {
    margin-top: 3.2rem !important;
}

.mgt-xl {
    margin-top: 4rem !important;
}

.mgt-xxl {
    margin-top: 4.8rem !important;
}

.mgt-xxxl {
    margin-top: 5.6rem !important;
}

/* align */
.ta-c {
    text-align: center !important;
}

.ta-l {
    text-align: left !important;
}

.ta-r {
    text-align: right !important;
}

/* inline-block layout */
.in-wrap {
    position: relative;
    font-size: 0;
}

.in-wrap+.in-wrap {
    margin-top: 1rem;
}

.in-wrap>*,
.in-item {
    font-size: 1.4rem/*var*/;
    font-size: var(--fs-body-m);
    display: inline-block;
    vertical-align: top;
}

.in-item>* {
    vertical-align: top;
}

/* float layout */
.fl-wrap {
    position: relative;
}

.fl-wrap+.fl-wrap {
    margin-top: 1rem;
}

.fl-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.fl-item-l {
    float: left;
    position: relative;
}

.fl-item-r {
    float: right;
    position: relative;
}

/* flex layout */
.form-wrap .fx-wrap+.fx-wrap {
    margin-top: 2.4rem;
}

.fx-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: single;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.fx-wrap+.fx-wrap {
    margin-top: 1.6rem;
}

.fx-wrap.fx-item+.fx-wrap.fx-item {
    margin-top: 0;
}

.fx-wrap.space .fx-item+.fx-item {
    margin-left: .8rem;
}

.fx-wrap[data-wrap="wrap"] {
    flex-wrap: wrap;
}

.fx-wrap[data-dir="row"] {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fx-wrap[data-dir="rev"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.fx-wrap[data-dir="col"] {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fx-wrap[data-dir="revcol"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.fx-line {
    -webkit-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fx-wrap[data-align="left"] {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.fx-wrap[data-align="right"] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.fx-wrap[data-align="center"] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fx-wrap[data-align="justify"] {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fx-wrap[data-valign="top"] {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.fx-wrap[data-valign="bottom"] {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.fx-wrap[data-valign="center"] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fx-wrap[data-valign="stretch"] {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.fx-wrap[data-valign="baseline"] {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.fx-item[data-order="1"] {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
}

.fx-item[data-order="2"] {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
}

.fx-item[data-order="3"] {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3;
}

.fx-item[data-order="4"] {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 4;
    order: 4;
}

.fx-item[data-order="5"] {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 5;
    order: 5;
}

.fx-item[data-flex^="0-"] {
    flex: 0 0;
}

.fx-item,
.fx-item[data-flex^="1-"] {
    flex: 1 1;
}

.fx-item[data-flex^="2-"] {
    flex: 2 2;
}

.fx-item[data-flex^="3-"] {
    flex: 3 3;
}

.fx-item[data-flex^="4-"] {
    flex: 4 4;
}

.fx-item[data-flex^="5-"] {
    flex: 5 5;
}

.fx-item[data-flex^="6-"] {
    flex: 6 6;
}

.fx-item[data-flex^="7-"] {
    flex: 7 7;
}

.fx-item[data-flex^="8-"] {
    flex: 8 8;
}

.fx-item[data-flex^="9-"] {
    flex: 9 9;
}

.fx-item[data-flex^="10-"] {
    flex: 10 10;
}

.fx-item[data-flex^="11-"] {
    flex: 11 11;
}

.fx-item[data-flex^="12-"] {
    flex: 12 12;
}



/* LAYOUT */
.base-skip {
    position: fixed;
    z-index: 500;
}

.base-skip .skip {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #616161/*var*/;
    background-color: var(--gray700);
    color: #FAFAFA/*var*/;
    color: var(--gray50);
    width: 100%;
    position: fixed;
    left: 0;
    top: -5rem;
}

.base-skip .skip:focus {
    top: 0;
}

.base-wrap {
    position: relative;
    z-index: 0;
}



/* PARAGRAPH */
em,
u,
cite,
i,
abbr {
    text-decoration: none;
}

a {
    color: #6296df/*var*/;
    color: var(--link);
}






/* HR */
hr {
    border: 0;
    border-top: 1px solid #EEEEEE/*var*/;
    border-top: 1px solid var(--gray200);
    margin: 4rem 0;
}

.hr-sec {
    width: 100%;
    height: 1rem;
    background-color: #EEEEEE/*var*/;
    background-color: var(--gray200);
    border: 0;
    margin: 0.5rem 0;
}

.hr-cont {
    width: 100%;
    height: 0.1rem;
    background-color: #EEEEEE/*var*/;
    background-color: var(--gray200);
    border: 0;
    margin: 2rem 0;
}



/* FORM */
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    opacity: 0;
    filter: alpha(opacity=0);
    display: inline-block;
    position: absolute;
    z-index: -1;
    vertical-align: top;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.lb-radio,
.lb-check {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    min-height: 4rem;
    font-size: 1.4rem/*var*/;
    font-size: var(--fs-body-m);
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 1;
}

.lb-radio:before,
.lb-check:before {
    content: "";
    display: block;
    flex: 0;
    min-width: 2rem;
    min-height: 2rem;
    margin-right: .5rem;
    border: 2px solid #6200ee/*var*/;
    border: 2px solid var(--primary);
    transition: box-shadow 0.5s, border 0.3s;
}

.lb-radio:before {
    border-radius: 50%;
}

.lb-check:before {
    border-radius: .3rem;
}

:checked+.lb-radio:before,
:checked+.lb-check:before,
.lb-radio.checked:before,
.lb-check.checked:before {
    border: .6rem solid #6200ee/*var*/;
    border: .6rem solid var(--primary);
}

.lb-radio.activated:before,
.lb-check.activated:before,
.lb-radio:hover:before,
.lb-check:hover:before,
.lb-radio:focus:before,
.lb-check:focus:before {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.7);
}

:checked+.lb-radio,
:checked+.lb-check,
.lb-radio.checked,
.lb-check.checked {
    color: #212121/*var*/;
    color: var(--gray900);
}

:focus+.lb-radio,
:focus+.lb-check {
    text-decoration: underline;
}

:disabled+.lb-radio,
:disabled+.lb-check,
.lb-radio.disabled,
.lb-check.disabled {
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: not-allowed;
}

.lb-radio span,
.lb-check span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-bottom: 1px solid transparent;
}

.lb-check.all {
    font-size: 1.6rem/*var*/;
    font-size: var(--fs-body-l);
    color: #616161/*var*/;
    color: var(--gray700);
}

.lb-check.all span {
    padding-top: 1px;
}

.lb-tit {
    display: inline-block;
    height: 4rem;
    margin-right: 1rem;
    padding-top: 1rem;
    vertical-align: top;
    cursor: pointer;
}

/* input text */
select,
.ui-select-btn,
.inp-base {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border: 1px solid #EEEEEE/*var*/;
    border: 1px solid var(--gray200);
    background-color: #FFFFFF/*var*/;
    background-color: var(--white);
    border-radius: 0;
    height: 4rem;
    padding: 0 1rem;
    outline: 0;
    margin: 0;
    color: #424242/*var*/;
    color: var(--gray800);
    font-size: 1.6rem/*var*/;
    font-size: var(--fs-body-l);
}

.inp-base:focus {
    border-color: #FAFAFA/*var*/;
    border-color: var(--gray50);
}

.inp-base::-webkit-search-cancel-button {
    display: none;
}

textarea.inp-base {
    padding: 1rem;
    height: 10rem;
}

select[class] {
    position: relative;
    cursor: pointer;
}

select.inp-base {
    padding: 0 1rem;
}




/* FORM LAYOUT */
.form-wrap .fx-item+.fx-item {
    margin-left: .8rem;
}

.form-item {
    width: 100%;
    position: relative;
    padding: 0;
    display: inline-flex;
    vertical-align: top;
}

.form-item>* {
    vertical-align: top;
}

.form-label .form-label-util [class*="bul-"] {
    margin-top: 0 !important;
}

.form-label {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: .4rem;
    min-height: 2.6rem;
}

.form-item-label {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    font-size: 1.4rem/*var*/;
    font-size: var(--fs-body-m);
    color: #616161/*var*/;
    color: var(--gray700);
    cursor: text;
}

.ui-form-inner .form-label {
    min-height: 0;
}

.ui-form-inner .form-item-label {
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms;
    z-index: 1;
    padding: 0 .4rem;
    position: absolute;
    top: 0;
    left: 0.6rem;
    transform: translate(0, 1.2rem);
    font-size: 1.6rem/*var*/;
    font-size: var(--fs-body-l);
}

.ui-form-inner.is-value .form-item-label {
    transform: translate(0, -0.6rem);
    font-size: 1.2rem/*var*/;
    font-size: var(--fs-body-s);
    background-color: #FFFFFF/*var*/;
    background-color: var(--white);
    margin-left: 0 !important;
}

.ui-form-inner.is-value .ui-select .ui-select-btn {
    color: #616161/*var*/;
    color: var(--gray700);
}

.ui-form-inner .ui-select .ui-select-btn {
    color: transparent;
}

.form-item .unit {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.form-item .prefix {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.form-item .inp-base::-webkit-input-placeholder {
    color: transparent;
}

.form-item .inp-base:-ms-input-placeholder {
    color: transparent;
}

.form-item .inp-base::placeholder {
    color: transparent;
    text-align: left;
}

.form-item .inp-base:focus::-webkit-input-placeholder {
    color: #757575/*var*/;
    color: var(--gray600);
}

.form-item .inp-base:focus:-ms-input-placeholder {
    color: #757575/*var*/;
    color: var(--gray600);
}

.form-item .inp-base:focus::placeholder {
    color: #757575/*var*/;
    color: var(--gray600);
}

.form-item .info {
    font-size: 1.2rem/*var*/;
    font-size: var(--fs-body-s);
}

.form-sc {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 .8rem;
}


/* sheet */
.sheet-bottom.datepicker .datepicker-wrap {
    padding: 1rem;
    background: #FAFAFA/*var*/;
    background: var(--gray50);
    border: 1px solid #FAFAFA/*var*/;
    border: 1px solid var(--gray50);
    box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.1)/*var*/;
    box-shadow: 0 0.3rem 0.3rem var(--shadow);
    position: relative;
    z-index: 1;
}

.sheet-bottom {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 301;
    transition: opacity .2s ease-in-out;
}

.sheet-bottom.on {
    opacity: 1;
}

.size-mobile .datepicker.sheet-bottom {
    max-width: 100%;
    top: auto !important;
    left: 0 !important;
    bottom: 0;
    position: fixed;
}

.size-mobile .datepicker-body {
    max-width: 23rem;
    margin: 1rem auto;
}

.size-mobile .datepicker.sheet-bottom {
    bottom: -50vh;
}

.size-mobile .datepicker.sheet-bottom.on {
    top: auto;
    animation-name: slideUpIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.size-mobile .datepicker.sheet-bottom.off {
    top: auto;
    animation-name: slideUpOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.sheet-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3)/*var*/;
    background: var(--dim);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.sheet-dim.on {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


/* BUTTON */
/* button wrap */
.btn-wrap {
    position: relative;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-wrap.type-many {
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    flex-wrap: wrap;

}

.btn-wrap.type-many [class*="btn-"] {
    margin: 0.5rem;
}

.btn-wrap.type-many [class*="btn-"]+[class*="btn-"] {
    margin-left: .5rem;
}

.btn-wrap [class*="btn-"] {
    flex: 1 auto;
}

.btn-wrap [class*="btn-"]+[class*="btn-"] {
    margin-left: 1rem;
}

.btn-wrap.stick [class*="btn-"]+[class*="btn-"] {
    margin-left: -1px;
}

.btn-wrap.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 100;
}

.btn-wrap.left {
    justify-content: flex-start;
}

.btn-wrap.center {
    justify-content: center;
}

.btn-wrap.right {
    justify-content: flex-end;
}

.btn-wrap.left [class*="btn-"],
.btn-wrap.center [class*="btn-"],
.btn-wrap.right [class*="btn-"] {
    flex: 0 0;
}

.test-bottom {
    position: relative;
    height: 15rem;
    background: #FAFAFA/*var*/;
    background: var(--gray50);
}

.test-bottom .btn-wrap.bottom {
    position: absolute;
}


.btn-wrap.txta-r [class*="btn-base"] {
    margin-right: 0;
    margin-left: 1rem;
}

/* button */
[class*="btn-base"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    min-height: 4rem;
    position: relative;
    z-index: 0;

    border: 1px solid #616161/*var*/;
    border: 1px solid var(--gray700);
    font-size: 1.4rem/*var*/;
    font-size: var(--fs-body-m);
    background: #FFFFFF/*var*/;
    background: var(--white);
    color: #424242/*var*/;
    color: var(--gray800);
    box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.1)/*var*/;
    box-shadow: 0 0.2rem 0.3rem var(--shodow);

    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    vertical-align: top;
}

div[class*="btn-base"],
span[class*="btn-base"],
a[class*="btn-base"] {
    padding: 0 1rem;
}

[class*="btn-base"] span {
    flex: 0 auto;
    display: block;
    text-align: center;
    line-height: 1;
}

[class*="btn-base"]:hover,
[class*="btn-base"]:focus {
    border: 1px solid #424242/*var*/;
    border: 1px solid var(--gray800);
    background: #FAFAFA/*var*/;
    background: var(--gray50);
    z-index: 1;
}

[class*="btn-base"].disabled,
[class*="btn-base"]:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
}

[class*="btn-base"].disabled:hover,
[class*="btn-base"].disabled:focus [class*="btn-base"]:disabled:hover,
[class*="btn-base"]:disabled:focus {
    background: #FFFFFF/*var*/;
    background: var(--white);
}

/* base size */
.btn-base-s {
    min-height: 2.6rem;

    font-size: 1.2rem/*var*/;
    font-size: var(--fs-body-s);
}

a.btn-base-s {
    padding: 0 .5rem;
}

.btn-base-m {
    min-height: 4rem;
}

a.btn-base-m {
    padding: 0 1rem;
}

.btn-base-l {
    min-height: 5rem;

    font-size: 1.6rem/*var*/;
    font-size: var(--fs-body-l);
}

a.btn-base-l {
    padding: 0 1rem;
}

.btn-base-s.round {
    border-radius: 1.3rem;
}

.btn-base.round,
.btn-base-m.round {
    border-radius: 2rem;
}

.btn-base-l.round {
    border-radius: 2.5rem;
}

[class*="btn-base"].text {
    border: 0;
    font-weight: 500;
    box-shadow: none;
    background: transparent;

    color: #212121/*var*/;
    color: var(--gray900);
}

[class*="btn-base"].primary {
    border: 0;

    background-color: #6200ee;
    background-color: var(--primary);
    color: #FAFAFA/*var*/;
    color: var(--gray50);
}

[class*="btn-base"].text.primary {
    border: 0;
    background-color: transparent;

    color: #03dac6/*var*/;
    color: var(--secondary);
}

/* button icon style */
[class*="btn-base"] .icon-material {
    flex: 0 0 auto;
    display: block;
    margin: 0 0.2rem;
}

.icon-material::before {
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    display: block;
    position: relative;
    top: .1rem;
}

.btn-base-s .icon-material::before {
    width: 1.3rem;
    font-size: 1.3rem;
}

.btn-base .icon-material::before,
.btn-base-m .icon-material::before {
    width: 1.6rem;
    font-size: 1.6rem;
}

.btn-base-l .icon-material::before {
    width: 2rem;
    font-size: 2rem;
}

.icon-material::before {
    content: attr(data-icon);
}

/* X close, del button, menu ... */
.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    line-height: 1;
    font-family: 'Material Icons';

    color: #212121/*var*/;
    color: var(--gray900);
}

.btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 2rem;
    height: 3rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    color: #212121/*var*/;
    color: var(--gray900);
}

.btn-clear::before {
    content: "clear";
    font-family: 'Material Icons';
    font-size: 1.8rem;
    line-height: 1;
    display: block;

    color: #212121/*var*/;
    color: var(--gray900);
}

.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    color: #FFFFFF/*var*/;
    color: var(--white);
    background: #212121/*var*/;
    background: var(--gray900);

}

.btn-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    color: #FFFFFF/*var*/;
    color: var(--white);
    background: #212121/*var*/;
    background: var(--gray900);
}

.icon-material.btn-mode::before {
    top: 0;
}

.btn-grid {
    display: flex;
    width: 3rem;
    height: 3rem;
    z-index: 99999;
    border-radius: .4rem;
    background-color: #FFFFFF;
    font-size: 3rem;
    line-height: 3rem;
    color: #1f1f1f;
}

.btn-close::before,
.btn-grid::before,
.btn-menu::before {
    top: 0;
}



/* box */
.box-base {
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    background: #FFFFFF/*var*/;
    background: var(--white);
    border: 1px solid rgb(180, 180, 180);
}



/* TABLE */
.tbl-base {
    margin: 0;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #EEEEEE/*var*/;
    border-bottom: 1px solid var(--gray200);
    font-size: 1.4rem/*var*/;
    font-size: var(--fs-body-m);
}

.tbl-base table>thead {
    border-bottom: 2px solid #757575/*var*/;
    border-bottom: 2px solid var(--gray600);
}

.tbl-base table {
    width: 100%;
}

.tbl-base table>thead th {
    text-align: left;
    padding: 0.5rem 1.5rem 0.7rem .5rem;
    font-weight: 500;

    color: #212121/*var*/;
    color: var(--gray900);
    background: #FFFFFF/*var*/;
    background: var(--white);
    border-bottom: 1px solid #E0E0E0/*var*/;
    border-bottom: 1px solid var(--gray300);
}

.tbl-base table>tbody>tr>th,
.tbl-base table>tbody>tr>td {
    padding: 0.5rem 1.5rem 0.7rem .5rem;
    font-weight: 300;
    word-break: break-all;
    text-align: left;

    background: #FFFFFF/*var*/;
    background: var(--white);
    border-top: 1px solid #EEEEEE/*var*/;
    border-top: 1px solid var(--gray200);
}

.tbl-base table>tbody>tr:first-child>th,
.tbl-base table>tbody>tr:first-child>td {
    border-top: 0;
}

.tbl-base table>thead>tr>th:first-child,
.tbl-base table>tbody>tr>th:first-child,
.tbl-base table>tbody>tr>td:first-child {
    border-left: 0;
}

/* left line
.tbl-base table>thead>tr>*[rowspan],
.tbl-base table>tbody>tr>*[rowspan] {
    border-right: 1px solid var(--gray200); 
}
*/

.tbl-base table tbody+tbody tr:first-child>* {
    border-top: 1px solid #E0E0E0/*var*/;
    border-top: 1px solid var(--gray300);
}


.tbl-base table>tbody>tr>th {
    font-weight: 500;
    background: #FFFFFF/*var*/;
    background: var(--white);
    color: #424242/*var*/;
    color: var(--gray800);
}

.tbl-base tbody+tbody,
.tbl-base tbody.line-t {
    border-top: 1px solid #EEEEEE/*var*/;
    border-top: 1px solid var(--gray200);
}

.tbl-list {
    margin: 0.5rem 0 0;
    width: 100%;
    position: relative;

    border-top: 1px solid #EEEEEE/*var*/;
    border-top: 1px solid var(--gray200);
    border-bottom: 1px solid #EEEEEE/*var*/;
    border-bottom: 1px solid var(--gray200);
    font-size: 1.2rem/*var*/;
    font-size: var(--fs-body-s);
}

.tbl-list>table {
    width: 100%;
}

.tbl-list>table>thead th {
   
    font-weight: 500;
    color: #212121/*var*/;
    color: var(--gray900);
    background: #F5F5F5/*var*/;
    background: var(--gray100);
    border-bottom: 1px solid #EEEEEE/*var*/;
    border-bottom: 1px solid var(--gray200);
}

.tbl-list>table>tbody>tr>th,
.tbl-list>table>tbody>tr>td {
    padding: 0.5rem 0.5rem 0.7rem;
    font-weight: 300;
    word-break: break-all;
    text-align: center;

    background: #FFFFFF/*var*/;
    background: var(--white);
    border-top: 1px solid #EEEEEE/*var*/;
    border-top: 1px solid var(--gray200);
}

.tbl-list>table>tbody>tr:first-child>th,
.tbl-list>table>tbody>tr:first-child>td {
    border-top: 0;
}

.tbl-list>table>thead>tr>th:first-child,
.tbl-list>table>tbody>tr>th:first-child,
.tbl-list>table>tbody>tr>td:first-child {
    border-left: 0;
}

.tbl-list>table>tbody>tr>th {
    
    font-weight: 500;
    background: #FAFAFA/*var*/;
    background: var(--gray50);
    color: #424242/*var*/;
    color: var(--gray800);
}

.tbl-list tbody+tbody,
.tbl-list tbody.line-t {
    border-top: 1px solid #EEEEEE/*var*/;
    border-top: 1px solid var(--gray200);
}

/* ui-tblscroll */
.ui-tablescroll {
    position: relative;
}

.ui-tablescroll-wrap {
    overflow-y: auto;
    height: 200px;
    width: 100%;
}

.ui-tablescroll-wrap.tbl-base {
    border: 0;
}

.tbl-base.not-space .ui-tablescroll-clone {
    width: 100%;
}

.tbl-base .ui-tablescroll-clone {
    position: absolute;
    width: calc(100% - 15px);
    top: 0;
    left: 0;
    z-index: 1;
}

.size-mobile .tbl-base .ui-tablescroll-clone {
    width: 100%;
}



/* BULLET */
.div-wrap>[class*="bul-"]:first-child {
    margin-top: 0;
}

[class*="bul-"] {
    margin: 0;
}

[class*="bul-"]>li:first-child,
[class*="bul-"]>div:first-child>dd:first-child,
[class*="bul-"]>dd:first-child,
[class*="bul-"]:not(ul):not(ol):not(dl):not(.bul-wrap) {
    margin-top: 0;
}

[class*="bul-"]>li,
[class*="bul-"]>div>dd,
[class*="bul-"]>dd,
[class*="bul-"]:not(ul):not(ol):not(dl):not(.bul-wrap) {
    position: relative;
    margin-top: .2rem;
    padding-left: 0;
    display: flex;
    line-height: 1.6;
}

[class*="bul-"].primary {
    color: #6200ee/*var*/;
    color: var(--primary);
}

[class*="bul-"]:not(ul):not(ol):not(dl):not(.bul-wrap).primary,
[class*="bul-"].primary>li::before {
    background-color: #6200ee/*var*/;
    background-color: var(--primary);
}

.bul-num.list-base {
    padding: 1rem;
}

dl.bul-num dt {
    font-size: 1.6rem/*var*/;
    font-size: var(--fs-body-l);

    font-weight: 700;
}

.bul-num {
    counter-reset: dep1 0 dep2 0;
}

dl.bul-num dd,
.bul-num>li {
    counter-increment: dep1 1;
    padding-left: 0;
    display: flex;
}

dl.bul-num dd::before,
.bul-num>li:before {
    content: counter(dep1) '.';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-right: .3rem;
}

.bul-etc[data-bullet] {
    padding-left: 0;
    display: flex;
    font-size: 1.3rem;
    color: #616161/*var*/;
    color: var(--gray700);
}

.bul-etc::before {
    content: attr(data-bullet);
    margin-right: .3rem;
}

.bul-num.custom>li:before {
    content: attr(data-bullet);
}

.bul-num.custom.round>li:before {
    content: attr(data-bullet);
    text-indent: -1px;
    font-weight: 500;
}

.bul-num.upper-roman>li:before {
    content: counter(dep1, upper-roman) '.';
}

.bul-num.lower-roman>li:before {
    content: counter(dep1, lower-roman) '.';
}

.bul-num.decimal-zero>li:before {
    content: counter(dep1, decimal-leading-zero) '.';
}

.bul-num.lower-greek>li:before {
    content: counter(dep1, lower-greek) '.';
}

.bul-num.lower-alpha>li:before {
    content: counter(dep1, lower-alpha) '.';
}

.bul-num.upper-alpha>li:before {
    content: counter(dep1, upper-alpha) '.';
}

.bul-num.round>li:before {
    content: counter(dep1);
}

.bul-num.upper-roman.round>li:before {
    content: counter(dep1, upper-roman);
}

.bul-num.lower-roman.round>li:before {
    content: counter(dep1, lower-roman);
}

.bul-num.decimal-zero.round>li:before {
    content: counter(dep1, decimal-leading-zero);
}

.bul-num.lower-greek.round>li:before {
    content: counter(dep1, lower-greek);
}

.bul-num.lower-alpha.round>li:before {
    content: counter(dep1, lower-alpha);
}

.bul-num.upper-alpha.round>li:before {
    content: counter(dep1, upper-alpha);
}

dl.bul-num dd {
    padding: 1.2rem 0 .4rem;
}

dl.bul-num dd+dd {
    border-top: 1px solid #616161/*var*/;
    border-top: 1px solid var(--gray700);
}

.bul-num.round>li {
    padding-left: 0;
}

.bul-num.round>li::before {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    font-size: 0.9rem;
    min-width: 1.4rem;
    margin-top: 0.4rem;
    line-height: 1.3;
    text-align: center;

    border: 1px solid #616161/*var*/;
    border: 1px solid var(--gray700);
}

.bul-dot>li:before,
.bul-dot>div>dd:before,
.bul-dot>dd:before,
.bul-dot:not(ul):not(ol):not(dl):not(.bul-wrap):before {
    content: "";
    min-width: .2rem;
    min-height: .2rem;
    max-width: .2rem;
    max-height: .2rem;
    border-radius: 50%;
    position: relative;
    left: 0.2rem;
    top: 1.2rem;
    margin-right: .6rem;
    font-weight: 900;
    line-height: 1.2;

    background-color: #616161/*var*/;
    background-color: var(--gray700);
}

.bul-hyphen>li:before,
.bul-hyphen>div>dd:before,
.bul-hyphen>dd:before,
.bul-hyphen:not(ul):not(ol):not(dl):not(.bul-wrap):before {
    content: "";
    min-width: .4rem;
    min-height: .1rem;
    max-width: .4rem;
    max-height: .1rem;
    border-radius: 50%;
    position: relative;
    left: 0.1rem;
    top: 1.2rem;
    margin-right: .4rem;
    font-weight: 900;
    line-height: 1.2;

    background-color: #616161/*var*/;
    background-color: var(--gray700);
}

.bul-error,
.bul-help,
.bul-star,
.bul-care,
.bul-info {
    font-size: 1.2rem;
    font-size: var(--fs-body-s);
}

.bul-star::before {
    content: "*";
    position: relative;
    left: 0;
    top: .6rem;
    margin-right: 0.2rem;
    font-weight: 400;
    line-height: 1.2;
}

.bul-care::before {
    content: "※";
    position: relative;
    left: 0;
    top: .2rem;
    font-weight: 400;
    line-height: 1.2;
}

.bul-info {
    color: #616161/*var*/;
    color: var(--gray700);
    opacity: 0.;
}

.bul-info::before {
    content: "info";
    font-family: 'Material Icons Outlined';
    position: relative;
    left: 0;
    top: 0.1rem;
    margin-right: 0.2rem;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.2;
}

.bul-help::before {
    content: "help_outline";
    font-family: 'Material Icons Outlined';
    position: relative;
    left: 0;
    top: 0.1rem;
    margin-right: 0.2rem;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.2;
}

.bul-error {
    color: #f44336/*var*/;
    color: var(--error);
}

.bul-error::before {
    content: "error_outline";
    font-family: 'Material Icons Outlined';
    position: relative;
    left: 0;
    top: 0.1rem;
    margin-right: 0.2rem;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.2;

    color: #f44336/*var*/;
    color: var(--error);
}

dl[class*="bul-"]>div {
    margin-top: 1.5rem
}

dl[class*="bul-"]>div:first-child {
    margin-top: 0;
}

dl[class*="bul-"]>div>dt,
dl[class*="bul-"]>dt {
    font-weight: 500;

    color:#212121/*var*/;
    color: var(--gray900);
}



/* GRID guide */
.base-grid.on {
    display: flex;
}

.base-grid {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 2rem;
}

.base-grid div {
    flex: 1;
    height: 100%;
    background: rgba(247, 89, 181, 0.096);
}

.base-grid div+div {
    margin-left: 2.4rem;
}

/* 4colum */
@media all and (max-width:599px) {
    .base-grid {
        padding: 0 2rem;
    }

    .base-grid div:nth-child(4)~div {
        display: none;
    }

    .base-grid div+div {
        margin-left: 1.6rem;
    }

    .box-guide .fx-item>b:nth-child(1) {
        color: #03dac6/*var*/;
        color: var(--secondary);
    }
}

/* 8colum */
@media all and (min-width:600px) and (max-width:904px) {
    .base-grid {
        padding: 0 8rem;
    }

    .base-grid div:nth-child(8)~div {
        display: none;
    }

    .base-grid div+div {
        margin-left: 1.6rem;
    }

    .box-guide .fx-item>b:nth-child(2) {
        color: #03dac6/*var*/;
        color: var(--secondary);
    }

    .fx-item[data-flex*="-0-"] {
        flex: 0 0;
    }

    .fx-item[data-flex*="-1-"] {
        flex: 1 1;
    }

    .fx-item[data-flex*="-2-"] {
        flex: 2 2;
    }

    .fx-item[data-flex*="-3-"] {
        flex: 3 3;
    }

    .fx-item[data-flex*="-4-"] {
        flex: 4 4;
    }

    .fx-item[data-flex*="-5-"] {
        flex: 5 5;
    }

    .fx-item[data-flex*="-6-"] {
        flex: 6 6;
    }

    .fx-item[data-flex*="-7-"] {
        flex: 7 7;
    }

    .fx-item[data-flex*="-8-"] {
        flex: 8 8;
    }

    .fx-item[data-flex*="-9-"] {
        flex: 9 9;
    }

    .fx-item[data-flex*="-10-"] {
        flex: 10 10;
    }

    .fx-item[data-flex*="-11-"] {
        flex: 11 11;
    }

    .fx-item[data-flex*="-12-"] {
        flex: 12 12;
    }
}

/* 12colum */
@media all and (min-width:905px) and (max-width:1239px) {
    .base-grid {
        padding: 0 2rem;
    }

    .base-grid div+div {
        margin-left: calc((100% - 84rem) / 12);
    }
}

@media all and (min-width:1240) and (max-width:1439px) {
    .base-grid {
        padding: 0 2rem;
    }

    .base-grid div+div {
        margin-left: 2.4rem;
    }
}

@media all and (min-width:905px) {
    .box-guide .fx-item>b:nth-child(3) {
        color: orangered;
    }

    .base-grid {
        max-width: calc(100% - 12rem);
        left: 50%;
        transform: translate(-50%, 0);
    }

    .fx-item[data-flex$="-0"] {
        flex: 0 0;
    }

    .fx-item[data-flex$="-1"] {
        flex: 1 1;
    }

    .fx-item[data-flex$="-2"] {
        flex: 2 2;
    }

    .fx-item[data-flex$="-3"] {
        flex: 3 3;
    }

    .fx-item[data-flex$="-4"] {
        flex: 4 4;
    }

    .fx-item[data-flex$="-5"] {
        flex: 5 5;
    }

    .fx-item[data-flex$="-6"] {
        flex: 6 6;
    }

    .fx-item[data-flex$="-7"] {
        flex: 7 7;
    }

    .fx-item[data-flex$="-8"] {
        flex: 8 8;
    }

    .fx-item[data-flex$="-9"] {
        flex: 9 9;
    }

    .fx-item[data-flex$="-10"] {
        flex: 10 10;
    }

    .fx-item[data-flex$="-11"] {
        flex: 11 11;
    }

    .fx-item[data-flex$="-12"] {
        flex: 12 12;
    }

    .base-main {
        margin: 0 auto;
        /* max-width: 119rem; */
    }

    /* .header-nav{
		width:32rem !important;
	}
	.base-body{
		left:0 !important;
	}

	.nav-open .header-wrap .logo{
		margin-left:0 !important;
	}
	@keyframes menuIn {
		0% {left:0;}
		100% {left:32rem !important}
	}
	@keyframes menuOut {
		0% {left:32rem !important}
		100% {left:0;}
	} */
}

/*
내부 스크롤에 관성 및 바운스 적용하기
overflow:auto;
-webkit-overflow-scrolling: touch;

*/


@media (prefers-color-scheme: light) {
    /* light mode */
}

@media (prefers-color-scheme: dark) {
    /* dark mode */
}


/* datk mode ----------------------------------------------------------- */
.base-wrap,
body {
    background-color: #FFFFFF/*var*/;
    background-color: var(--white);
}

.dark-mode .header-wrap .logo g {
    fill: #f1f1f1;
}

/* .dark-mode .btn-mode{
	background:#f1f1f1;
	color:#1f1f1f;
	font-weight: 700;
}
.dark-mode .btn-menu {
	background:var(--white);
	color: var(--dark-primary-color);
	font-weight: 700;
} */


