@charset "utf-8";

/* default */
html,
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #333;
	font-size: 1.4rem;
	line-height: 1.3;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	word-break: keep-all;
}

body,
iframe,
div,
p,
span,
strong,
em,
b,
i,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
button,
a,
label,
table,
tbody,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

dl,
dt,
dd,
ul,
ol,
li {
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 0;
}

img,
fieldset,
iframe,
button {
	border: 0 none;
	outline: 0;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border-collapse: collapse;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 40px 0;
}

em,
u,
cite,
i,
abbr {
	font: inherit;
	text-decoration: none;
}

strong,
b {
	font: inherit;
}

a {
	font: inherit;
	color: inherit;
	outline-offset: 1px;
	text-decoration: none;
}

button {
	border: 0 none;
	font: inherit;
	cursor: pointer;
	background: transparent;
	color: inherit;
}

input,
textarea,
select {
	box-sizing: border-box;
	font: inherit, sans-serif;
	outline: 0;
}

label {
	cursor: pointer;
}

caption {
	position: relative !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: -1px 0 0;
}

.a11y-hidden,
legend,
.hidden,
.hide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: 0 !important;
	padding: 0 !important;
}

/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

caption * {
	display: inline-block !important
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance: none;
}

select {
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

select::-ms-expand {
	display: none;
}


/* gap */
.pdt-n {
	padding-top: 0 !important;
}

.pdb-n {
	padding-bottom: 0 !important;
}

.pdtb-n {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.mgb-n {
	margin-bottom: 0 !important;
}

.mgt-n {
	margin-top: 0 !important;
}

.mgt-xxs {
	margin-top: 0.2rem !important;
}

.mgt-xs {
	margin-top: 0.5rem !important;
}

.mgt-s {
	margin-top: 1rem !important;
}

.mgt-m {
	margin-top: 1.5rem !important;
}

.mgt-l {
	margin-top: 2rem !important;
}

.mgt-xl {
	margin-top: 3rem !important;
}

.mgt-xxl {
	margin-top: 4rem !important;
}

.mgt-xxxl {
	margin-top: 5rem !important;
}

/* align */
.ta-c {
	text-align: center !important;
	width: 100%;
}

.ta-l {
	text-align: left !important;
}

.ta-r {
	text-align: right !important;
}

/* hr */
.hr-sec {
	width: 100%;
	height: 1rem;
	background: #EEE;
	border: 0;
	margin: 0.5rem 0;
}


.hr-cont {
	width: 100%;
	height: 0.1rem;
	background: #EEE;
	border: 0;
	margin: 2rem 0;
}



/* [base] HEADING & Font ---------------------------------------------------------------------------*/
/* heading */

/* text ellipsis ... */
.ellp {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
}

/* google material icons */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

/* [base] Space ---------------------------------------------------------------------------*/


/* [base] FORM ---------------------------------------------------------------------------*/
/* style init */
textarea,
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
	display: none;
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
}

input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
}

/* radio & checkbox */
input[type="radio"],
input[type="checkbox"] {
	opacity: 0;
	filter: alpha(opacity=0);
	display: inline-block;
	position: absolute;
	z-index: -1;
	vertical-align: top;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

.lb-radio,
.lb-check {
	position: relative;
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	min-height: 40px;
	font-size: 13px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	line-height: 1;
}

.lb-radio:before,
.lb-check:before {
	content: "";
	display: block;
	flex: 0;
	min-width: 20px;
	min-height: 20px;
	margin-right: 5px;
	box-sizing: border-box;
	border: 2px solid #333;
	transition: box-shadow 0.5s, border 0.3s;
}

.lb-radio:before {
	border-radius: 50%;
}

.lb-check:before {
	border-radius: 3px;
}

:checked+.lb-radio:before,
:checked+.lb-check:before,
.lb-radio.checked:before,
.lb-check.checked:before {
	border: 6px solid #333;
}

.lb-radio.activated:before,
.lb-check.activated:before,
.lb-radio:hover:before,
.lb-check:hover:before,
.lb-radio:focus:before,
.lb-check:focus:before {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

:checked+.lb-radio,
:checked+.lb-check,
.lb-radio.checked,
.lb-check.checked {
	color: #000;
}

:focus+.lb-radio,
:focus+.lb-check {
	text-decoration: underline;
}

:disabled+.lb-radio,
:disabled+.lb-check,
.lb-radio.disabled,
.lb-check.disabled {
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: not-allowed;
}

.lb-radio span,
.lb-check span {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	border-bottom: 1px solid transparent;
}

.lb-check.all {
	font-size: 16px;
	color: #444;
}

.lb-check.all span {
	padding-top: 1px;
}

.lb-tit {
	display: inline-block;
	height: 40px;
	margin-right: 10px;
	padding-top: 10px;
	vertical-align: top;
	cursor: pointer;
}

/* input */
.inp-base {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border: 1px solid #c9c9c9;
	border-radius: 2px;
	height: 40px;
	padding: 0 10px;
	outline: 0;
	margin: 0;
}

.inp-base:focus {
	border-color: #000;
}

.inp-base::-webkit-search-cancel-button {
	display: none;
}

textarea.inp-base {
	padding: 10px;
	height: 100px;
}

/* select */
select {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: auto;
	height: 40px;
	padding: 0 40px 0 10px;
	border-radius: 2px;
	background: #fff url(/netiveUI/resources/img/common/ico_form.png) no-repeat 100% -106px;
	background-size: 200px 200px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #c9c9c9;
	font-size: 14px;
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

select optgroup,
select option {
	font-style: normal;
	background-color: #fff;
	font-size: 13px;
}

select[disabled] {
	background-color: #f7f7f7;
	color: #888;
}

select:focus {
	border-color: #000;
}

.ie9 select {
	padding: 0;
}


/* [base] BUTTON ---------------------------------------------------------------------------*/
/* button wrap */
.btn-wrap {
	position: relative;
	margin: 1rem 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.btn-wrap.type-many {
	width: calc(100% + 1rem);
	margin-left: -0.5rem;
}

.btn-wrap.type-many [class*="btn-"] {
	margin: 0.5rem;
}

.btn-wrap.type-many [class*="btn-"]+[class*="btn-"] {
	margin-left: .5rem;
}

.btn-wrap [class*="btn-"] {
	flex: 1 auto;
}

.btn-wrap [class*="btn-"]+[class*="btn-"] {
	margin-left: 1rem;
}

.btn-wrap.stick [class*="btn-"]+[class*="btn-"] {
	margin-left: 0;
}

.btn-wrap.txta-r [class*="btn-base"] {
	margin-right: 0;
	margin-left: 1rem;
}

/* button */
[class*="btn-base"] {
	display: inline-block;
	padding: 0 1rem;
	min-height: 4rem;
	border: 1px solid #63686d;
	font-size: 1.4rem;
	text-align: center;
	background: #fff;
	vertical-align: top;
	color: #222;
	text-decoration: none;
	line-height: 1;
}

div[class*="btn-base"],
span[class*="btn-base"],
a[class*="btn-base"] {
	padding: 1.2rem 1rem .8rem;
}

[class*="btn-base"] span {
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	margin-top: -.3rem;
}

[class*="btn-base"]:hover,
[class*="btn-base"]:focus {
	border: 1px solid #000;
	background: #eee;
}

[class*="btn-base"].disabled,
[class*="btn-base"]:disabled {
	opacity: 0.7;
	border: 1px solid #ccc;
	box-shadow: none;
	cursor: default;
}

[class*="btn-base"].disabled:hover,
[class*="btn-base"].disabled:focus
[class*="btn-base"]:disabled:hover,
[class*="btn-base"]:disabled:focus {
	border-color: #ccc;
	background: inherit;
}

/* base size */
.btn-base-s {
	min-height: 30px;
}

a.btn-base-s {
	padding: 7px 20px 3px;
}

.btn-base-m {
	min-height: 40px;
}

.btn-base-l {
	min-height: 60px;
	font-size: 16px;
}

a.btn-base-l {
	padding: 21px 20px 16px;
}

/* button icon style */
[class*="btn-base"].ico-print:after {
	content: "print";
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	vertical-align: middle;
	margin-top: -3px;
	font-size: 20px;
}

/* X close, del button, menu ... */
.btn-today,
.btn-del,
.btn-close {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: hidden;
	color: transparent;
	font-size: xx-small;
}

.btn-del:after,
.btn-close:after {
	content: "close";
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: #fff;
	font-weight: 900;
	line-height: 1;
}

.btn-del:after {
	color: #222;
}

.btn-today:after {
	content: "today";
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: #000;
	font-weight: 900;
	line-height: 1;
}

/* box */
.box-base {
	position: relative;
	width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
	background: #fff;
	border: 1px solid rgb(180, 180, 180);
}

/* table */
.tbl-base {
	margin: 0.5rem 0 0;
	width: 100%;
	position: relative;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	font-size: 1.1rem;
}

.tbl-base table {
	width: 100%;
}

.tbl-base table>thead th {
	background: #f1f1f1;
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	color: #000;
	padding:0.5rem 0.5rem 0.7rem;
	font-weight: 500;
}

.tbl-base table>tbody>tr>th,
.tbl-base table>tbody>tr>td {
	border-top: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	color: #444;
	padding: 0.5rem 0.5rem 0.7rem;
	font-weight: 300;
	word-break: break-all;
	background: #fff;
	text-align: center;
}

.tbl-base table>tbody>tr:first-child>th,
.tbl-base table>tbody>tr:first-child>td {
	border-top: 0;
}

.tbl-base table>thead>tr>th:first-child,
.tbl-base table>tbody>tr>th:first-child,
.tbl-base table>tbody>tr>td:first-child {
	border-left: 0;
}

.tbl-base table>tbody>tr>th {
	background: #f9f9f9;
	color: #000;
	font-weight: 500;
}

.tbl-base tbody+tbody,
.tbl-base tbody.line-t {
	border-top: 1px solid #c5c5c5;
}


/* bullet */
.div-wrap>[class*="bul-"]:first-child {
	margin-top: 0;
}

[class*="bul-"] {
	margin: 0;
}

[class*="bul-"]>li:first-child,
[class*="bul-"]>div:first-child>dd:first-child,
[class*="bul-"]>dd:first-child,
[class*="bul-"]:not(ul):not(ol):not(dl) {
	margin-top: 0;
}

[class*="bul-"]>li,
[class*="bul-"]>div>dd,
[class*="bul-"]>dd,
[class*="bul-"]:not(ul):not(ol):not(dl) {
	position: relative;
	margin-top: .5rem;
	padding-left: 1rem;
	line-height: 1.5;
	display: block;
}

.bul-care:not(ul):not(ol):not(dl) {
	padding-left: 1.5rem;
}

[class*="bul-"].primary {
	color: #008F84;
}

[class*="bul-"]:not(ul):not(ol):not(dl).primary,
[class*="bul-"].primary>li::before {
	background-color: #008F84;
}

.bul-num.list-base {
	padding: 1rem;
}

dl.bul-num dt {
	font-size: 1.6rem;
	font-weight: 700;
}

.bul-num {
	counter-reset: dep1 0 dep2 0;
}

dl.bul-num dd,
.bul-num>li {
	counter-increment: dep1 1;
	padding-left: 0;
	display: flex;
}

dl.bul-num dd::before,
.bul-num>li:before {
	content: counter(dep1) '.';
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.5;
	margin-right: .3rem;
}

.bul-etc[data-bullet] {
	padding-left: 0;
	display: flex;
}

.bul-etc::before {
	content: attr(data-bullet);
	margin-right: .3rem;
}

.bul-num.custom>li:before {
	content: attr(data-bullet);
}

.bul-num.custom.round>li:before {
	content: attr(data-bullet);
	text-indent: -1px;
	font-weight: 500;
}

.bul-num.upper-roman>li:before {
	content: counter(dep1, upper-roman) '.';
}

.bul-num.lower-roman>li:before {
	content: counter(dep1, lower-roman) '.';
}

.bul-num.decimal-zero>li:before {
	content: counter(dep1, decimal-leading-zero) '.';
}

.bul-num.lower-greek>li:before {
	content: counter(dep1, lower-greek) '.';
}

.bul-num.lower-alpha>li:before {
	content: counter(dep1, lower-alpha) '.';
}

.bul-num.upper-alpha>li:before {
	content: counter(dep1, upper-alpha) '.';
}

.bul-num.round>li:before {
	content: counter(dep1);
}

.bul-num.upper-roman.round>li:before {
	content: counter(dep1, upper-roman);
}

.bul-num.lower-roman.round>li:before {
	content: counter(dep1, lower-roman);
}

.bul-num.decimal-zero.round>li:before {
	content: counter(dep1, decimal-leading-zero);
}

.bul-num.lower-greek.round>li:before {
	content: counter(dep1, lower-greek);
}

.bul-num.lower-alpha.round>li:before {
	content: counter(dep1, lower-alpha);
}

.bul-num.upper-alpha.round>li:before {
	content: counter(dep1, upper-alpha);
}

dl.bul-num dd {
	padding: 1rem 0 .5rem;
}

dl.bul-num dd+dd {
	border-top: 1px solid #F5F5F5;
}

.bul-num.round>li {
	padding-left: 0;
}

.bul-num.round>li::before {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	border: 1px solid #555;
	font-size: 0.9rem;
	min-width: 1.4rem;
	margin-top: 0.4rem;
	line-height: 1.3;
	text-align: center;
}

.bul-dot>li:before,
.bul-dot>div>dd:before,
.bul-dot>dd:before,
.bul-dot:not(ul):not(ol):not(dl):before {
	content: "";
	width: .2rem;
	height: .2rem;
	border-radius: 50%;
	background-color: #333;
	position: absolute;
	left: 0.2rem;
	top: .9rem;
	font-weight: 900;
	line-height: 1.2;
}

.bul-hyphen>li:before,
.bul-hyphen>div>dd:before,
.bul-hyphen>dd:before,
.bul-hyphen:not(ul):not(ol):not(dl):before {
	content: "-";
	position: absolute;
	left: 0;
	top: .2rem;
	font-weight: 400;
	line-height: 1.2;
}

.bul-star:not(ul):not(ol):not(dl):before {
	content: "*";
	position: absolute;
	left: 0;
	top: .6rem;
	font-weight: 400;
	line-height: 1.2;
}

.bul-care:not(ul):not(ol):not(dl):before {
	content: "※";
	position: absolute;
	left: 0;
	top: .2rem;
	font-weight: 400;
	line-height: 1.2;
}

dl[class*="bul-"]>div {
	margin-top: 1.5rem
}

dl[class*="bul-"]>div:first-child {
	margin-top: 0;
}

dl[class*="bul-"]>div>dt,
dl[class*="bul-"]>dt {
	color: #000;
	font-weight: 500;
}




/* [base] Layout ---------------------------------------------------------------------------*/
/* layout inline-block */
.in-wrap {
	position: relative;
	font-size: 0;
	margin: 10px 0 0;
}

.in-wrap>*,
.in-item {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.in-item>* {
	vertical-align: top;
}

/* layout float */
.fl-wrap {
	position: relative;
	margin: 10px 0;
}

.fl-wrap:after {
	content: "";
	display: block;
	clear: both;
}

.fl-item-l {
	float: left;
	position: relative;
}

.fl-item-r {
	float: right;
	position: relative;
}

/* layout flex */
.fx-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin: 10px 0;
}

.fx-dir-row {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.fx-dir-rev {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.fx-dir-col {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}

.fx-dir-revcol {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.fx-line {
	-webkit-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fx-align-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.fx-align-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.fx-align-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fx-align-justify {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.fx-valign-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.fx-valign-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.fx-valign-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fx-valign-stretch {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.fx-valign-baseline {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.fx-order-1 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	order: 1;
}

.fx-order-2 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	order: 2;
}

.fx-order-3 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	order: 3;
}

.fx-order-4 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	order: 4;
}

.fx-order-5 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 5;
	order: 5;
}

.fx-item-0 {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex-grow: 0;
}

.fx-item-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
}

.fx-item-2 {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex-grow: 2;
}

.fx-item-3 {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex-grow: 3;
}

.fx-item-4 {
	-webkit-box-flex: 4;
	-ms-flex: 4;
	flex-grow: 4;
}

.fx-item-5 {
	-webkit-box-flex: 5;
	-ms-flex: 5;
	flex-grow: 5;
}

.fx-item-6 {
	-webkit-box-flex: 6;
	-ms-flex: 6;
	flex-grow: 6;
}

.fx-item-7 {
	-webkit-box-flex: 7;
	-ms-flex: 7;
	flex-grow: 7;
}

.fx-item-8 {
	-webkit-box-flex: 8;
	-ms-flex: 8;
	flex-grow: 8;
}

.fx-item-9 {
	-webkit-box-flex: 9;
	-ms-flex: 9;
	flex-grow: 9;
}

.fx-item-10 {
	-webkit-box-flex: 10;
	-ms-flex: 10;
	flex-grow: 10;
}

.fx-item-11 {
	-webkit-box-flex: 11;
	-ms-flex: 11;
	flex-grow: 11;
}

.fx-item-12 {
	-webkit-box-flex: 12;
	-ms-flex: 12;
	flex-grow: 12;
}



.base-grid.on {
	display: flex;
}

.base-grid {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	padding: 0 2rem;
}

.base-grid div {
	flex: 1 auto;
	height: 100%;
	background: rgba(247, 89, 181, 0.096);
}

.base-grid div+div {
	margin-left: 2.4rem;
}

@media all and (max-width:599px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div:nth-child(4)~div {
		display: none;
	}

	.base-grid div+div {
		margin-left: 1.6rem;
	}
}

@media all and (min-width:600px) and (max-width:904px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div:nth-child(8)~div {
		display: none;
	}

	.base-grid div+div {
		margin-left: 1.6rem;
	}
}

@media all and (min-width:905px) and (max-width:1239px) {
	.base-grid {
		padding: 0 2rem;

	}

	.base-grid div+div {
		margin-left: calc((100% - 84rem) / 12);
	}
}

@media all and (min-width:1240) and (max-width:1439px) {
	.base-grid {
		padding: 0 2rem;
	}

	.base-grid div+div {
		margin-left: 2.4rem;
	}
}


/*
내부 스크롤에 관성 및 바운스 적용하기
overflow:auto;
-webkit-overflow-scrolling: touch;

*/