@charset "utf-8";

/* root */
:root {
	/* color system */
	--black:#000000;

	--gray900:#212121;	/*헤드라인 텍스트*/
	--gray800:#424242;	/*본문 텍스트, button-text*/
	--gray700:#616161;	/*서브 텍스트, label, button-line*/
	--gray600:#757575;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray500:#9E9E9E;	/*input-bg-acitve*/
	--gray400:#BDBDBD;	
	--gray300:#E0E0E0;	/*box-line[dark]*/
	--gray200:#EEEEEE;	/*box-line, input-line, table-line*/
	--gray100:#F5F5F5;	/*table-thead-th-bg*/
	--gray50:#FAFAFA;	/*box-bg[dark], table-tbody-th-bg, button-text-primary*/

	--white:#ffffff;	/*input-bg, box-bg, table-td-bg, button-bg*/
	
	--primary: #6200ee; 	/*button-bg-primary, button-line-primary*/
	--secondary: #03dac6;
	--error: #f44336;
	--success: #3182f6;
	--link: #6296df;

	/*table*/
	--gray600-table:#757575;	/*table-line[dark]*/
	--gray200-table:#EEEEEE;	/*table-line*/
	--gray100-table:#F5F5F5;	/*table-thead-th-bg*/
	--gray50-table:#FAFAFA;	/*table-tbody-th-bg*/
	--white-table:#ffffff;	/*table-td-bg*/

	/*selectbox*/
	--select-line:#212121;
	--select-bg:#fff;
	--select-opt:#212121;
	--select-opt-bg:#fff;
	--select-opt-line:#F5F5F5;
	--select-current-bg:#EEEEEE;
	--select-current:#000;
	--select-tit:#fff;	
	--select-tit-bg:#212121;

	/*button*/
	--button-primary: #3182f6; /*button-bg-primary, button-line-primary*/
	--button-txt: #424242;/*button-text*/
	--button-line:#616161;
	--button-active:#FAFAFA;
	--button-bg:#ffffff;

	/* text size */
	--text-xxl: 6.4rem;
	--text-xl: 3.2rem;
	--text-l: 2.4rem;
	--text-m: 1.6rem;
	--text-s: 1.4rem;
	--text-xs: 1.2rem;
	--text-xxs: 1.1rem;

	/* etc */
	--shadow: rgba(0,0,0,0.1);
}

:root.dark-mode {
	/* color system */
	--black:#ffffff;
	--gray900:#FAFAFA;	/*헤드라인 텍스트*/
	--gray800:#F5F5F5;	/*본문 텍스트, button-text*/
	--gray700:#EEEEEE;	/*서브 텍스트, label, button-line*/
	--gray600:#E0E0E0;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray500:#BDBDBD;	/*input-bg-acitve*/
	--gray400:#9E9E9E;	
	--gray300:#757575;	/*box-line[dark]*/
	--gray200:#616161;	/*box-line, input-line, table-line*/
	--gray100:#424242;	/*table-thead-th-bg*/
	--gray50:#212121;	/*box-bg[dark], table-tbody-th-bg, button-text-primary*/
	--white:#000;	/*input-bg, box-bg, table-td-bg, button-bg*/
	
	--primary: #3182f6; /*button-bg-primary, button-line-primary*/
	--secondary: #00a661;
	--error: #f44336;
	--success: #3182f6;
	--link: #6296df;

	/*table*/
	--gray600-table:#dadada;
	--gray200-table:#535353;	/*table-line*/
	--gray100-table:#242424;	/*table-thead-th-bg*/
	--gray50-table:#272727;	/*table-tbody-th-bg*/
	--white-table:#161616;	/*table-td-bg, button-bg*/

	/*selectbox*/
	--select-line:#fff;
	--select-bg:#212121;
	--select-opt:#F5F5F5;
	--select-opt-bg:#212121;
	--select-opt-line:#757575;
	--select-current-bg:#000;
	--select-current:#fff;
	--select-tit:#fff;	
	--select-tit-bg:#000;

	/*button*/
	--button-primary: #3182f6; 	/*button-bg-primary, button-line-primary*/
	--button-txt: #ffffff;	/*button-text*/
	--button-line:#757575;
	--button-active:#000;
	--button-bg:#161616;

	/* etc */
	--shadow: rgba(0,0,0,0.1);
}

:root.size-mobile {
	/* text size */
	--text-xxl: 4rem;
	--text-xl: 3.2rem;
	--text-l: 2.4rem;
	--text-m: 1.6rem;
	--text-s: 1.4rem;
	--text-xs: 1.2rem;
	--text-xxs: 1.1rem;

	
}
:root.ui-m {
	/* text size */
	--text-xxl: 4rem;
	--text-xl: 3.2rem;
	--text-l: 2.4rem;
	--text-m: 1.6rem;
	--text-s: 1.4rem;
	--text-xs: 1.2rem;
	--text-xxs: 1.1rem;


}
