@charset "utf-8";

/* root */
:root {
	/* gray color system 10 */
	--gray900:#212121;	/*헤드라인 텍스트*/
	--gray800:#424242;	/*본문 텍스트, button-text*/
	--gray700:#616161;	/*서브 텍스트, label, button-line*/
	--gray600:#757575;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray500:#9E9E9E;	/*input-bg-acitve*/
	--gray400:#BDBDBD;	
	--gray300:#E0E0E0;	/*box-line[dark]*/
	--gray200:#EEEEEE;	/*box-line, input-line, table-line*/
	--gray100:#F5F5F5;	/*table-thead-th-bg*/
	--gray50:#FAFAFA;	/*box-bg[dark], table-tbody-th-bg, button-text-primary*/
	
	--black:#000000;
	--white:#FFFFFF;	

	--primary: #6200ee;
	--secondary: #03dac6;
	
	--error: #f44336;
	--success: #3182f6;
	--link: #6296df;

	/* text size system */
	--fs-display-l: 10rem; /* display-l */
	--fs-display-m: 8rem; /* display-m */
	--fs-display-s: 6rem; /* display-s */

	--fs-headline-l: 7.4rem; /* headline-l */
	--fs-headline-m: 3.2rem; /* headline-m */
	--fs-headline-s: 2.2rem; /* headline-s */

	--fs-title-l: 2.8rem; /* title-l */
	--fs-title-m: 2.0rem; /* title-m */
	--fs-title-s: 1.8rem; /* title-s */

	--fs-label-l: 1.8rem; /* label-l */
	--fs-label-m: 1.4rem; /* label-m */
	--fs-label-s: 1.1rem; /* label-s */

	--fs-body-l: 1.6rem; /* body-l */
	--fs-body-m: 1.4rem; /* body-m */
	--fs-body-s: 1.2rem; /* body-s */

	/* etc */
	--shadow: rgba(0,0,0,0.1);
	--dim: rgba(0,0,0,0.3);

	/* code */
	--code-bg: #f8f9fa;
	--code-text: #212529;
}

:root.dark-mode {
	/* color system */
	--black:#ffffff;
	--gray900:#FAFAFA;	/*헤드라인 텍스트*/
	--gray800:#F5F5F5;	/*본문 텍스트, button-text*/
	--gray700:#EEEEEE;	/*서브 텍스트, label, button-line*/
	--gray600:#E0E0E0;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray500:#BDBDBD;	/*input-bg-acitve*/
	--gray400:#9E9E9E;	
	--gray300:#757575;	/*box-line[dark]*/
	--gray200:#616161;	/*box-line, input-line, table-line*/
	--gray100:#424242;	/*table-thead-th-bg*/
	--gray50:#212121;	/*box-bg[dark], table-tbody-th-bg, button-text-primary*/
	--white:#000;	/*input-bg, box-bg, table-td-bg, button-bg*/
	--primary: #6200ee; /*button-bg-primary, button-line-primary*/
	--secondary: #00a661;
	--weak: #ffdad9;
	--error: #f44336;
	--success: #3182f6;
	--link: #6296df;

	/* etc */
	--shadow: rgba(0,0,0,0.1);
	
	/* code */
	--code-bg: #212121;
	--code-text: #FAFAFA;
}

:root.size-mobile {
	/* text size */
	--fs-display-l: 7rem; /* display-l */
	--fs-display-m: 6rem; /* display-m */
	--fs-display-s: 5rem; /* display-s */

	--fs-headline-l: 4.8rem;
	--fs-headline-m: 3.2rem;
	--fs-headline-s: 2.2rem;

	--fs-title-l: 2.8rem; /* title-l */
	--fs-title-m: 2.0rem; /* title-m */
	--fs-title-s: 1.8rem; /* title-s */

	--fs-label-l: 1.8rem; /* label-l */
	--fs-label-m: 1.4rem; /* label-m */
	--fs-label-s: 1.1rem; /* label-s */

	--fs-body-l: 1.6rem; /* body-l */
	--fs-body-m: 1.4rem; /* body-m */
	--fs-body-s: 1.2rem; /* body-s */
}
/* :root.ui-m {
	--fs-headline-l: 3.2rem;
	--fs-headline-m: 2.2rem;
	--fs-headline-s: 1.8rem;
	--fs-body-l: 1.4rem;
	--fs-body-m: 1.3rem;
	--fs-body-s: 1.2rem;
	--fs-body-s: 1.1rem;
} */
