@charset "utf-8";

/* root */
:root {
	/* color system */
	--gray10:#000000;
	--gray09:#2e2e2e;	/*헤드라인 텍스트*/
	--gray08:#666666;	/*본문 텍스트, button-text*/
	--gray07:#808080;	/*서브 텍스트, label, button-line*/
	--gray06:#a1a1a1;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray05:#bebebe;	/*input-bg-acitve*/
	--gray04:#e0e0e0;	/*box-line[dark]*/
	--gray03:#eeeeee;	/*box-line, input-line, table-line*/
	--gray02:#f6f6f6;	/*table-thead-th-bg*/
	--gray01:#fafafa;	/*box-bg[dark], table-tbody-th-bg, button-text-primary*/
	--gray00:#ffffff;	/*input-bg, box-bg, table-td-bg, button-bg*/
	
	--primary: #6200ee; 	/*button-bg-primary, button-line-primary*/
	--secondary: #03dac6;
	--error: #f44336;
	--success: #3182f6;
	--link: #6296df;

	/*table*/
	--gray06-table:#a1a1a1;	/*table-line[dark]*/
	--gray03-table:#eeeeee;	/*table-line*/
	--gray02-table:#f6f6f6;	/*table-thead-th-bg*/
	--gray01-table:#fafafa;	/*table-tbody-th-bg*/
	--gray00-table:#ffffff;	/*table-td-bg*/

	/*selectbox*/
	--select-line:#2e2e2e;
	--select-bg:#fff;
	--select-opt:#2e2e2e;
	--select-opt-bg:#fff;
	--select-opt-line:#f6f6f6;
	--select-current-bg:#eeeeee;
	--select-current:#000;
	--select-tit:#fff;	
	--select-tit-bg:#2e2e2e;

	/*button*/
	--button-primary: #3182f6; /*button-bg-primary, button-line-primary*/
	--button-txt: #666666;/*button-text*/
	--button-line:#808080;
	--button-active:#fafafa;
	--button-bg:#ffffff;

	/* text size */
	--text-xxl: 6.4rem;
	--text-xl: 3.2rem;
	--text-l: 2.4rem;
	--text-m: 1.6rem;
	--text-s: 1.4rem;
	--text-xs: 1.2rem;
	--text-xxs: 1.1rem;

	/* etc */
	--shadow: rgba(0,0,0,0.1);
}

:root.dark-mode {
	/* color system */
	--gray10:#ffffff;
	--gray09:#fafafa;	/*헤드라인 텍스트*/
	--gray08:#f6f6f6;	/*본문 텍스트, button-text*/
	--gray07:#eeeeee;	/*서브 텍스트, label, button-line*/
	--gray06:#e0e0e0;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray05:#bebebe;	/*input-bg-acitve*/
	--gray04:#a1a1a1;	/*box-line[dark]*/
	--gray03:#808080;	/*box-line, input-line, table-line*/
	--gray02:#666666;	/*table-thead-th-bg*/
	--gray01:#2e2e2e;	/*box-bg[dark], table-tbody-th-bg, button-text-primary*/
	--gray00:#161616;	/*input-bg, box-bg, table-td-bg, button-bg*/
	
	--primary: #3182f6; /*button-bg-primary, button-line-primary*/
	--secondary: #00a661;
	--error: #f44336;
	--success: #3182f6;
	--link: #6296df;

	/*table*/
	--gray06-table:#dadada;
	--gray03-table:#535353;	/*table-line*/
	--gray02-table:#242424;	/*table-thead-th-bg*/
	--gray01-table:#272727;	/*table-tbody-th-bg*/
	--gray00-table:#161616;	/*table-td-bg, button-bg*/

	/*selectbox*/
	--select-line:#fff;
	--select-bg:#2e2e2e;
	--select-opt:#f6f6f6;
	--select-opt-bg:#2e2e2e;
	--select-opt-line:#757575;
	--select-current-bg:#000;
	--select-current:#fff;
	--select-tit:#fff;	
	--select-tit-bg:#000;

	/*button*/
	--button-primary: #3182f6; 	/*button-bg-primary, button-line-primary*/
	--button-txt: #ffffff;	/*button-text*/
	--button-line:#757575;
	--button-active:#000;
	--button-bg:#161616;

	/* etc */
	--shadow: rgba(0,0,0,0.1);
}

:root.size-mobile {
	/* text size */
	--text-xxl: 4rem;
	--text-xl: 3.2rem;
	--text-l: 2.4rem;
	--text-m: 1.6rem;
	--text-s: 1.4rem;
	--text-xs: 1.2rem;
	--text-xxs: 1.1rem;

	
}
:root.ui-m {
	/* text size */
	--text-xxl: 4rem;
	--text-xl: 3.2rem;
	--text-l: 2.4rem;
	--text-m: 1.6rem;
	--text-s: 1.4rem;
	--text-xs: 1.2rem;
	--text-xxs: 1.1rem;


}
