@charset "utf-8";

.mdl-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: .1rem solid #222;
    padding: $x1 $x2;
    border-radius: $x1;

    &[data-style="nav"] {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: #131313;
        color: #fff;

        font-size: 2.6rem;
        font-weight: 500;
    }

    &:focus {
        text-decoration: underline;
        text-underline-offset: .3rem;
    }
}

.test {
    width:5rem;
    height: 5rem;
    border: .1rem dashed black;

    &[data-toggle-state="true"] {
        background-color: tomato;
    }
}