@charset "utf-8";

.mdl-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    &[data-style="nav"] {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: #131313;
        color: #fff;

        font-size: 2.6rem;
        font-weight: 500;
    }
}