[data-drag-id] {
    position: relative;

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    line {
        pointer-events: none;
    }
    &[data-state="check"] {
        line[data-answer="false"] {stroke:red;}
        line[data-answer="true"] {stroke:blue;}
    }

    [data-drag-object],
    [data-drag-target] {
        &[data-complete="true"] {
            pointer-events: none;
        }
        &[data-state="none"] {
            pointer-events: none;
        }
    }
    &[data-state="complete"] {
        //완료
    }
}

.mdl-drag {
    margin: 0 0;
    width: 100%;
    height: 26rem;
    margin: 0 auto;
    outline: .1rem dashed silver;

    line {
        stroke: black;
        stroke-width: 4;
        stroke-linecap: round;
    }
    
    &-item {
        position: absolute;
        width: 4rem;
        height: 4rem;
        outline: .2rem solid black;
        border-radius: 50%;
        text-align: center;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    &-area{
        position: absolute;
        width: 10rem;
        height: 10rem;

        // &[data-drag-align="center"] {
        //     display: flex !important;
        //     justify-content: center !important;
        //     align-items: center !important;
        //     gap:1rem;

        //     .mdl-drag-drop {position: static; transform: translate(0, 0) !important;}
        // }
    }
    &-drop {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #222;
        color:#fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.active{
            box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.3);
            z-index: 10;
        }
    }

    &-answer{
        display: none;
        position: absolute;
        top:0; left:0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        pointer-events: none;

        .mdl-drag-drop {
            position: relative;
            transform: translate(0, 0) !important;
        }
    }
    &[data-state="complete"] .mdl-drag-answer {display: flex;}
}

