.ui-draw {
    margin: 0 0;
    position: relative;
    width: 50rem;
    height: 10rem;
    margin: 0 auto;
}

.ui-draw svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.ui-draw line {
    stroke: red;
    stroke-width: 4;
    stroke-linecap: round;
    pointer-events: none;
}

.ui-draw-dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    outline: .1rem solid red;
    border-radius: 50%;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-draw-dot[data-complete="true"],
.ui-draw-dot[data-state="none"] {
    pointer-events: none;
}

.n1 {
    top: 1rem;
    left: 1rem
}

.n2 {
    top: 4rem;
    left: 1rem
}

.n3 {
    top: 7rem;
    left: 1rem
}

.n4 {
    top: 1rem;
    right: 1rem
}

.n5 {
    top: 4rem;
    right: 1rem
}

.n6 {
    top: 7rem;
    right: 1rem;
}