/* modal */
.scroll-no {
    overflow: hidden;
    padding-right: 1.7rem;
}
.area-modal {position:absolute; top:0; left:0}
.ui-modal {display:none;position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;overflow:hidden;}
.ui-modal[data-index="9"] {z-index:9}
.ui-modal.n1 {z-index:101;}
.ui-modal.n2 {z-index:102;}
.ui-modal.n3 {z-index:103;}
.ui-modal.n4 {z-index:104;}
.ui-modal.n5 {z-index:105;}
.ui-modal.n6 {z-index:106;}
.ui-modal.n7 {z-index:107;}
.ui-modal.n8 {z-index:108;}
.ui-modal.type-system {z-index:600;}
.ui-modal.type-system.n1 {z-index:601;}
.ui-modal.type-system.n2 {z-index:602;}
.ui-modal.type-system.n3 {z-index:603;}
.ui-modal.type-system.n4 {z-index:604;}
.ui-modal.type-system.n5 {z-index:605;}
.ui-modal.type-system.n6 {z-index:606;}
.ui-modal.type-system.n7 {z-index:607;}
.ui-modal.type-system.n8 {z-index:608;}
.ui-modal.ready {display:flex;overflow-y:hidden;}
.ui-modal.ready[data-scroll=outer] {overflow-y:auto;background:rgba(0, 0, 0, 0.5);}
.ui-modal.ready[data-scroll=outer] .ui-modal-dim {opacity:0 !important;display:none !important;}
.ui-modal.ready .ui-modal-dim {content:"";display:block;position:fixed;top:0;left:0;width:100%;height:100%;opacity:0;background:rgba(0, 0, 0, 0.5);transition:opacity 0.4s ease-in-out;}
.ui-modal.open .ui-modal-wrap {opacity:1;}
.ui-modal.open.current .ui-modal-dim {opacity:1;}
.ui-modal.ps-center {justify-content:center;align-items:center;}
.ui-modal.ps-top {justify-content:center;align-items:flex-start;overflow:hidden;}
.ui-modal.ps-top .ui-modal-wrap {margin-top:0.8rem;}
.ui-modal.ps-top .ui-modal-drag {top:auto;bottom:0;}
.ui-modal.ps-bottom {justify-content:center;align-items:flex-end;overflow:hidden;}
.ui-modal.ps-bottom .ui-modal-wrap {width:100%;margin:0; border-bottom-left-radius: 0; border-bottom-right-radius:0}
.ui-modal.ps-bottom .ui-modal-footer {padding:1.2rem 1.2rem calc(1.2rem + env(safe-area-inset-bottom))}
.ui-modal.ps-bottom .ui-modal-body {max-height:32rem}
.ui-modal.ps-bottom[data-drag="true"] .ui-modal-wrap{max-height:32rem !important; height: 100%;}
.ui-modal.ps-bottom[data-drag="true"] .ui-modal-wrap .ui-modal-body {max-height:none}
.ui-modal.ps-bottom .ui-modal-header {min-height:5.4rem}
.ui-modal.ps-bottom .ui-modal-header .ui-modal-close {align-self:center}
/* .ui-modal[data-state="drag-full"] .ui-modal-wrap{min-height: 100dvh;max-height: 100dvh;} */

.ui-modal-header .ui-modal-tit[data-text-align="center"] {flex:1;padding-left:5rem}
.ui-modal[data-scroll=outer] .ui-modal-drag {display:none;}
.ui-modal-wrap {max-width:60rem;width:calc(100% - 3.2rem);opacity:0;box-shadow:0 0 .8rem 0 rgba(0,0,0,.1);position:relative;z-index:1;margin:2.4rem;background:#fff;border-radius:2.4rem;display: flex;flex-direction: column;}
.ps-bottom .ui--wrap {border-radius:2.4rem 2.4rem 0 0;overflow:hidden}
.ui-modal-header{position:relative;display:flex;min-height:5.2rem;padding:1.2rem 1.2rem .8rem 2rem;gap:2rem;align-items:center;flex-shrink: 0;}
.ui-modal.ps-center .ui-modal-wrap{max-height: calc(100dvh - 4rem);}
.ui-modal.type-whole .ui-modal-wrap,
.ui-modal.ps-center.type-whole .ui-modal-wrap{max-height: 100dvh;}
.ui-modal.ps-bottom .ui-modal-header[data-min-h="40"],
.ui-modal-header[data-min-h="40"] {min-height:4rem;padding:1rem 1rem 0}
.ui-modal-header .ui-modal-tit {font-weight:700;font-size:1.8rem;color:#111;line-height:2.5rem;flex:1}
.ui-modal-header .ui-modal-close {flex-shrink:0;border:0;width:3rem;height:3rem;background:url("../images/icon/icon-modal-close.svg") 50% 50% no-repeat rgba(0,0,0,.1);background-size:1.6rem;border-radius:99em;align-self:flex-start}
.ui-modal-body {position:relative;padding:1.2rem 2rem;flex:1;}
.ui-modal.ps-bottom .ui-modal-body[data-has-tab="true"],
.ui-modal-body[data-has-tab="true"] {padding-top:0;max-height:37.6rem !important;}
.ui-modal-body[data-type="no-footer"] {padding-bottom:calc(1.2rem + env(safe-area-inset-bottom))}
.ui-modal.type-system .ui-modal-body {padding:3.6rem 3.2rem 1.2rem;font-size:1.6rem;font-weight:500;color:#111;line-height:2.2rem;text-align:left;}
.ui-modal-footer {position:relative;margin-top:0;padding:1.2rem 2.4rem 2.4rem;z-index:10;flex-shrink: 0;;}
.ui-modal-footer::before {content:'';position:absolute;left:0;right:0;bottom:100%;height:.8rem;background:linear-gradient(to top, white, rgba(255,255,255,0));}
.ui-modal-footer[data-type="fixed"] {position:fixed;left:0;bottom:0;right:0}
.ui-modal-footer .wrap-group {margin:0;display:flex;gap:1rem}
.ui-modal.type-whole .ui-modal-wrap {margin:0 !important;width:100%;max-width:100%;height:100%;display:flex;flex-direction:column;border-radius:0}
.ui-modal.type-whole .ui-modal-header {padding:1.2rem 1.6rem;flex-shrink:0}
.ui-modal-wrap[data-type="all-menu"] .ui-modal-header {padding:1.6rem 2rem}
.ui-modal-wrap[data-type="all-menu"] .ui-modal-close {align-self:center;background-image:url("../images/icon/icon-modal-close.svg");background-size:2.4rem;background-color:transparent;width:2.4rem;height:2.4rem}
.ui-modal-wrap[data-type="all-menu"] .ui-modal-body {padding:0 2.4rem 8rem}
.ui-modal-wrap[data-type="alarm"] .ui-modal-header {padding:1rem 1.6rem}
.ui-modal-wrap[data-type="alarm"] .ui-modal-close {align-self:center;background-image:url("../images/icon/icon-modal-close.svg");background-size:2.4rem;background-color:transparent;width:2.4rem;height:2.4rem}
.ui-modal-wrap[data-type="alarm"] .ui-modal-body {padding:0 0 8rem}
.ui-modal.type-whole .ui-modal-header .ui-modal-tit {font-size:2rem;line-height:2.8rem;}
.ui-modal.type-whole .ui-modal-body {flex:1;padding:2.4rem;overflow-y:auto;overflow-x:hidden}
.ui-modal.type-whole .ui-modal-body[data-type="notice-detail"] {padding:0 0 2rem}
.ui-modal-body[data-pt="24"] {padding-top:2.4rem}
.ui-modal-body[data-pd="none"],
.ui-modal.type-whole .ui-modal-body[data-pd="none"] {padding:0}
.ui-modal.type-whole .ui-modal-body[data-pd="none-safe"] {padding:0 0 env(safe-area-inset-bottom) 0}
.ui-modal-body[data-type="gift-massage"] {background:url("../images/common/img-present-pattern.svg") repeat 0 0;background-size:37.5rem auto;}
.ui-modal-body[data-type="gift-massage"]:before {content:'';position:absolute;bottom:0;left:0;right:0;top:0;background:linear-gradient(180deg, rgba(255,255,255,0) 46.62%, #FFFFFF 79.89%);}
.ui-modal-body[data-type="store-list"] {padding:0 0 calc(8rem + env(safe-area-inset-bottom));display: flex;flex-direction:column;}
.ui-modal-body[data-type="store-list"] .modal-drag-line-box,
.ui-modal-body[data-type="store-list"] .store-list-filter-box{flex-shrink: 0;}
.ui-modal-body[data-type="store-list"] .ui-modal-body{overflow-y: hidden !important;}
.ui-modal-body[data-type="store-list"] .search-result-list{flex:1;overflow-y: hidden;}
.ui-modal[data-state="drag-full"] .ui-modal-body[data-type="store-list"] .search-result-list{flex:1;overflow-y: auto;}
.ui-modal.ps-bottom  .ui-modal-body[data-type="store-multi-list"] {padding:0 0 calc(8rem + env(safe-area-inset-bottom));border-top:.1rem solid #eee;max-height:calc(100dvh - 14.2rem) !important;}
.ui-modal-body[data-type="store-only"] {padding:2.4rem 0 calc(6.2rem + env(safe-area-inset-bottom))}
.ui-modal.type-whole .ui-modal-body[data-type="store"] {padding:0}
[data-device="desktop"] .ui-modal.type-whole .ui-modal-body::-webkit-scrollbar {height:1.6rem;width:1.6rem;}
[data-device="desktop"] .ui-modal.type-whole .ui-modal-body::-webkit-scrollbar-track {border-radius:999em;background-color:transparent}
[data-device="desktop"] .ui-modal.type-whole .ui-modal-body::-webkit-scrollbar-thumb {width:.8rem;border-radius:999em;background-color:#D9D9D9;background-clip:content-box;border:.4rem solid transparent;}
.ui-modal.type-whole .ui-modal-footer {flex-shrink:0;padding:1.2rem 1.2rem calc(1.2rem + env(safe-area-inset-bottom))}
.ui-modal.type-whole .ui-modal-wrap .ui-modal-close {background-image:url("../images/icon/icon-modal-close.svg");background-size:2.4rem;background-color:transparent;width:2.4rem;height:2.4rem;margin-top:.2rem}
.ui-modal.type-system .ui-modal-wrap {width:calc(100% - 3.2rem);max-width:34.3rem;text-align:center;font-size:1.4rem;border-radius:2.4rem;overflow:hidden}
.ui-modal.type-system .ui-modal-wrap strong {font-weight:900;}
.ui-modal.type-system .ui-modal-body,
.ui-modal.type-system .ui-modal-footer {max-width:100% !important;color:#111;}
.modal.ready.open,.ui-modal.ready.open {animation-name:fadeIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-center.type-system .ui-modal-wrap {animation-name:slideDownIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-center.type-whole .ui-modal-wrap {animation-name:slideUpIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-center .ui-modal-wrap {animation-name:scaleIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-top .ui-modal-wrap {animation-name:slideDownIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-bottom .ui-modal-wrap {animation-name:slideUpIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-right .ui-modal-wrap {animation-name:slideRightIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.open.ps-left .ui-modal-wrap {animation-name:slideLeftIn;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.modal.ready.close,.ui-modal.ready.close {animation-name:fadeOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-center.type-system .ui-modal-wrap {animation-name:slideDownOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-center.type-whole .ui-modal-wrap {animation-name:slideUpOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-center .ui-modal-wrap {animation-name:scaleOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-top .ui-modal-wrap {animation-name:slideDownOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-bottom .ui-modal-wrap {animation-name:slideUpOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-right .ui-modal-wrap {animation-name:slideRightOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close.ps-left .ui-modal-wrap {animation-name:slideLeftOut;animation-duration:0.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}

.ui-modal.ps-right {justify-content:flex-end;align-items:flex-start;overflow:hidden;}
.ui-modal.ps-right .ui-modal-wrap {width:100%;margin:0;height: 100%; border-radius:0}

.ui-modal.ps-left {justify-content:flex-start;align-items:flex-start;overflow:hidden;}
.ui-modal.ps-left .ui-modal-wrap {width:100%;margin:0;height: 100%; border-radius:0}

.ui-modal .ui-modal-last:focus {bottom:0.8rem;opacity:1;pointer-events:initial;}
.ui-modal .ui-modal-last {position:absolute;width:3rem;height:3rem;border-radius:50%;bottom:0;left:50%;transform:translate(-50%, 0);background: url(../images/icon/icon-modal-close.svg) 50% 50% no-repeat rgba(0, 0, 0, .1);opacity:0;pointer-events:none;transition:all 0.2s ease-in;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
[data-device="mobile"] .scroll-no {overflow:hidden;padding-right:0;}
[data-device="mobile"] .ui-modal-wrap {margin:2rem;}
[data-device="mobile"] .ui-modal.ps-top .ui-modal-wrap {margin-top:0;}
[data-device="mobile"] .ui-modal.ps-bottom .ui-modal-wrap {margin-bottom:0;}
[data-device="mobile"] .ui-modal.type-whole.ps-center {justify-content:center;align-items:flex-start;}
/*[data-device="mobile"] .ui-modal.type-whole .ui-modal-wrap {margin:0;width:100%;height:auto;min-height:100%;position:relative;left:0;top:auto;bottom:-10vh;transition:opacity 0.2s ease-in, bottom 0.2s ease-in;overflow:hidden;border-radius:0;opacity:0;}*/
[data-device="mobile"] .ui-modal.open.type-whole .ui-modal-wrap {bottom:0;opacity:1;top:auto;}
[data-device="mobile"] .ui-modal-footer {padding:1.2rem 2.4rem 2.4rem}
[data-device="mobile"] .ui-modal.ps-top .ui-modal-wrap,
[data-device="mobile"] .ui-modal.ps-bottom .ui-modal-wrap {margin:0;}
[data-device="mobile"] .ui-modal.open.ps-top .ui-modal-wrap {top:0;}
[data-device="mobile"] .ui-modal.open.ps-bottom .ui-modal-wrap {bottom:0;}
[data-device="mobile"] .ui-modal.ps-center.is-over .ui-modal-wrap {margin:0;}
/* .size-mobile .ps-bottom .ui-modal-wrap,
.size-mobile .ps-top .ui-modal-wrap,
.size-mobile .type-whole-mobile .ui-modal-wrap {margin:0;width:100%;max-width:100%;} */
.modal-footer-btn-group {display:flex;gap:1rem}
.modal-footer-btn-group .btn-base {flex:1}

.type-system .modal-footer-btn-group {gap:.8rem}

.ui-modal.ps-bottom[data-drag="true"] .motion {transition:max-height .2s ease;}
.ui-modal.ps-bottom[data-drag="true"] .ui-modal-body {overflow-y:hidden !important;}
.ui-modal.ps-bottom[data-drag="true"][data-state="drag-full"] .ui-modal-body {overflow-y:hidden !important;}
.ui-modal.ps-bottom[data-drag="true"] {height:auto;top:auto;bottom:0;overflow:visible;}