<div class="base-header-wrap">
    <div class="mdl-group">
        <button type="button" class="mdl-button" data-style="weather" aria-label="today weather" data-toggle-object="weather" data-callback="toggle_weather">
            <span class="icon">globe_asia</span>
            <span class="temperature">0</span>
        </button>
        <!-- <div class="today-weather" data-material="format_underlined"></div> -->
        <button type="button" class="mdl-button" data-style="nav" data-material="map" aria-label="원위치"></button>
    </div>
    <div class="mdl-group">
        <button type="button" class="mdl-button" data-style="nav" data-material="light" aria-label="menu" data-toggle-object="darkmode" data-callback="toggle_darkmode"></button>
        <button type="button" class="mdl-button" data-style="nav" data-material="grid_on" aria-label="menu"></button>
        <a href="../error.html" target="_blank" class="mdl-button" data-style="nav" data-material="priority_high" aria-label="menu"></a>
    </div>
</div>
 