<div class="base-header-wrap">
    <div class="mdl-group">
        <button type="button" class="mdl-button" data-style="weather" aria-label="today weather" data-toggle-object="weather" data-callback="toggle_weather">
            <span class="icon">globe_asia</span>
            <span class="temperature">0</span>
        </button>
        <!-- <div class="today-weather" data-material="format_underlined"></div> -->
        <button type="button" class="mdl-button" data-style="nav" data-toggle-object="nav" data-callback="toggle_nav" data-material="arrow_forward" aria-label="menu"></button>
    </div>
    <div class="mdl-group">
        <button type="button" class="mdl-button" data-style="nav" data-material="light" aria-label="menu" data-toggle-object="darkmode" data-callback="toggle_darkmode"></button>
        <button type="button" class="mdl-button" data-style="nav" data-material="grid_on" aria-label="menu"></button>
        <a href="../error.html" target="_blank" class="mdl-button" data-style="nav" data-material="priority_high" aria-label="menu"></a>
    </div>
</div>
<nav class="base-nav" aria-labelledby="primary-navigation">
    <h2 id="primary-navigation" class="a11y-hidden">주 탐색창</h2>
    <h3 data-h="4">Convention</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/introduction/introduction">
                <span>introduction</span>
            </button>
        </li>
    </ul>
    <h3 data-h="4">Contents</h3>

    <h3 data-h="4">Event Components</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/selection/selection">
                <span>Selection</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/file/file">
                <span>File</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/audioplayer/audioplayer">
                <span>Audio Player</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/select/select">
                <span>Select</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/range/range">
                <span>Range</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/toggle/toggle">
                <span>Toggle</span>
            </button>
        </li>
        
        
        <li>
            <button type="button" data-href="./pages/timepicker/timepicker">
                <span>TimePicker<br>(only time)</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/picker/picker">
                <span>DatePicker<br>(IOS style)</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/datepicker/datepicker">
                <span>DatePicker<br>(Android style)</span>
            </button>
        </li>
    </ul>

    <h3 data-h="4">Quiz Components</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/dragLine/dragLine">
                <span>Drag Line</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/dragDrop/dragDrop">
                <span>Drag Drop</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/dragDrop2/dragDrop2">
                <span>Drag Drop2</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/textLine/textLine">
                <span>Text Line</span>
            </button>
        </li>
    </ul>

    <h3 data-h="4">Effect Components</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/counter/counter">
                <span>Counter</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/loading/loading">
                <span>Loading</span>
            </button>
        </li>
       
    </ul>

    <h3 data-h="4">Layout Components</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/accordion/accordion">
                <span>Accordion</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/layer/layer">
                <span>Layer</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/tab/tab">
                <span>Tab</span>
            </button>
        </li>
    </ul>

    <h3 data-h="4">ETC</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/IAboard/IAboard">
                <span>IA Board</span>
            </button>
        </li>
    </ul>

    <h3 data-h="4">Web Accessibility</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/a11y/a11y">
                <span>접근성</span>
            </button>
        </li>
       
    </ul>
</nav>