<div class="base-header-wrap">
    <div class="mdl-group">
        <button type="button" class="mdl-button" data-style="weather" aria-label="today weather" data-toggle-object="weather" data-callback="toggle_weather">
            <span class="icon">globe_asia</span>
            <span class="temperature">0</span>
        </button>
        <!-- <div class="today-weather" data-material="format_underlined"></div> -->
        <button type="button" class="mdl-button" data-style="nav" data-toggle-object="nav" data-callback="toggle_nav" data-material="arrow_forward" aria-label="menu"></button>
    </div>
    <div class="mdl-group">
        <button type="button" class="mdl-button" data-style="nav" data-material="light" aria-label="menu"></button>
        <button type="button" class="mdl-button" data-style="nav" data-material="grid_on" aria-label="menu"></button>
        <a href="../error.html" target="_blank" class="mdl-button" data-style="nav" data-material="priority_high" aria-label="menu"></a>
    </div>
</div>
<nav class="base-nav" aria-labelledby="primary-navigation">
    <h2 id="primary-navigation" class="a11y-hidden">주 탐색창</h2>
    <h3 data-h="3">Convention</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/introduction">
                <span>introduction</span>
            </button>
        </li>
    </ul>
    <h3 data-h="3">Contents</h3>
    <h3 data-h="3">Common</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/toggle">
                <span>Toggle</span>
            </button>
        </li>
       
    </ul>
    <h3 data-h="3">Components</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/modal">
                <span>Modal</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/counter">
                <span>Counter Up</span>
            </button>
        </li>
       
        <li>
            <button type="button" data-href="./pages/IAboard">
                <span>IA Board</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/drawLine">
                <span>Draw Line</span>
            </button>
        </li>
        <li>
            <button type="button" data-href="./pages/tab">
                <span>Tab</span>
            </button>
        </li>
       
    </ul>
    <h3 data-h="3">Web Accessibility</h3>
    <ul>
        <li>
            <button type="button" data-href="./pages/a11y">
                <span>접근성</span>
            </button>
        </li>
       
    </ul>
</nav>